Repository rocktec57/wp_openverse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Create the `NoticeBar` component
  src/components/NoticeBar/NoticeBar.vue
  src/components/NoticeBar/meta/NoticeBar.stories.mdx
  tailwind.config.js
Due: eslint --fix, prettier --write

Create the CC Search → Openverse migration notice
  src/components/MigrationNotice.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix, prettier --write

Use span prevent line break
  src/components/MigrationNotice.vue
Due: eslint --fix, prettier --write

Store whether CC referred to the app
  src/store-modules/mutation-types.js
  src/store-modules/nav-store.js
Due: eslint --fix, prettier --write

Rename file to reflect its purpose
  nuxt.config.js
  src/plugins/url-change.js
Due: eslint --fix, prettier --write

Show migration notice if referred by CC
  src/layouts/embedded-with-nav-search.vue
  src/layouts/embedded.vue
Due: eslint --fix, prettier --write

Check query params on app launch
  nuxt.config.js
  src/plugins/migration-notice.js
Due: eslint --fix, prettier --write

Use `v-show` instead of `v-if` to prevent SSR-client discrepancies
  src/layouts/embedded-with-nav-search.vue
  src/layouts/embedded.vue
Due: eslint --fix, prettier --write

Hide migration notice on navigation
  nuxt.config.js
  src/middleware/middleware.js
Due: eslint --fix, prettier --write

Add a label for a11y
  data/labels.yml
Due: none

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: none

Include the a11y label in the PR label check
  .github/workflows/pr_label_check.yml
Due: none

Update data/labels.yml
  data/labels.yml
Due: none

Move import of mixins to embedded layouts
  src/layouts/embedded-with-nav-search.vue
  src/layouts/embedded.vue
  src/pages/about.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/index.vue
  src/pages/meta-search.vue
  src/pages/photos/_id.vue
  src/pages/search-help.vue
  src/pages/search.vue
  src/pages/sources.vue
Due: eslint --fix, prettier --write

Center the input form in HeroSection
  src/components/HeroSection.vue
Due: eslint --fix, prettier --write

Simplify unnecessarily verbose check
  src/plugins/migration-notice.js
Due: eslint --fix, prettier --write

Fix incomplete documentation
  src/components/NoticeBar/NoticeBar.vue
Due: eslint --fix, prettier --write

Install YAML parser
  js/package-lock.json
  js/package.json
Due: none

Show dropdowns over search form input
  src/components/Dropdown.vue
  src/styles/components/navbar.sass
Due: eslint --fix, prettier --write

Recover icons from Vocabulary
  src/styles/utilities/initial-variables.scss
Due: none

Manually add vocabulary icons code
  src/assets/fonts.css
  src/styles/utilities/icon-font.scss
  src/styles/utilities/initial-variables.scss
  src/styles/vocabulary.scss
Due: none

Add documentation
  src/styles/utilities/icon-font.scss
Due: none

Create a Node script to post the week's updates to Make
  js/src/last_week_tonight.js
Due: eslint --fix, prettier --write

Create the workflow for posting to Make weekly
  .github/GITHUB.md
  .github/workflows/weekly_updates.yml
Due: none

Move text-color to a higher level to allow overriding
  src/components/AudioTrack/PlayPause.vue
Due: eslint --fix, prettier --write

Use the `.row-track` class to narrow down unscoped styles
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix, prettier --write

Use slot props to allow layouts to modify components
  src/components/AudioTrack/AudioTrack.vue
Due: eslint --fix, prettier --write

Remove redundant class
  src/components/AudioTrack/Waveform.vue
Due: eslint --fix, prettier --write

Update README.md (#66)
  README.md
Due: none

Remove `CODEBASE.md` and link to the handbook from the `README.md` file
  CODEBASE.md
  README.md
Due: none

Uppercase the 'f' in 'Frontend'
  README.md
Due: none

Make the link to the handbook absolute
  README.md
Due: none

Add title bottom spacing
  src/pages/search-help.vue
Due: eslint --fix, prettier --write

Add recreate recipe
  README.md
  justfile
Due: none

Expand 'Thumb' to 'Thumbnail' for clarity
  src/components/AudioTrack/AudioThumbnail.vue
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix, prettier --write

Fix a typo in the documentation
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Move the wrapper from thumbnail to layout
  src/components/AudioTrack/AudioThumbnail.vue
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix, prettier --write

Use the correct type annotations for destructured args
  src/store-modules/active-media-store.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.mdx)
