Repository rocktec57/wp_openverse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Retire common_api_workflows, clean up config (#296)
  openverse_catalog/dags/common/config.py
  openverse_catalog/dags/common/dag_factory.py
  openverse_catalog/dags/retired/common_api_workflows.py
  tests/dags/test_common_api_workflows.py
Due: none

Bump pytest-django from 4.4.0 to 4.5.1 in /openverse_api (#387)
  openverse_api/Pipfile.lock
Due: none

Redirect on image detail page (#492)
  README.md
  nuxt.config.js
  package-lock.json
  package.json
  test/e2e/image-detail.spec.js
Due: eslint --fix, prettier --write

Add progressive TypeScript compilation (#503)
  .github/workflows/pre-build.yaml
  .husky/pre-commit
  jsconfig.json
  package-lock.json
  package.json
  src/composables/use-event-listener-outside.js
  tsconfig.json
Due: eslint --fix, prettier --write

Add a transform step after receiving data from the API (#497)
  src/components/AudioResultsList.vue
  src/data/audio-service.js
  src/data/base-media-service.js
  src/data/image-service.js
  src/pages/search.vue
  src/store/media.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix, prettier --write

Specific error message for auth errors on request, improve tests (#295)
  openverse_catalog/dags/common/requester.py
  tests/dags/common/test_requester.py
Due: none

Refactor delay tests to prevent them from being flaky (#298)
  tests/dags/common/test_requester.py
Due: none

Slack alerting for DAG failures (#297)
  DEPLOY.md
  env.template
  openverse_catalog/dags/common/dag_factory.py
  openverse_catalog/dags/common/slack.py
  openverse_catalog/dags/database/loader_workflow.py
  openverse_catalog/dags/database/recreate_audio_popularity_calculation.py
  openverse_catalog/dags/database/recreate_image_popularity_calculation.py
  openverse_catalog/dags/database/refresh_all_audio_popularity_data.py
  openverse_catalog/dags/database/refresh_all_image_popularity_data.py
  openverse_catalog/dags/database/refresh_audio_view_data.py
  openverse_catalog/dags/database/refresh_image_view_data.py
  openverse_catalog/dags/maintenance/airflow_log_cleanup_workflow.py
  openverse_catalog/dags/oauth2/authorize_dag.py
  openverse_catalog/dags/oauth2/token_refresh_dag.py
  tests/dags/common/test_slack.py
Due: none

Remove unnecessary logging.basicConfig calls (#299)
  openverse_catalog/dags/common/etl/scripts/ExtractCCLinks.py
  openverse_catalog/dags/common/log_cleanup.py
  openverse_catalog/dags/commoncrawl/commoncrawl_etl.py
  openverse_catalog/dags/commoncrawl/commoncrawl_scripts/commoncrawl_s3_syncer/SyncImageProviders.py
  openverse_catalog/dags/database/image_expiration_workflow.py
  openverse_catalog/dags/database/recreate_audio_popularity_calculation.py
  openverse_catalog/dags/database/recreate_image_popularity_calculation.py
  openverse_catalog/dags/database/refresh_all_audio_popularity_data.py
  openverse_catalog/dags/database/refresh_all_image_popularity_data.py
  openverse_catalog/dags/database/refresh_audio_view_data.py
  openverse_catalog/dags/database/refresh_image_view_data.py
  openverse_catalog/dags/maintenance/airflow_log_cleanup_workflow.py
  openverse_catalog/dags/providers/brooklyn_museum_workflow.py
  openverse_catalog/dags/providers/check_new_smithsonian_unit_codes_workflow.py
  openverse_catalog/dags/providers/cleveland_museum_workflow.py
  openverse_catalog/dags/providers/europeana_ingestion_workflow.py
  openverse_catalog/dags/providers/europeana_workflow.py
  openverse_catalog/dags/providers/finnish_museums_workflow.py
  openverse_catalog/dags/providers/flickr_ingestion_workflow.py
  openverse_catalog/dags/providers/flickr_workflow.py
  openverse_catalog/dags/providers/freesound_workflow.py
  openverse_catalog/dags/providers/jamendo_workflow.py
  openverse_catalog/dags/providers/metropolitan_museum_workflow.py
  openverse_catalog/dags/providers/museum_victoria_workflow.py
  openverse_catalog/dags/providers/nypl_workflow.py
  openverse_catalog/dags/providers/phylopic_workflow.py
  openverse_catalog/dags/providers/provider_api_scripts/Thingiverse.py
  tests/dags/providers/provider_api_scripts/test_flickr.py
Due: none

Remove `get_*_operator` functions, simplify commoncrawl logic (#301)
  openverse_catalog/dags/.airflowignore
  openverse_catalog/dags/common/dag_factory.py
  openverse_catalog/dags/common/etl/operators.py
  openverse_catalog/dags/common/loader/operators.py
  openverse_catalog/dags/commoncrawl/commoncrawl_etl.py
  openverse_catalog/dags/commoncrawl/commoncrawl_utils.py
  openverse_catalog/dags/commoncrawl/sync_commoncrawl_workflow.py
  openverse_catalog/dags/database/image_expiration_workflow.py
  openverse_catalog/dags/maintenance/airflow_log_cleanup_workflow.py
  openverse_catalog/dags/providers/check_new_smithsonian_unit_codes_workflow.py
  tests/dags/common/etl/test_commoncrawl_utils.py
Due: none

Fix API endpoints for related media and provider stats (#509)
  src/data/api-service.js
  src/data/audio-service.js
  src/data/existing-audio-providers.js
  src/data/existing-image-providers.js
  src/data/image-service.js
  src/data/media-provider-service.js
  src/pages/sources.vue
  src/store/provider.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix, prettier --write

Fix page_size setting for related media (#394)
  openverse_api/catalog/api/views/media_views.py
Due: none

Bump lxml from 4.6.3 to 4.6.5 (#303)
  requirements_prod.txt
Due: none

Add ts-node to stop Storybook complaining about tsconfig.json (#517)
  package-lock.json
  package.json
Due: none

Fix audio RTL visual bugs (#514)
  src/components/AudioDetails/Tags.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/MediaTag/MediaTag.vue
  test/unit/specs/components/MediaTag/media-tag.spec.js
Due: eslint --fix, prettier --write

Update AudioTrack layouts as per new designs (#504)
  nuxt.config.js
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/Waveform.vue
  src/components/AudioTrack/layouts/Box.vue
  src/components/AudioTrack/layouts/Full.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
  src/components/AudioTrack/meta/Waveform.stories.mdx
  src/components/Skeleton/AudioTrackSkeleton.vue
  src/components/Skeleton/VBone.vue
  src/constants/screens.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Refactor search results components and media fetching (#382)
  nuxt.config.js
  src/components/AudioResultsList.vue
  src/components/Filters/FilterDisplay.vue
  src/components/ImageDetails/RelatedImages.vue
  src/components/ImageGrid/ImageGrid.vue
  src/components/ImageGrid/LoadMoreButton.vue
  src/components/SearchGrid.vue
  src/components/SearchGridManualLoad.vue
  src/components/Skeleton/GridSkeleton.vue
  src/components/VHeroSection.vue
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/components/VMetaSearch/VMetaSourceList.vue
  src/components/VSaferBrowsing.vue
  src/components/VScrollButton.vue
  src/components/VSearchGrid.vue
  src/components/VSearchRating.vue
  src/composables/use-load-more.js
  src/pages/index.vue
  src/pages/search.vue
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
  src/pages/search/search-page.types.js
  src/pages/search/video.vue
  src/store/media.js
  src/store/search.js
  src/store/types.d.ts
  src/utils/get-legacy-source-url.js
  test/e2e/content-types.spec.js
  test/e2e/homepage.spec.js
  test/e2e/search.spec.js
  test/unit/specs/components/__snapshots__/filter-display.spec.js.snap
  test/unit/specs/components/hero-section.spec.js
  test/unit/specs/components/image-grid.spec.js
  test/unit/specs/components/scroll-button.spec.js
  test/unit/specs/components/search-grid-wrapper.spec.js
  test/unit/specs/components/search-grid.spec.js
  test/unit/specs/components/search-rating.spec.js
  test/unit/specs/store/media-store.spec.js
Due: eslint --fix, prettier --write

Check if value is numeric before converting to int (#398)
  openverse_api/catalog/api/utils/pagination.py
Due: none

Bump django-redis from 5.0.0 to 5.1.0 in /openverse_api (#388)
  openverse_api/Pipfile.lock
Due: none

Add docker volumes for local development (#408)
  docker-compose.yml
Due: none

Meta Search Provider: The Greats added (ticket #299) (#526)
  src/utils/get-legacy-source-url.js
Due: eslint --fix, prettier --write

Use pnpm (and fix Storybook issues as a result) (#525)
  .github/workflows/ci.yml
  .github/workflows/pre-build.yaml
  .husky/pre-commit
  .husky/pre-push
  .npmrc
  .prettierignore
  Dockerfile
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
  src/components/AudioTrack/meta/flac-waveform.json
  src/components/AudioTrack/meta/mp3-waveform.json
  src/components/AudioTrack/meta/ogg-waveform.json
  src/components/AudioTrack/meta/wav-waveform.json
  src/components/VItemGroup/VItemGroup.vue
  src/components/VModal/VModalContent.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/locales/scripts/README.md
  src/locales/scripts/get-translations.js
Due: eslint --fix, prettier --write

Unify VLicense casing (#527)
  src/components/License/meta/VLicense.stories.mdx
Due: prettier --write

Replace babel-eslint with @babel/eslint-parser (#528)
  .eslintrc.js
  .gitignore
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Bump boto3 from 1.20.20 to 1.20.24 in /openverse_api (#405)
  openverse_api/Pipfile.lock
Due: none

Bump ipython from 7.30.0 to 7.30.1 in /openverse_api (#384)
  openverse_api/Pipfile.lock
Due: none

Add translation notification banner (#457)
  package.json
  pnpm-lock.yaml
  src/components/NotificationBanner.vue
  src/components/TranslationStatusBanner.vue
  src/composables/types.js
  src/composables/use-i18n-sync.js
  src/composables/use-storage.js
  src/layouts/default.vue
  src/layouts/with-nav-search.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/locales/scripts/create-wp-locale-list.js
  src/locales/scripts/get-translations-status.js
  src/locales/scripts/get-translations.js
  src/locales/scripts/get-validated-locales.js
  src/locales/scripts/locales-list.json
  src/locales/scripts/types.d.ts
  src/locales/scripts/untranslated-locales.json
  src/locales/scripts/update-locale-list.js
  src/locales/scripts/wp-locales.json
  src/mixins/i18n-sync.js
  src/store/notification.js
Due: eslint --fix, prettier --write

Bump django-cors-headers from 3.10.0 to 3.10.1 in /openverse_api (#383)
  openverse_api/Pipfile.lock
Due: none

Bump pre-commit from 2.15.0 to 2.16.0 in /openverse_api (#385)
  openverse_api/Pipfile.lock
Due: none

Readme: fix link to Openverse P2 (#127)
  README.md
Due: none

Add Image Categories (#302)
  openverse_catalog/dags/common/loader/provider_details.py
  openverse_catalog/dags/providers/provider_api_scripts/flickr.py
  openverse_catalog/dags/providers/provider_api_scripts/stocksnap.py
  tests/dags/providers/provider_api_scripts/resources/flickr/image_data_complete_example.json
  tests/dags/providers/provider_api_scripts/test_flickr.py
  tests/dags/providers/provider_api_scripts/test_stocksnap.py
Due: none

Fix filters modal position in iframe (#537)
  src/components/AppModal.vue
  src/locales/scripts/wp-locales.json
Due: eslint --fix, prettier --write

Add technology labels (#128)
  data/labels.yml
Due: none

Fix runtime Dockerfile issues
  Dockerfile
Due: none

Rename indices back to original during data refresh (#415)
  ingestion_server/README.md
  ingestion_server/ingestion_server/ingest.py
  ingestion_server/ingestion_server/queries.py
  ingestion_server/mock_schemas/audio.sql
  ingestion_server/mock_schemas/image.sql
  ingestion_server/test/gen_integration_compose.py
  ingestion_server/test/integration_test.py
  ingestion_server/test/mock_schemas/README.md
  ingestion_server/test/mock_schemas/audio.sql
  ingestion_server/test/mock_schemas/audioset.sql
  ingestion_server/test/mock_schemas/image.sql
  ingestion_server/test/run_test.sh
  justfile
Due: none

Add PR ping functionality to the infra repo (#129)
  .github/sync.yml
Due: none

Update wp-locales.json (#545)
  src/locales/scripts/wp-locales.json
Due: none

Upgrade Tailwind to version 3 with JIT mode (#540)
  nuxt.config.js
  package.json
  pnpm-lock.yaml
  src/components/SearchGridForm.vue
  src/components/VHeroSection.vue
  src/constants/screens.js
  src/styles/tailwind.css
  tailwind.config.js
  tailwind.safelist.txt
Due: eslint --fix, prettier --write

Add unique indices to catalog (#306)
  docker/local_postgres/0003_openledger_image_schema.sql
  docker/local_postgres/0006_openledger_audio_schema.sql
Due: none

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.mdx)
