Repository rocktec57/wp_openverse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Unset default size for play-pause button
  src/components/AudioTrack/PlayPause.vue
  src/components/AudioTrack/meta/PlayPause.stories.mdx
Due: eslint --fix, prettier --write

Extend AudioTrack to be composable using layouts
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/layouts/Full.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: eslint --fix, prettier --write

Document single-play behavior with a story
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Change base font-size to 14px
  src/styles/base/generic.sass
Due: none

Change audio title to a `h1` tag
  src/components/AudioTrack/layouts/Full.vue
Due: eslint --fix, prettier --write

Change font-sizes to a 16px scale with unchanged pixel values
  src/styles/base/generic.sass
  tailwind.config.js
Due: eslint --fix, prettier --write

Improve fetching related and handling of not found audios
  src/pages/audios/_id.vue
  src/store-modules/action-types.js
  src/store-modules/mutation-types.js
  src/store-modules/related-media-store.js
  src/store-modules/search-store.js
Due: eslint --fix, prettier --write

Make the layouts responsible for stying the audio UI
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/PlayPause.vue
  src/components/AudioTrack/Waveform.vue
  src/components/AudioTrack/layouts/Full.vue
  tailwind.config.js
Due: eslint --fix, prettier --write

Populate creator and license info on the audio samples
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Create a row layout for the audio player
  src/components/AudioTrack/AudioThumb.vue
  src/components/AudioTrack/AudioTrack.vue
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
  src/locales/en.json
  src/locales/po-files/openverse.pot
  tailwind.config.js
Due: eslint --fix, prettier --write

Improve styles, licenseURL prop and error message
  src/components/MediaInfo/CopyLicense.vue
  src/components/MediaInfo/MediaReuse.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/audios/_id.vue
  test/unit/specs/store/search-store.spec.js
Due: eslint --fix, prettier --write

Remove duplicate font loading
  src/styles/utilities/initial-variables.scss
Due: none

Remove infinite loading code
  src/components/SearchGridManualLoad.vue
Due: eslint --fix, prettier --write

Create the `License` component for rending the license name and icon
  src/components/License/License.vue
  src/components/License/meta/License.stories.mdx
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix, prettier --write

Beautify duration and license rendering
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: eslint --fix, prettier --write

Use row layout for multiple players
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: prettier --write

Increase separation for the CC icon
  src/components/License/License.vue
Due: eslint --fix, prettier --write

Update the full layout to show artist and duration
  src/components/AudioTrack/layouts/Full.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
Due: eslint --fix, prettier --write

Translate audio categories
  src/components/AudioTrack/layouts/Row.vue
  src/components/AudioTrack/meta/AudioTrack.stories.mdx
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: eslint --fix, prettier --write

Clean up event parameter names
  src/components/DropdownButton.vue
Due: eslint --fix, prettier --write

Fix focus styles
  src/components/DropdownButton.vue
Due: eslint --fix, prettier --write

Rise the search-form in z-index
  src/components/SearchGridForm.vue
Due: eslint --fix, prettier --write

Update acknowledgements
  README.md
Due: none

Update acknowledgements section
  README.md
Due: none

Extract license constants into a separate file for reuse
  src/components/License/License.vue
  src/constants/license.js
Due: eslint --fix, prettier --write

Change `div` to `article` and link to the single audio page
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix, prettier --write

Use SVGs instead of icon font for licenses
  src/assets/licenses/by.svg
  src/assets/licenses/cc-logo.svg
  src/assets/licenses/cc0.svg
  src/assets/licenses/nc.svg
  src/assets/licenses/nd.svg
  src/assets/licenses/pdm.svg
  src/assets/licenses/sa.svg
  src/components/License/License.vue
  src/constants/license.js
  tailwind.config.js
Due: eslint --fix, prettier --write

🔄 Synced local '.github/workflows/new_issues.yml' with remote '.github/workflows/new_issues.yml'
  .github/workflows/new_issues.yml
Due: none

🔄 Synced local '.github/workflows/new_prs.yml' with remote '.github/workflows/new_prs.yml'
  .github/workflows/new_prs.yml
Due: none

🔄 Created local '.github/workflows/pr_label_check.yml' from remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.mdx)
