Repository rocktec57/wp_openverse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,vue}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Add comments to pagination and dead link mask and validation (#870)
  api/catalog/api/controllers/search_controller.py
  api/catalog/api/utils/validate_images.py
Due: none

Add Openverse email to DAG default args (#683)
  openverse_catalog/dags/common/constants.py
Due: none

Add iNaturalist.org metadata (#549)
  DAGs.md
  docker-compose.override.yml
  docker/local_postgres/0002_aws_s3_mock.sql
  justfile
  openverse_catalog/dags/common/loader/provider_details.py
  openverse_catalog/dags/providers/provider_api_scripts/inaturalist.py
  openverse_catalog/dags/providers/provider_csv_load_scripts/inaturalist/create_schema.sql
  openverse_catalog/dags/providers/provider_csv_load_scripts/inaturalist/export_to_json.template.sql
  openverse_catalog/dags/providers/provider_csv_load_scripts/inaturalist/observations.sql
  openverse_catalog/dags/providers/provider_csv_load_scripts/inaturalist/observers.sql
  openverse_catalog/dags/providers/provider_csv_load_scripts/inaturalist/photos.sql
  openverse_catalog/dags/providers/provider_csv_load_scripts/inaturalist/taxa.sql
  openverse_catalog/dags/providers/provider_dag_factory.py
  openverse_catalog/dags/providers/provider_workflow_dag_factory.py
  openverse_catalog/dags/providers/provider_workflows.py
  tests/dags/providers/provider_api_scripts/resources/inaturalist/full_db_response.txt
  tests/dags/providers/provider_api_scripts/resources/inaturalist/pull_sample_records.py
  tests/dags/providers/provider_api_scripts/test_inaturalist.py
  tests/s3-data/inaturalist-open-data/observations.csv.gz
  tests/s3-data/inaturalist-open-data/observers.csv.gz
  tests/s3-data/inaturalist-open-data/photos.csv.gz
  tests/s3-data/inaturalist-open-data/taxa.csv.gz
Due: none

Vendor in Reakit functions (#1653)
  package.json
  pnpm-lock.yaml
  src/components/VItemGroup/VItemGroup.vue
  src/components/VSkipToContentContainer.vue
  src/composables/use-body-scroll-lock.ts
  src/composables/use-event-listener-outside.js
  src/composables/use-focus-on-blur.js
  src/composables/use-focus-on-hide.js
  src/composables/use-focus-on-show.js
  src/composables/use-hide-on-click-outside.js
  src/utils/a11y/is-native-tabbable.ts
  src/utils/dom/get-document.ts
  src/utils/reakit-utils/README.md
  src/utils/reakit-utils/dom.ts
  src/utils/reakit-utils/focus.ts
  test/unit/specs/components/v-popover.spec.js
  tsconfig.json
  typings/csstype/index.d.ts
Due: eslint --fix, prettier --write

Update pinia and @pinia/nuxt (#1704)
  package.json
  pnpm-lock.yaml
  test/tapes/detail/audio/632d0076-fdbd-4919-8b8f-b498ef246ee8_close.json5
  test/tapes/related/audio/632d0076-fdbd-4919-8b8f-b498ef246ee8_close.json5
  test/tapes/search_audio_q=honey_keep-alive.json5
  test/tapes/search_images_q=honey_keep-alive.json5
Due: none

🔄 Synced file(s) with WordPress/openverse (#1710)
  .github/workflows/actionlint.yml
  .github/workflows/label_new_pr.yml
Due: none

Ensure that license URL is not blank (#888)
  api/catalog/api/serializers/media_serializers.py
  api/test/unit/serializers/media_serializers_test.py
Due: none

Use vue-portal for VTeleport (#1716)
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/components/VContentSwitcher/VSearchTypeButton.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VSidebarContent.vue
  src/components/VModal/VModalContent.vue
  src/components/VModal/VModalTarget.vue
  src/components/VModal/VSidebarTarget.vue
  src/components/VSkipToContentContainer.vue
  src/components/VTeleport/README.md
  src/components/VTeleport/VTeleport.vue
  src/components/VTeleport/VTeleportTarget.vue
  src/components/VTeleport/meta/targets.js
  src/layouts/default.vue
Due: eslint --fix, prettier --write

Standardize on datetime over pendulum (#678)
  openverse_catalog/dags/providers/factory_utils.py
  tests/dags/common/operators/test_postgres_result.py
  tests/dags/providers/test_factory_utils.py
  tests/dags/providers/test_provider_dag_factory.py
Due: none

Add validate spec command (#806)
  .github/workflows/ci_cd.yml
  .gitignore
  api/Pipfile
  api/Pipfile.lock
  api/catalog/api/views/oauth2_views.py
  api/catalog/management/commands/validateopenapischema.py
  api/catalog/settings.py
  api/catalog/urls/__init__.py
  api/catalog/urls/auth_tokens.py
  api/catalog/urls/swagger.py
  justfile
Due: none

Update `throttle-debounce` (#1705)
  package.json
  pnpm-lock.yaml
  src/composables/use-scroll.js
Due: eslint --fix, prettier --write

Convert active media to options store (#1628)
  src/stores/active-media.ts
  test/unit/specs/stores/active-media-store.spec.js
Due: eslint --fix, prettier --write

Update CODEOWNERS (#677)
  .github/CODEOWNERS
Due: none

Add `minimum-change-threshold` to bundle size job and ignore language files (#1720)
  .github/workflows/bundle_size.yml
Due: none

Fixes vcopybutton focus (#1670)
  src/components/VCopyButton.vue
Due: eslint --fix, prettier --write

Doc improvement (#1712)
  README.md
Due: none

Add aria-label to VLogoButton (#1721)
  src/components/VHeader/VLogoButton.vue
  src/locales/en.json
Due: eslint --fix, prettier --write

fixed warning for browserslist (#1723)
  pnpm-lock.yaml
Due: none

Add unit tests for _paginate_with_dead_link_mask (#891)
  api/catalog/api/controllers/search_controller.py
  api/test/unit/controllers/test_search_controller.py
Due: none

Bump iNaturalist timeouts to 5 days (#691)
  openverse_catalog/dags/providers/provider_workflows.py
Due: none

Incorrect text styles in metadata information (#1645)
  src/components/VAudioDetails/VAudioDetails.vue
Due: eslint --fix, prettier --write

Use the specific tag for staging deployments (#1706)
  .github/workflows/ghcr.yml
Due: none

Update Audio and Image's action button text (#1690)
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/locales/en.json
  test/unit/specs/components/AudioTrack/v-full-layout.spec.js
Due: eslint --fix, prettier --write

Clean event listener on `use-hide-on-click-outside` composable (#1727)
  src/composables/use-hide-on-click-outside.js
Due: eslint --fix, prettier --write

Allow DAGs to silence only errors matching predicate (#654)
  openverse_catalog/dags/common/slack.py
  openverse_catalog/dags/maintenance/check_silenced_dags/check_silenced_dags.py
  tests/dags/common/test_slack.py
  tests/dags/maintenance/test_check_silenced_dags.py
Due: none

Updated variant name from `plain-dangerous` to `plain--avoid` (#1726)
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VButton.vue
  src/components/VTabs/VTab.vue
Due: eslint --fix, prettier --write

Fix typo in concurrency cancellation check (#1729)
  .github/workflows/ghcr.yml
Due: none

Always record provider run duration (#694)
  openverse_catalog/dags/providers/factory_utils.py
  tests/dags/providers/test_factory_utils.py
Due: none

Set maximum height to the popover to prevent cut-off on smaller screens (#1686)
  src/components/VContentSwitcher/VSearchTypePopover.vue
  src/components/VHeader/VPageMenu/VDesktopPageMenu.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/components/VPopover/VPopoverContent.vue
  src/composables/use-popover-content.js
  src/composables/use-popper.js
  src/composables/use-popper.ts
  src/composables/use-window-size.ts
  typings/csstype/index.d.ts
Due: eslint --fix, prettier --write

Add design issue template (#1733)
  .github/ISSUE_TEMPLATE/design_changes.md
Due: none

Fix `VWaveform` story and silence mocked `$sentry` call logs (#1744)
  src/components/VAudioTrack/meta/VWaveform.stories.mdx
  src/utils/sentry-config.ts
Due: prettier --write

Replace use-fetch-state with simpler implementation (#1747)
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VImageDetails/VRelatedImages.vue
  src/components/VImageGrid/VImageGrid.vue
  src/components/VLoadMore.vue
  src/components/VSearchGrid.vue
  src/composables/use-fetch-state.ts
  src/models/fetch-state.ts
  src/pages/search/search-page.types.ts
  src/stores/media/index.ts
  src/stores/media/related-media.ts
  src/stores/media/single-result.ts
  src/stores/provider.ts
  test/unit/specs/composables/use-fetch-state.spec.ts
  test/unit/specs/stores/media-store.spec.js
  test/unit/specs/stores/provider.spec.js
  test/unit/specs/stores/single-result-store.spec.js
Due: eslint --fix, prettier --write

Render filters sidebar clientside only (hotfix for #1748) (#1749)
  src/components/VHeader/VHeaderFilter.vue
Due: eslint --fix, prettier --write

Update Vue to v2.7 (#1635)
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
  src/components/VErrorSection/VErrorImage.vue
  src/composables/use-focus-on-show.js
  test/playwright/utils/breakpoints.ts
  test/playwright/utils/navigation.ts
  tsconfig.json
  typings/csstype/index.d.ts
Due: eslint --fix, prettier --write

Simplify Filters to fix the SSR problem (#1751)
  package.json
  src/components/VHeader/VHeader.vue
  src/components/VHeader/VHeaderFilter.vue
  src/components/VHeader/VSidebarContent.vue
  src/composables/use-filter-sidebar-visibility.ts
  test/playwright/playwright.config.ts
  test/playwright/utils/navigation.ts
  test/playwright/visual-regression/components/audio-results.spec.ts
  test/playwright/visual-regression/components/header.spec.ts
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-xs-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-2xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-lg-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-md-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-sm-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-xl-linux.png
  test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-xs-linux.png
Due: eslint --fix, prettier --write

Refactor Metropolitan Museum of Art to use ProviderDataIngester (#674)
  DAGs.md
  openverse_catalog/dags/common/loader/provider_details.py
  openverse_catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  openverse_catalog/dags/providers/provider_workflows.py
  tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/read_met_csv.py
  tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/sample_additional_image_data.json
  tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/sample_image_data.json
  tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
Due: none

hardcodes the test ingestion limit to 1 000 000 (#705)
  justfile
Due: none

Wrap piexif.dump call with try/except (#903)
  api/catalog/api/views/image_views.py
Due: none
