Repository rocktec57/wp_openverse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Stop destroying test output with automatic logging (#569)
  .github/workflows/ci_cd.yml
  api/test/run_test.sh
  ingestion_server/test/run_test.sh
  justfile
Due: none

Prune and narrow `# noqa` comments (#639)
  DOCUMENTATION_GUIDELINES.md
  api/catalog/api/docs/audio_docs.py
  api/catalog/api/docs/image_docs.py
  api/catalog/api/docs/media_docs.py
  api/catalog/api/examples/audio_requests.py
  api/catalog/api/examples/audio_responses.py
  api/catalog/api/examples/image_requests.py
  api/catalog/api/examples/image_responses.py
  api/catalog/api/views/oauth2_views.py
  api/catalog/example_responses.py
  api/catalog/logger.py
  api/catalog/settings.py
  api/docs/conf.py
  api/test/examples_test.py
Due: none

Fix command for code formatting (#1239)
  package.json
Due: none

Fix unruly URLs in source page table for small viewports (#1241)
  bin/playwright.sh
  package.json
  pnpm-lock.yaml
  src/pages/sources.vue
  test/playwright/utils/breakpoints.ts
  test/playwright/utils/page.ts
  test/playwright/visual-regression/homepage.spec.ts
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-2xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-lg-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-md-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-ltr-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-2xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-lg-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-md-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/focused-search-rtl-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-ltr-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
  test/proxy.js
Due: eslint --fix, prettier --write

RFC: Monitoring across the stack (#193)
  .gitignore
  rfcs/20220307-monitoring_across_the_stack.md
Due: none

Add storybook visual regression tests (#1246)
  .github/workflows/ci.yml
  bin/playwright.sh
  docker-compose.playwright.yml
  jest.config.js
  package.json
  test/playwright/README.md
  test/storybook/README.md
  test/storybook/playwright.config.ts
  test/storybook/visual-regression/v-checkbox.spec.ts
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/default-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/off-linux.png
  test/storybook/visual-regression/v-checkbox.spec.ts-snapshots/on-linux.png
Due: eslint --fix, prettier --write

Fix linting error (#219)
  rfcs/20220307-monitoring_across_the_stack.md
Due: none

Convert `report-service` to TypeScript (#1227)
  src/components/VContentReport/VContentReportForm.vue
  src/components/VContentReport/VReportDescForm.vue
  src/components/VErrorSection/VErrorImage.vue
  src/components/VErrorSection/meta/VErrorSection.stories.mdx
  src/constants/content-report.js
  src/constants/content-report.ts
  src/constants/errors.ts
  src/data/report-service.ts
  test/tapes/detail_images_802d76cd-84cf-45bc-81ac-610331dab420_keep-alive.json5
  test/tapes/thumb_images_e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  tsconfig.json
Due: eslint --fix, prettier --write

Fix `storybook:build` command
  package.json
Due: none

Fix icon of dropdown button (#1208)
  src/assets/icons/caret-down.svg
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VDownloadButton.vue
  src/components/VDropdownButton.vue
  src/components/meta/VDownloadButton.stories.js
  src/components/meta/VDropdownButton.stories.js
  src/locales/po-files/openverse.pot
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/v-download-button.spec.js
  test/unit/specs/components/v-dropdown-button.spec.js
Due: eslint --fix, prettier --write

Change docker-compose restart policy for local development (#474)
  docker-compose.override.yml
Due: none

Refine configurations for the vue-i18n eslint plugin (#1252)
  .eslintrc.js
  package.json
  src/components/VFourOhFour.vue
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/locales/po-files/openverse.pot
  src/pages/about.vue
  src/pages/index.vue
  src/pages/meta-search.vue
  src/pages/sources.vue
Due: eslint --fix, prettier --write

TS-ify plugins and middleware (#1228)
  nuxt.config.ts
  src/middleware/middleware.ts
  src/plugins/focus-visible.ts
  src/plugins/migration-notice.ts
  src/plugins/ua-parse.ts
  src/plugins/url-change.ts
  src/plugins/vue-i18n.ts
  tsconfig.json
  typings/nuxt__types/index.d.ts
Due: none

Add manually triggered action for pushing docker image by SHA (#636)
  .github/workflows/push_docker_image.yml
  api/docs/guides/index.md
  api/docs/guides/publish.md
  api/docs/guides/test.md
Due: none

Improve the thumbnail service to support compression and WEBP (#630)
  .github/workflows/build_imaginary.yml
  api/catalog/api/docs/audio_docs.py
  api/catalog/api/docs/image_docs.py
  api/catalog/api/serializers/media_serializers.py
  api/catalog/api/views/audio_views.py
  api/catalog/api/views/image_views.py
  api/catalog/api/views/media_views.py
  api/catalog/settings.py
  api/docs/guides/quickstart.md
  api/env.docker
  api/env.template
  api/test/audio_integration_test.py
  api/test/image_integration_test.py
  api/test/media_integration.py
  docker-compose.yml
Due: none

(Slightly) speed up CI by skipping docs steps (#643)
  .github/workflows/ci_cd.yml
Due: none

Related media store (#1216)
  src/components/VAudioDetails/VRelatedAudio.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/components/VImageDetails/VRelatedImages.vue
  src/composables/use-fetch-state.ts
  src/composables/use-related.js
  src/data/media-service.ts
  src/locales/po-files/openverse.pot
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
  src/stores/media/index.ts
  src/stores/media/related-media.ts
  test/unit/specs/components/related-audios.spec.js
  test/unit/specs/components/related-images.spec.js
  test/unit/specs/stores/media-store.spec.js
Due: eslint --fix, prettier --write

Update Smithsonian Unit code checker DAG to alert to Slack (#452)
  openverse_catalog/dags/common/loader/provider_details.py
  openverse_catalog/dags/common/loader/smithsonian_unit_codes.py
  openverse_catalog/dags/providers/check_new_smithsonian_unit_codes_workflow.py
  openverse_catalog/dags/providers/provider_api_scripts/smithsonian.py
  tests/dags/common/loader/test_smithsonian_unit_codes.py
  tests/dags/providers/provider_api_scripts/test_smithsonian.py
  tests/dags/test_dag_parsing.py
Due: none

Convert `provider` store from Vuex to Pinia (#1158)
  .babelrc
  src/components/VAudioDetails/VAudioDetails.vue
  src/components/VContentReport/VContentReportPopover.vue
  src/components/VImageDetails/VImageDetails.vue
  src/constants/action-types.js
  src/constants/filters.ts
  src/constants/mutation-types.js
  src/constants/store-modules.js
  src/data/media-provider-service.js
  src/data/media-provider-service.ts
  src/data/media-service.ts
  src/middleware/middleware.ts
  src/models/media-provider.ts
  src/models/media.ts
  src/pages/sources.vue
  src/store/index.js
  src/store/provider.js
  src/store/types.ts
  src/stores/media/index.ts
  src/stores/provider.ts
  src/stores/search.ts
  src/utils/env.ts
  src/utils/pinia-state.ts
  src/utils/search-query-transform.ts
  test/storybook/playwright.config.ts
  test/tapes/related_images_802d76cd-84cf-45bc-81ac-610331dab420_keep-alive.json5
  test/tapes/thumb_images_802d76cd-84cf-45bc-81ac-610331dab420_keep-alive.json5
  test/tapes/thumb_images_e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  test/tapes/thumb_images_ea7e24ee-1374-4c49-9f6f-5c4529b701d8_keep-alive.json5
  test/unit/specs/store/provider.spec.js
  test/unit/specs/stores/media-store.spec.js
  test/unit/specs/stores/provider.spec.js
Due: eslint --fix, prettier --write

Convert search store to an options store (#1259)
  src/pages/index.vue
  src/stores/search.ts
  test/unit/specs/stores/search-store.spec.js
Due: eslint --fix, prettier --write

Convert `media` store to an options store (#1260)
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/locales/po-files/openverse.pot
  src/pages/audio/_id.vue
  src/pages/image/_id.vue
  src/pages/index.vue
  src/stores/media/index.ts
  src/stores/media/related-media.ts
  src/stores/media/single-result.ts
  test/unit/specs/stores/media-store.spec.js
  test/unit/specs/stores/single-result-store.spec.js
Due: eslint --fix, prettier --write

Update bimg version in imaginary Docker image (#647)
  .github/workflows/build_imaginary.yml
Due: none

Fix audio results not being keyboard accessible in all results view (#1243)
  src/components/VAllResultsGrid/VAudioCell.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VWarningSuppressor.vue
  src/constants/key-codes.ts
  src/locales/en.json
  src/locales/po-files/openverse.pot
  test/playwright/e2e/all-results-keyboard.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Use Value to track progress in shared memory (#644)
  ingestion_server/ingestion_server/api.py
Due: none

Tag on-demand image by specified commit (#645)
  .github/workflows/push_docker_image.yml
  api/docs/_static/publish_action_example.png
  api/docs/guides/publish.md
Due: none

Fix `alt_files` duplicates (#479)
  openverse_catalog/dags/common/storage/columns.py
  openverse_catalog/dags/providers/provider_api_scripts/freesound.py
Due: none

Remove usage of legacy classes (#1249)
  src/components/VMetaSearch/VMetaSearchForm.vue
Due: eslint --fix, prettier --write

Remove vuex (#1273)
  nuxt.config.ts
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/components/VHeader/meta/VFilterButton.stories.mdx
  src/components/VMetaSearch/VMetaSearchForm.vue
  src/components/VMetaSearch/VMetaSourceList.vue
  src/components/VSearchGrid.vue
  src/data/media-service.ts
  src/store/types.ts
  src/stores/search.ts
  src/utils/get-additional-sources.ts
  src/utils/prepare-search-query-params.ts
  src/utils/search-query-transform.ts
  test/unit/specs/components/related-audios.spec.js
Due: eslint --fix, prettier --write

Convert nav store to an options store (#1274)
  src/layouts/blank.vue
  src/layouts/default.vue
  src/middleware/middleware.ts
  src/plugins/migration-notice.ts
  src/plugins/url-change.ts
  src/stores/nav.ts
  src/stores/navigation.ts
  test/unit/specs/stores/nav-store.spec.js
Due: eslint --fix, prettier --write

Update banner styles (#1184)
  .eslintrc.js
  src/components/VDownloadButton.vue
  src/components/VIconButton/VIconButton.vue
  src/components/VMigrationNotice.vue
  src/components/VNotificationBanner.vue
  src/components/VTranslationStatusBanner.vue
  src/composables/use-event-listener.js
  src/composables/use-event-listener.ts
  src/composables/use-filter-sidebar-visibility.js
  src/composables/use-i18n-sync.js
  src/composables/use-storage.js
  src/composables/use-storage.ts
  src/layouts/blank.vue
  src/layouts/default.vue
  src/locales/po-files/openverse.pot
  src/utils/env.ts
  src/utils/local.ts
  test/playwright/e2e/migration-banner.spec.ts
  test/playwright/e2e/translation-banner.spec.ts
  test/playwright/visual-regression/homepage.spec.ts
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-ltr-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-ltr-xs-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-2xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-lg-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-md-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-sm-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-xl-linux.png
  test/playwright/visual-regression/homepage.spec.ts-snapshots/index-rtl-xs-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-2xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-lg-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-md-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-sm-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xl-linux.png
  test/playwright/visual-regression/sources.spec.ts-snapshots/sources-rtl-xs-linux.png
  test/unit/specs/components/v-download-button.spec.js
  tsconfig.json
Due: eslint --fix, prettier --write

TypeScript-ify use pages (#1247)
  src/composables/use-pages.ts
Due: none

Use singular `category` API param (#1177)
  src/stores/search.ts
  src/utils/search-query-transform.ts
  test/playwright/e2e/search-query-client.spec.ts
  test/tapes/search_images_q=cat&categories=photograph_close.json5
  test/unit/specs/utils/search-query-transform.spec.js
Due: eslint --fix, prettier --write

updated @nuxtjs/svg @nuxtjs/composition-api (#1248)
  package.json
  pnpm-lock.yaml
Due: none

Wikimedia: Catch bit rates that are greater than the int max (#475)
  openverse_catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Due: none

Add tailwind config viewer to GH pages (#1283)
  .github/workflows/gh-pages.yaml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/stories/Introduction.stories.mdx
Due: prettier --write

Upgrade all warnings to errors that we control (#1282)
  .eslintrc.js
  .lintstagedrc
  .storybook/.eslintrc.js
Due: eslint --fix, prettier --write

Media reporting e2e tests, single audio support, style updates, and accessibility improvements (#1276)
  src/components/VAudioDetails/VAudioDetails.vue
  src/components/VContentReport/VContentReportButton.vue
  src/components/VContentReport/VContentReportForm.vue
  src/data/report-service.ts
  src/locales/po-files/openverse.pot
  test/playwright/e2e/report-media.spec.ts
  test/unit/specs/components/v-content-report-form.spec.js
Due: eslint --fix, prettier --write

Fix narrow width audio results (#1281)
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/pages/search/audio.vue
  test/playwright/README.md
  test/playwright/utils/breakpoints.ts
  test/playwright/visual-regression/audio-results.spec.ts
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-2xl-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-lg-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-md-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-desktop-xl-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-sm-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-desktop-UA-xs-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-sm-linux.png
  test/playwright/visual-regression/audio-results.spec.ts-snapshots/audio-results-narrow-viewport-mobile-UA-xs-linux.png
Due: eslint --fix, prettier --write

Replace download button with foreign landing button (#1290)
  package.json
  pnpm-lock.yaml
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VDownloadButton.vue
  src/components/VDropdownButton.vue
  src/components/meta/VDownloadButton.stories.js
  src/components/meta/VDropdownButton.stories.js
  src/locales/po-files/openverse.pot
  test/unit/fixtures/audio.js
  test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  test/unit/specs/components/AudioTrack/v-full-layout.spec.js
  test/unit/specs/components/v-download-button.spec.js
  test/unit/specs/components/v-dropdown-button.spec.js
Due: eslint --fix, prettier --write

Add `aspect: design` label (#220)
  automations/data/labels.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.mdx)
