Repository rocktec57/wp_openverse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix another missing dependency lodash.set (#661)
  package.json
  pnpm-lock.yaml
  src/locales/scripts/ngx-json-to-json.js
Due: eslint --fix, prettier --write

Fix global audio syncing and seeking issues (#654)
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  src/composables/use-active-audio.js
  tsconfig.json
Due: eslint --fix, prettier --write

Use `propTypes` as `props` (#666)
  src/components/VAudioTrack/VAudioTrack.vue
Due: eslint --fix, prettier --write

Make e2e tests pass (#667)
  test/e2e/content-types.spec.js
  test/e2e/homepage.spec.js
  test/e2e/search-query-client.spec.js
  test/e2e/search-query-server.spec.js
Due: eslint --fix, prettier --write

Cleanup assets (#655)
  src/assets/animaldiversity_logo.png
  src/assets/bhl_logo.png
  src/assets/brooklyn_museum_logo.png
  src/assets/capl_logo.png
  src/assets/cc_icon.svg
  src/assets/cleveland.png
  src/assets/deviantart_logo.png
  src/assets/digitaltmuseum_logo.png
  src/assets/flickr_icon.png
  src/assets/floraon_logo.png
  src/assets/geographorguk_logo.gif
  src/assets/logo-cloud.png
  src/assets/logo.svg
  src/assets/mccordmuseum_logo.png
  src/assets/met_logo.png
  src/assets/museumvictoria_logo.png
  src/assets/nhm_logo.png
  src/assets/phylopic_logo.png
  src/assets/rawpixel_logo.png
  src/assets/rijksmuseum_logo.png
  src/assets/sketchfab_logo.png
  src/assets/smk_logo.png
  src/assets/svg-silh_logo.png
  src/assets/thingiverse_logo.png
  src/assets/thorvaldsensmuseum_logo.png
  src/assets/wikimedia_logo.png
  src/assets/worms_logo.png
  src/components/NavSection.vue
  src/components/VHeroSection.vue
  test/unit/specs/components/hero-section.spec.js
  test/unit/specs/components/nav-section.spec.js
  test/unit/specs/components/search-grid-cell.spec.js
Due: eslint --fix, prettier --write

Remove events from `VAudioThumbnail` stories (#664)
  src/components/VAudioThumbnail/meta/VAudioThumbnail.stories.mdx
Due: prettier --write

Use 's' audio track layout for mobile (#669)
  src/pages/search/audio.vue
  test/e2e/content-types.spec.js
Due: eslint --fix, prettier --write

Fix homepage accessibility (#660)
  src/components/VHeader/VSearchBar/VSearchBar.vue
  src/components/VInputField/VInputField.vue
  src/components/VInputField/meta/VInputField.stories.mdx
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/index.vue
Due: eslint --fix, prettier --write

Add stories for the content type switcher (#665)
  src/components/VContentSwitcher/meta/VContentSwitcherPopover.stories.mdx
Due: prettier --write

Add a transparent border to filter button (#677)
  src/components/VButton.vue
  src/components/VHeader/VFilterButton.vue
Due: eslint --fix, prettier --write

Increase space between audio results (#679)
  src/pages/search/audio.vue
Due: eslint --fix, prettier --write

Record transfer limit for data refresh (#474)
  ingestion_server/README.md
  ingestion_server/ingestion_server/constants/internal_types.py
  ingestion_server/ingestion_server/ingest.py
  ingestion_server/ingestion_server/queries.py
  ingestion_server/test/unit_test.py
  ingestion_server/test/unit_tests/__init__.py
  ingestion_server/test/unit_tests/conftest.py
  ingestion_server/test/unit_tests/test_cleanup.py
  ingestion_server/test/unit_tests/test_es_models.py
  ingestion_server/test/unit_tests/test_queries.py
Due: none

Add environment to data refresh slack alert username (#477)
  ingestion_server/ingestion_server/slack.py
  ingestion_server/test/unit_tests/test_slack.py
Due: none

Notices for Jamendo tracks when seeking is impossible (#681)
  nuxt.config.js
  package.json
  pnpm-lock.yaml
  src/components/VAudioTrack/VWaveform.vue
  src/components/VAudioTrack/layouts/VRowLayout.vue
  src/composables/use-browser-detection.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/plugins/ua-parse.js
  test/unit/specs/components/AudioTrack/audio-track.spec.js
Due: eslint --fix, prettier --write

Fix spacing issues in the Row S layout (#678)
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: eslint --fix, prettier --write

All results audio tabbing, single result link, and play/pause fixes (#683)
  src/components/VAllResultsGrid/VAudioCell.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VPlayPause.vue
  src/components/VAudioTrack/layouts/VBoxLayout.vue
  src/components/VIconButton/VIconButton.vue
Due: eslint --fix, prettier --write

Add 'beta' VPill to Audio in the content switcher (#637)
  src/components/VButton.vue
  src/components/VContentSwitcher/VContentItem.vue
  src/components/VContentSwitcher/VContentSwitcherButton.vue
  src/components/VContentSwitcher/VContentSwitcherPopover.vue
  src/components/VContentSwitcher/VContentTypes.vue
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VItemGroup/VItem.vue
  src/components/VItemGroup/VItemGroup.vue
  src/composables/use-content-type.js
  src/constants/media.js
  src/locales/en.json
  src/styles/accent.scss
  test/e2e/homepage.spec.js
Due: eslint --fix, prettier --write

Always show search title, even when search has no results (#685)
  src/components/VItemGroup/VItem.vue
  src/components/VSearchGrid.vue
Due: eslint --fix, prettier --write

Prevent vertical movement in filters (#684)
  src/components/VFilters/VSearchGridFilter.vue
Due: eslint --fix, prettier --write

Add `pnpm install` to dev script (#699)
  package.json
Due: none

Update README.md
  README.md
Due: none

Add titles to pages (#704)
  src/pages/about.vue
  src/pages/audio/_id.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/image/_id.vue
  src/pages/meta-search.vue
  src/pages/search-help.vue
  src/pages/search/audio.vue
  src/pages/search/image.vue
  src/pages/search/index.vue
  src/pages/sources.vue
Due: eslint --fix, prettier --write

Enable the content switcher to work with `v-model` (#688)
  src/components/VContentSwitcher/VContentSwitcherButton.vue
  src/components/VContentSwitcher/VContentSwitcherPopover.vue
  src/components/VContentSwitcher/meta/VContentSwitcherPopover.stories.mdx
Due: eslint --fix, prettier --write

Update filter UI to match mockups (#694)
  src/components/License/VLicense.vue
  src/components/VCheckbox.vue
  src/components/VFilters/VFilterChecklist.vue
  src/components/VFilters/VSearchGridFilter.vue
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/store/search.js
Due: eslint --fix, prettier --write

Prevent content switcher dropdown from shifting horizontally (#712)
  src/components/VContentSwitcher/VContentSwitcherPopover.vue
Due: eslint --fix, prettier --write

Set up CI/CD with ghcr.io (#332)
  .github/workflows/ci_cd.yml
  .github/workflows/lint.yml
  .github/workflows/push_pull_request_test.yml
  README.md
  docker-compose.yml
Due: none

Freesound SSLError fix (#330)
  openverse_catalog/dags/providers/provider_api_scripts/freesound.py
  requirements_prod.txt
  tests/dags/providers/provider_api_scripts/test_freesound.py
Due: none

Allow toggling playback using spacebar from the waveform (#693)
  src/components/DropdownButton.vue
  src/components/VAudioTrack/VAudioTrack.vue
  src/components/VAudioTrack/VGlobalAudioTrack.vue
  src/components/VAudioTrack/VWaveform.vue
  src/components/VItemGroup/VItemGroup.vue
  src/utils/key-codes.js
Due: eslint --fix, prettier --write

Remove unused components (#717)
  package.json
  src/components/AppModal.vue
  src/components/HomeLicenseFilter.vue
  src/components/SearchGridCell.vue
  src/components/SearchGridForm.vue
  src/components/SearchTypeTabs.vue
  src/components/SearchTypeToggle.vue
  src/components/VContentLink/VContentLink.vue
  src/components/VSaferBrowsing.vue
  src/components/meta/SearchTypeToggle.stories.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  test/unit/specs/components/home-license-filter.spec.js
  test/unit/specs/components/search-grid-cell.spec.js
  test/unit/specs/components/search-type-toggle.spec.js
Due: eslint --fix, prettier --write

Allow focusing specific element when opening modal (#695)
  src/components/VContentSwitcher/VContentTypes.vue
  src/components/VContentSwitcher/VMobileMenuModal.vue
  src/components/VModal/VMobileModalContent.vue
  src/components/VModal/VModal.vue
  src/components/VModal/VModalContent.vue
  src/components/VModal/meta/VModal.stories.js
  src/composables/use-dialog-content.js
  src/composables/use-focus-on-show.js
  test/unit/specs/components/v-modal.spec.js
Due: eslint --fix, prettier --write

Change minio ports from 500X to 501X (#341)
  README.md
  docker-compose.override.yml
Due: none

Fix focus-visible for Safari (#724)
  nuxt.config.js
  package.json
  pnpm-lock.yaml
  src/components/VButton.vue
  src/plugins/focus-visible.js
Due: eslint --fix, prettier --write

Use `VPopover` for the content report form (#719)
  src/components/ImageDetails/VPhotoDetails.vue
  src/components/VContentReport/VContentReportForm.vue
  src/components/VPopover/VPopover.vue
  src/components/VPopover/VPopoverContent.types.js
  src/components/VPopover/VPopoverContent.vue
  src/styles/global.scss
  tailwind.safelist.txt
Due: eslint --fix, prettier --write

Refactor the usage of i18n result count computation (#707)
  src/components/VContentLink/VContentLink.vue
  src/components/VHeader/VHeader.vue
  src/components/VSearchGrid.vue
  src/composables/use-i18n-utilities.js
  src/locales/en.json
  src/locales/po-files/openverse.pot
  src/pages/search.vue
  test/e2e/homepage.spec.js
  test/unit/specs/composables/use-i18n-utilities.spec.js
Due: eslint --fix, prettier --write

Style links globally (#727)
  src/components/VAllResultsGrid/VAllResultsGrid.vue
  src/components/VAudioTrack/layouts/VFullLayout.vue
  src/components/VContentLink/VContentLink.vue
  src/styles/tailwind.css
Due: eslint --fix, prettier --write

Stop blocking on analytics requests (#715)
  nuxt.config.js
  src/data/usage-data-service.js
  src/store/usage-data.js
  src/utils/sentry-config.js
Due: eslint --fix, prettier --write

Ensure Freesound tests are isolated (#340)
  tests/dags/providers/provider_api_scripts/test_freesound.py
Due: none

Use pytest-xdist for testing (#337)
  .github/workflows/ci_cd.yml
  justfile
  pytest.ini
  requirements_dev.txt
  tests/dags/common/conftest.py
  tests/dags/common/loader/test_s3.py
  tests/dags/common/loader/test_sql.py
  tests/dags/common/popularity/test_sql.py
  tests/dags/providers/provider_api_scripts/test_freesound.py
  tests/dags/providers/provider_api_scripts/test_jamendo.py
Due: none

Truncate row layout audio titles (#735)
  src/components/VAudioTrack/layouts/VRowLayout.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.mdx)
