Repository rocktec57/wp_openverse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,vue}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.mdx": [
    "prettier --write"
  ]
}

Updated package-lock.json with original (again). Removed rule from icon-font.css that affected icons it is not supposed to. Icon sizes still require tweaking.
  package-lock.json
  src/components/LicenseIcons.vue
  src/styles/utilities/icon-font.scss
Due: eslint --fix, prettier --write

Bump tldextract from 3.1.0 to 3.1.2 in /ingestion_server
  ingestion_server/Pipfile.lock
Due: none

Bump psycopg2-binary from 2.8.6 to 2.9.1 in /ingestion_server
  ingestion_server/Pipfile.lock
Due: none

Apply changes from code review
  nuxt.config.js
  src/data/sample-audio-responses.json
Due: eslint --fix, prettier --write

Update types.d.ts
  src/store-modules/types.d.ts
Due: none

Reversed changes made to openverse.pot (back to original)
  src/locales/po-files/openverse.pot
Due: none

Fixed filter icon size styles to only affect filter icons.
  src/components/Filters/FilterChecklist.vue
  src/components/LicenseIcons.vue
  src/styles/utilities/icon-font.scss
Due: eslint --fix, prettier --write

Add examples in the help text for provider serializer
  openverse-api/catalog/api/serializers/provider_serializers.py
Due: none

Fix typo
  src/locales/en.json
  src/locales/po-files/openverse.pot
Due: none

Replace verbose mapState declarations
  src/components/AudioDetails/Tags.vue
  src/components/AudioResultsList.vue
  src/components/Filters/SearchGridFilter.vue
  src/components/HeaderSection.vue
  src/components/HeroSection.vue
  src/components/HomeLicenseFilter.vue
  src/components/NotificationBanner.vue
  src/components/SearchGridManualLoad.vue
  src/layouts/default.vue
  src/layouts/embedded-with-nav-search.vue
  src/layouts/embedded.vue
  src/layouts/with-nav-search.vue
  src/pages/about.vue
  src/pages/audio/_id.vue
  src/pages/extension.vue
  src/pages/feedback.vue
  src/pages/meta-search.vue
  src/pages/photos/_id.vue
  src/pages/search-help.vue
  src/pages/sources.vue
  src/store/nav.js
  test/unit/specs/components/header-section.spec.js
Due: eslint --fix, prettier --write

Fix paths for jest coverage
  jest.config.js
Due: eslint --fix, prettier --write

Shorten the glob pattern for vue files
  jest.config.js
Due: eslint --fix, prettier --write

Update URL ref parameter values for analytics
  src/components/Filters/LicenseExplanationTooltip.vue
Due: eslint --fix, prettier --write

Updated URL ref parameter values for analytics
  src/components/ImageDetails/PhotoDetails.vue
Due: eslint --fix, prettier --write

Renamed the source suggestion issue template
  .github/ISSUE_TEMPLATE/new-source-suggestion.md
Due: none

updated build path to build: openverse-api/
  docker-compose.yml
Due: none

updated openverse-api in integrations-tests and docker-compose.yml
  .github/workflows/integration-tests.yml
  docker-compose.yml
Due: none

updated openverse-api in dependabot.yml
  .github/dependabot.yml
Due: none

updated Dockerfile with openverse_api
  openverse_api/Dockerfile
Due: none

updated openverse-api in required files
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  ingestion_server/ingestion_server/constants/media_types.py
  ingestion_server/ingestion_server/elasticsearch_models.py
Due: none

changed the prop name from ccLicenseURL to openverseURL
  src/components/ImageDetails/PhotoDetails.vue
Due: eslint --fix, prettier --write

Untrack files in the `.idea/` directory
  .idea/dictionaries/alden.xml
Due: none

updated cclicense url to openverseLicenseURL
  src/components/ImageDetails/PhotoDetails.vue
Due: eslint --fix, prettier --write

Fix circular import of OpenLedgerModel
  openverse-api/catalog/api/models/__init__.py
Due: none

Bump django from 3.2.6 to 3.2.7 in /openverse-api
  openverse-api/Pipfile
  openverse-api/Pipfile.lock
Due: none

Add a trailing newline to the workflow
  .github/workflows/pr_label_check.yml
Due: none

🔄 Synced local '.github/workflows/pr_label_check.yml' with remote '.github/workflows/pr_label_check.yml'
  .github/workflows/pr_label_check.yml
Due: none

Use `.w-30` (~`120px`) as the thumbnail size in stories
  src/components/AudioThumbnail/meta/AudioThumbnail.stories.mdx
Due: prettier --write

Round the thumbnail corners in the row layout
  src/components/AudioThumbnail/AudioThumbnail.vue
  src/components/AudioThumbnail/meta/AudioThumbnail.stories.mdx
  src/components/AudioTrack/layouts/Row.vue
Due: eslint --fix, prettier --write

Fix some store paths
  src/components/AudioTrack/AudioController.vue
  src/components/ContentReport/ContentReportForm.vue
  src/components/ImageDetails/PhotoDetails.vue
  src/pages/photos/_id.vue
  src/store/active.js
  test/unit/specs/components/ContentReport/content-report-form.spec.js
  test/unit/specs/components/ImageDetails/copy-license.spec.js
  test/unit/specs/components/ImageDetails/image-attribution.spec.js
  test/unit/specs/components/ImageDetails/photo-details.spec.js
  test/unit/specs/components/dropdown.spec.js
  test/unit/specs/components/search-grid-cell.spec.js
  test/unit/specs/components/search-grid.spec.js
Due: eslint --fix, prettier --write

replaced openverse-api with openverse_api
  .github/release-drafter.yml
  CONTRIBUTING.md
  CONTRIBUTORS.md
  DOCUMENTATION_GUIDELINES.md
  README.md
  analytics/docs/swagger.yaml
  ingestion_server/README.md
  ingestion_server/ingestion_server/categorize.py
  openverse_api/catalog/api/docs/README.md
  openverse_api/catalog/api/utils/scheduled_tasks.py
  openverse_api/catalog/settings.py
  openverse_api/catalog/urls/swagger.py
Due: none

Run isort on ingestion server code
  ingestion_server/ingestion_server/api.py
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/ingestion_server/distributed_reindex_scheduler.py
  ingestion_server/ingestion_server/elasticsearch_models.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/indexer_worker.py
  ingestion_server/ingestion_server/ingest.py
  ingestion_server/ingestion_server/tasks.py
  ingestion_server/test/unit_tests.py
Due: none

Extract Gunicorn config to a separate file
  ingestion_server/config/supervisord.conf
  ingestion_server/gunicorn.conf.py
Due: none

Update sketchfab viewer script to 1.10.1
  src/components/SketchFabViewer.vue
Due: eslint --fix, prettier --write

Update src/components/SketchFabViewer.vue
  src/components/SketchFabViewer.vue
Due: eslint --fix, prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
