Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Update the domain check string (#4550)
  setup_plausible.sh
Due: none

Add tags page (#4549)
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/generated-tags.vue
  frontend/src/pages/tags.vue
Due: i18n, types, eslint, test:unit

Fix flaky VCollectionHeader snapshot tests (#4559)
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-linux.png
Due: i18n, types, test:unit

Fix separators in catalog and dev-env images and dev-env volume (#4526)
  .github/workflows/ci_cd.yml
  catalog/compose.yml
  docker/dev_env/run.sh
  ov
Due: none

Remove `backfillmoderationdecision` management command after production run (#4554)
  api/api/management/commands/backfillmoderationdecision.py
  api/test/unit/management/commands/test_backfillmoderationdecision.py
Due: none

combine frontend testing documentation pages (#4546)
  .github/workflows/ci_cd.yml
  documentation/conf.py
  documentation/frontend/guides/test.md
  documentation/frontend/reference/index.md
  documentation/frontend/reference/playwright_tests.md
  documentation/frontend/reference/storybook_tests.md
  documentation/frontend/reference/testing_guidelines.md
Due: none

Fix possible `TypeError` when accessing `route.value` properties (#4523)
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/composables/use-match-routes.ts
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.06.26.17.18.17 (#4562)
  documentation/changelogs/frontend/2024.06.26.17.18.17.md
Due: none

Ensure plpython3u exists in live db when using it (#4555)
  catalog/dags/maintenance/decode_and_deduplicate_image_tags.py
Due: none

Remove `trim_and_deduplicate_tags` DAG after successful run (no longer needed) (#4557)
  catalog/dags/maintenance/trim_and_deduplicate_tags.py
  documentation/catalog/reference/DAGs.md
Due: none

Implementation Plan: Augment the catalog database with suitable Rekognition tags (#4417)
  documentation/projects/proposals/rekognition_data/20240530-implementation_plan_augment_catalog_with_rekognition_tags.md
Due: none

Add CI/CD and PDM to new indexer worker (#4497)
  .github/actions/load-img/action.yml
  .github/filters.yml
  .github/workflows/ci_cd.yml
  automations/python/workflows/set_matrix_images.py
  indexer_worker/.dockerignore
  indexer_worker/Dockerfile
  indexer_worker/Pipfile
  indexer_worker/Pipfile.lock
  indexer_worker/compose.yml
  indexer_worker/justfile
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  justfile
Due: none

Remove single quotes in values of Ingestion Server's TSV files (#4471)
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/unit_tests/test_cleanup.py
Due: none

Add linting for Dockerfiles (#4540)
  .github/CODEOWNERS
  .hadolint.yaml
  .pre-commit-config.yaml
  api/Dockerfile
  catalog/Dockerfile
  docker/dev_env/Dockerfile
  docker/upstream_db/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
  utilities/load_testing/Dockerfile
Due: i18n, types, test:unit

Upload Ingestion Server's TSV files to AWS S3 (skip tags) (#4529)
  ingestion_server/env.template
  ingestion_server/ingestion_server/cleanup.py
Due: none

Specify pull policy for `openverse-` images (#4568)
  api/compose.yml
  catalog/compose.yml
  docker-compose.yml
  ingestion_server/compose.yml
Due: none

Remove volta and engines.pnpm settings (#4583)
  .gitignore
  frontend/justfile
  package.json
Due: i18n, types, test:unit

Publish changelog for ingestion_server-2024.06.28.20.22.20 (#4571)
  documentation/changelogs/ingestion_server/2024.06.28.20.22.20.md
Due: none

Fix Docker build warnings (#4573)
  api/Dockerfile
  catalog/Dockerfile
  docker/upstream_db/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.nginx
  indexer_worker/Dockerfile
  ingestion_server/Dockerfile
  utilities/load_testing/Dockerfile
Due: i18n, types, test:unit

Update dependency elasticsearch to v8.14.0 (#4579)
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency prettier to v3.3.2 (#4580)
  package.json
  pnpm-lock.yaml
Due: none

Update dependency @playwright/test to v1.45.0 (#4577)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency typescript to v5.5.2 (#4581)
  .pre-commit-config.yaml
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency prettier-plugin-tailwindcss to v0.6.5 (#4574)
  package.json
  pnpm-lock.yaml
Due: none

Update workflows (#4575)
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
  catalog/dags/common/storage/columns.py
Due: none

Publish changelog for frontend-2024.07.01.20.35.48 (#4588)
  documentation/changelogs/frontend/2024.07.01.20.35.48.md
Due: none

Add manual changelog for API 2024.07.01.20.35.48 (#4589)
  documentation/changelogs/api/2024.07.01.20.35.48.md
Due: none

Try adding ignoreScripts to fix pnpmfileChecksum update issue (#4592)
  .github/global-renovate.json5
  .github/renovate.json
  .github/renovate.json5
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Drop `status` column from media reports (#4590)
  api/api/migrations/0068_remove_audioreport_status_remove_imagereport_status.py
  api/api/models/__init__.py
  api/api/models/media.py
  api/latest_migrations/api
  api/test/unit/models/test_media_report.py
Due: none

Update dependency @swc/cli to ^0.4.0 (#4578)
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Bump `schemathesis` to v3.31.0 and silence warnings on API tests (#4593)
  api/pdm.lock
  api/test/unit/controllers/test_search_controller.py
Due: none

Bump certifi from 2023.11.17 to 2024.7.4 in /utilities/project_planning (#4604)
  utilities/project_planning/Pipfile.lock
Due: none

Make `ov` base image updates overall more convenient and take immediate effect (#4560)
  docker/dev_env/.gitignore
  docker/dev_env/Dockerfile
  docker/dev_env/run.sh
  docker/dev_env/setup_env.sh
  ov
Due: none

Fix TypeError by checking if duration is not Finite before setting cu… (#4584)
  frontend/src/components/VAudioTrack/VAudioTrack.vue
Due: i18n, types, eslint, test:unit

Bump certifi from 2024.2.2 to 2024.7.4 in /automations/python (#4606)
  automations/python/Pipfile.lock
Due: none

Bump tqdm from 4.66.2 to 4.66.3 in /utilities/generate_test_locales (#4607)
  utilities/generate_test_locales/Pipfile.lock
Due: none

Split `batched_update` DAG into automated and manual DAGs (#4552)
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/batched_update/constants.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
  documentation/catalog/reference/DAGs.md
Due: none

Bump certifi from 2024.2.2 to 2024.7.4 in /utilities/generate_test_locales (#4608)
  utilities/generate_test_locales/Pipfile.lock
Due: none

Bump jinja2 from 3.1.3 to 3.1.4 in /utilities/generate_test_locales (#4609)
  utilities/generate_test_locales/Pipfile.lock
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
