Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm exec vue-tsc -p frontend --noEmit'
  language: system
  pass_filenames: false

test:unit:
  name: test:unit
  entry: bash -c 'just frontend/run test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-precommit:
  name: render-precommit
  entry: bash -c 'just automations/js/render-precommit'
  language: system
  pass_filenames: false

render-prettier:
  name: render-prettier
  entry: bash -c 'just automations/js/render-prettier'
  language: system
  pass_filenames: false

render-github:
  name: render-github
  entry: bash -c 'just automations/js/render-github'
  language: system
  pass_filenames: false

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Add the data & python automation folders as sync for the infra repo (#2082)
  .github/sync.yml
Due: none

Use contentlist role for search results for a11y (#1979)
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/search/audio.vue
  frontend/src/pages/search/image.vue
  frontend/src/types/media.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/unit/specs/components/v-image-grid.spec.js
Due: i18n, types, test:unit

Fix issues with label automations, update issue templates (#2085)
  .github/ISSUE_TEMPLATE/airflow_alert.md
  .github/ISSUE_TEMPLATE/image_provider_api_integration_request.yml
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .github/ISSUE_TEMPLATE/project_thread.md
  automations/python/print_labels.py
  automations/python/shared/labels.py
  automations/python/sync_labels.py
Due: none

Improve error handling and pipe flow for `just ps` (#2072)
  justfile
  utilities/ps.py
Due: none

Publish changelog for api-2023.05.15.21.51.49 (#2107)
  documentation/changelogs/api/2023.05.15.21.51.49.md
Due: none

Publish changelog for frontend-2023.05.15.22.13.27 (#2109)
  documentation/changelogs/frontend/2023.05.15.22.13.27.md
Due: none

Spacing improvements in All content's <header> area (#2084)
  frontend/src/components/VSearchGrid.vue
  frontend/src/components/VSearchResultsTitle.vue
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
Due: i18n, types, test:unit

Update Load more button (#2103)
  frontend/src/components/VLoadMore.vue
  frontend/src/components/meta/CustomButtonComponents.stories.mdx
  frontend/src/components/meta/VBackToSearchResultsLink.stories.mdx
  frontend/src/types/button.ts
  frontend/tailwind.config.js
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-hovered-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-focused-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-hovered-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-hovered-xl-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-resting-sm-linux.png
  frontend/test/storybook/visual-regression/custom-button-components.spec.ts-snapshots/v-load-more-resting-xl-linux.png
Due: i18n, types, test:unit

Analytics event: `CHANGE_CONTENT_TYPE` (#1151)
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/composables/use-analytics.ts
  frontend/src/composables/use-component-name.ts
  frontend/src/composables/use-search-type.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/composables/use-search-type.spec.js
Due: i18n, types, test:unit

Add a run name to staging deployment workflows (#2080)
  .github/workflows/ci_cd.yml
Due: none

Check the file type of the thumbnail before passing it to Photon (#2086)
  api/api/utils/photon.py
  api/api/views/audio_views.py
  api/api/views/image_views.py
  api/api/views/media_views.py
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_photon.py
  api/test/unit/views/test_image_views.py
Due: none

Add a simple script for getting a sanitized commit message (#2115)
  .github/workflows/ci_cd.yml
  automations/python/workflows/get_commit_message.py
Due: none

Fix release contributions by removing explicit author link creation (#2112)
  .github/release-drafter-api.yml
  .github/release-drafter-catalog.yml
  .github/release-drafter-frontend.yml
  .github/release-drafter-ingestion_server.yml
  documentation/_ext/link_usernames.py
  documentation/changelogs/api/2023.04.12.23.29.59.md
  documentation/changelogs/api/2023.04.18.15.27.15.md
  documentation/changelogs/api/2023.04.19.00.01.39.md
  documentation/changelogs/api/2023.04.23.23.22.14.md
  documentation/changelogs/api/2023.04.27.07.29.23.md
  documentation/changelogs/api/2023.05.02.21.26.28.md
  documentation/changelogs/api/2023.05.15.21.51.49.md
  documentation/changelogs/catalog/2023.04.27.02.43.13.md
  documentation/changelogs/frontend/2023.04.23.23.07.51.md
  documentation/changelogs/frontend/2023.05.02.19.17.32.md
  documentation/changelogs/frontend/2023.05.15.22.13.27.md
  documentation/changelogs/ingestion_server/2023.05.03.22.29.52.md
  templates/release-drafter.yml.jinja
Due: render-precommit, render-prettier, render-github, render-release-drafter

Add `role="dialog"` to popover (#2077)
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VContentSwitcher/VSearchTypePopover.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VPopover/VPopover.vue
  frontend/src/components/VPopover/VPopoverContent.vue
  frontend/src/composables/use-popover-content.ts
  frontend/src/composables/use-popper.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-all-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-audio-sources-popover-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts-snapshots/external-image-sources-popover-rtl-xl-linux.png
  frontend/test/unit/specs/components/v-popover.spec.js
Due: i18n, types, test:unit

Publish changelog for catalog-2023.05.16.22.14.49 (#2116)
  documentation/changelogs/catalog/2023.05.16.22.14.49.md
Due: none

Fix renovate GitHub actions version number (#2119)
  .github/workflows/renovate.yml
Due: none

Implementation Plan: Documenting Media properties in the catalog (#1904)
  documentation/projects/proposals/document_all_media_properties/20230426-implementation_plan_documenting_media_properties.md
  documentation/projects/proposals/document_all_media_properties/index.md
  documentation/projects/proposals/document_all_media_properties/samples/index.md
  documentation/projects/proposals/document_all_media_properties/samples/openverse_media_properties.md
  documentation/projects/proposals/document_all_media_properties/samples/sample_media_properties.md
  documentation/projects/proposals/document_all_media_properties/samples/sample_postamble.md
  documentation/projects/proposals/document_all_media_properties/samples/sample_preamble.md
Due: none

Add media type context to start of result link titles (#1920)
  frontend/docker-compose.playwright.yml
  frontend/package.json
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VSearchResultsGrid/VImageCell.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, test:unit

Remove old button variants and storybook snapshots (#2122)
  frontend/src/components/VButton.vue
  frontend/src/components/meta/VButtonOld.stories.mdx
  frontend/src/types/button.ts
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-disabled-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-bordered-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-disabled-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-disabled-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-muted-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/action-menu-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/full-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/menu-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/primary-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-filled-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/secondary-resting-linux.png
Due: i18n, types, test:unit

Publish changelog for ingestion_server-2023.05.17.22.57.37 (#2125)
  documentation/changelogs/ingestion_server/2023.05.17.22.57.37.md
Due: none

Updated content link (#2102)
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/playwright/e2e/load-more.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-filters-selected-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-ltr-png-xs-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-sm-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-page-rtl-lg-linux.png
  frontend/test/unit/specs/components/v-content-link.spec.js
Due: i18n, types, test:unit

Add analytics toggle to the privacy page (#2127)
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/stores/feature-flag.ts
  frontend/test/locales/ar.json
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-xs-linux.png
Due: i18n, types, test:unit

Add full-stops to browse-page strings (#2131)
  frontend/src/locales/scripts/en.json5
Due: i18n, types, test:unit

Allow feature flags to use `sessionStorage` and ignore `ff_` query params (#2121)
  documentation/frontend/reference/feature_flags.md
  frontend/feat/feature-flags.json
  frontend/src/constants/feature-flag.ts
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/stores/feature-flag.ts
  frontend/src/types/feature-flag.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
Due: i18n, types, test:unit

Remove the default `medium-old` size from buttons (#2104)
  frontend/src/components/VButton.vue
  frontend/src/components/VFilters/VSearchGridFilter.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/components/VSkipToContentContainer.vue
  frontend/src/components/meta/VButtonOld.stories.mdx
  frontend/src/types/button.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-ltr-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-sidebar-checked-rtl-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/dropdown-label-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain--avoid-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/plain-resting-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-pressed-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-pressed-linux.png
  frontend/test/storybook/visual-regression/v-button-old.spec.ts-snapshots/text-resting-linux.png
  frontend/test/unit/specs/components/v-button.spec.js
  frontend/test/unit/specs/components/v-modal.spec.js
  frontend/test/unit/specs/components/v-popover.spec.js
Due: i18n, types, test:unit

Update banner spacing and add rounded corners (#2117)
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/layouts/content-layout.vue
Due: i18n, types, test:unit

Calculate standardized popularity during ingestion load_data (#2098)
  catalog/dags/common/loader/sql.py
  catalog/dags/common/popularity/constants.py
  catalog/dags/common/popularity/sql.py
  catalog/dags/common/storage/columns.py
  catalog/dags/common/storage/db_columns.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/common/popularity/test_sql.py
  catalog/tests/dags/common/storage/test_columns.py
Due: none

Publish changelog for api-2023.05.19.17.16.50 (#2142)
  documentation/changelogs/api/2023.05.19.17.16.50.md
Due: none

Add safe check for Content-Type in photon (#2143)
  api/api/utils/photon.py
  api/test/unit/utils/test_photon.py
Due: none

Publish changelog for api-2023.05.19.18.58.25 (#2144)
  documentation/changelogs/api/2023.05.19.18.58.25.md
Due: none

Make thumbnail alerts after threshold binned by configurable amount (#2146)
  api/api/utils/photon.py
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_photon.py
Due: none

Add aliases and shortcuts for common "up" recipes (#2134)
  justfile
Due: none

Publish changelog for api-2023.05.19.22.08.07 (#2147)
  documentation/changelogs/api/2023.05.19.22.08.07.md
Due: none

Apply triage labels when no stack filter matches (#2156)
  .github/workflows/ci_cd.yml
Due: none

Publish changelog for frontend-2023.05.22.15.55.57 (#2162)
  documentation/changelogs/frontend/2023.05.22.15.55.57.md
Due: none

Bump requests from 2.29.0 to 2.31.0 in /ingestion_server (#2164)
  ingestion_server/Pipfile.lock
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
