Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Fix markup in the general setup guide (#4946)
  documentation/general/general_setup.md
Due: fix-console-code-block, vale

Specify insert fields and unique indices for Rekognition tags insert (#4950)
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
  catalog/tests/s3-data/migrated-cccatalog-archives/image_analysis_labels.jsonl
Due: none

Add new feature notice for dark mode (#4922)
  frontend/src/components/VFeatureNotice/VDarkModeFeatureNotice.vue
  frontend/src/components/VFeatureNotice/VFeatureNotice.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/locales/scripts/en.json5
  frontend/src/pages/index.vue
  frontend/src/stores/ui.ts
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-light-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts
  frontend/test/unit/specs/stores/ui-store.spec.ts
Due: i18n, types, eslint, test:unit

Conditional removal of changelogs (#4943)
  documentation/conf.py
  documentation/meta/missing_changelogs.md
Due: fix-console-code-block, vale

Modify Rekognition insertion timeouts (#4955)
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
Due: none

Address deprecations, make DeprecationWarning and RemovedInAirflow3Warning raise error (#4951)
  catalog/pytest.ini
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
  catalog/tests/dags/common/sensors/test_utils.py
  catalog/tests/dags/database/staging_database_restore/test_staging_database_restore.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
Due: none

Send HMAC signature for WAF bypass (#4908)
  packages/js/k6/package.json
  packages/js/k6/rollup.config.ts
  packages/js/k6/src/crypto.ts
  packages/js/k6/src/frontend/constants.ts
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/http.ts
  packages/js/k6/src/utils.ts
  pnpm-lock.yaml
Due: types, eslint, test:unit

Lower `maxDiffPixelRatio` in Storybook (#4919)
  frontend/src/components/VContentSwitcher/meta/VSearchTypes.stories.js
  frontend/test/storybook/playwright.config.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-dark-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-dark-resting-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-gray-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-pink-8-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-pink-8-resting-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-white-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/transparent-dark-hovered-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-md-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-ltr-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-content-rtl-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-ltr-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-md-light-linux.png
  frontend/test/storybook/visual-regression/v-footer.spec.ts-snapshots/footer-internal-rtl-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/desktop-header-internal-rtl-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-md-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-ltr-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-md-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-open-rtl-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-at-rest-md-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-focused-md-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-medium-images-hovered-md-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-at-rest-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-search-types.spec.ts-snapshots/v-search-types-small-images-hovered-xl-light-linux.png
Due: i18n, types, eslint, test:unit

Fix flaky image cell test (#4968)
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VImageCell/meta/VImageCell.stories.ts
  frontend/test/hars/f54be427bbbd5e2a3dc4f38eda3679769eb1cb4e.webp
  frontend/test/hars/v-image-cell.har
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-intrinsic-loaded-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-focused-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-hovered-xs-light-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts-snapshots/v-image-cell-square-loaded-xs-light-linux.png
Due: i18n, types, eslint, test:unit

Organise and fix bugs in color definitions (#4969)
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Add 2xl dark mode snapshots to breakpoint tests (#4915)
  frontend/test/playwright/utils/breakpoints.ts
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/filters-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/resting-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/scrolled-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-active-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/components/header.spec.ts-snapshots/searchbar-hovered-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/content-switcher-with-external-sources-open-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/focused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/index-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts-snapshots/unfocused-search-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-from-search-results-with-additional-search-views-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sensitive-content-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-dark-linux.png
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts-snapshots/page-with-all-banners-2xl-dark-linux.png
Due: i18n, types, eslint, test:unit

Add Sutori to Made with Openverse page (#4973)
  documentation/_static/openverse_sutori.png
  documentation/api/reference/made_with_ov.md
Due: fix-console-code-block, vale

Add Katmai NPS source from Flickr (#4971)
  catalog/dags/common/loader/provider_details.py
Due: none

Changed "exact match boost" implementation to use a match_phrase query in should (#4978)
  api/api/controllers/search_controller.py
  api/test/unit/controllers/test_search_controller_search_query.py
Due: none

Fix just argument splitting on pass-through recipes with complex args (#4961)
  .vale/justfile
  api/justfile
  automations/js/justfile
  automations/python/justfile
  catalog/justfile
  docker/cache/justfile
  documentation/justfile
  frontend/bin/playwright.sh
  frontend/justfile
  indexer_worker/justfile
  justfile
  packages/js/k6/justfile
  packages/python/openverse-attribution/justfile
Due: i18n, types, test:unit, vale

Fix flaky test (#4987)
  frontend/test/playwright/e2e/search-navigation.spec.ts
Due: i18n, types, eslint, test:unit

Remove steps for unprepared k6 after staging frontend deploy (#4990)
  .github/workflows/ci_cd.yml
Due: none

Use Elasticsearch configuration file to avoid tricky environment variable names (#4992)
  docker-compose.yml
  docker/es/elasticsearch.yml
  docker/es/env.docker
Due: none

Do not ping for project update reminders on shipped projects (#4993)
  automations/js/src/project_thread_updates.js
Due: eslint

Publish changelog for frontend-2024.09.25.05.33.23 (#4988)
  documentation/changelogs/frontend/2024.09.25.05.33.23.md
Due: fix-console-code-block, vale

Collect lighthouse CI on each frontend change (#4994)
  .github/.lighthouserc.yml
  .github/workflows/ci_cd.yml
  justfile
Due: none

Fix flaky test from #4995 (#4999)
  frontend/src/pages/preferences.vue
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/preferences.spec.ts
Due: i18n, types, eslint, test:unit

Update dependency nock to v14.0.0-beta.15 (#5011)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix the load test comment condition (#5021)
  .github/workflows/ci_cd.yml
Due: none

Improve Sentry init log and ignore non-actionable error (#4997)
  frontend/server/plugins/sentry.ts
  frontend/src/plugins/01.sentry.client.ts
Due: i18n, types, eslint, test:unit

Bump rollup from 4.21.2 to 4.22.4 (#5019)
  packages/js/api-client/package.json
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update dependency axios to v1.7.4 [SECURITY] (#5016)
  pnpm-lock.yaml
Due: none

Update dependency apache-airflow to v2.10.2 (#5009)
  catalog/requirements-prod.txt
Due: none

Update dependency elasticsearch to v8.15.1 (#5010)
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency @pinia/nuxt to v0.5.5 (#5008)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @nuxtjs/i18n to v8.5.5 (#5007)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update plausible to fix logging (#5023)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update skeletons (#4982)
  frontend/src/components/VSkeleton/VBone.vue
  frontend/src/components/VSkeleton/VGridSkeleton.vue
  frontend/src/components/VSkeleton/meta/VGridSkeleton.stories.ts
  frontend/src/styles/tailwind.css
Due: i18n, types, eslint, test:unit

Add BACK_TO_TOP event and fire when button is clicked (#4953)
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VScrollButton.vue
  frontend/src/stores/search.ts
  frontend/src/types/analytics.ts
Due: i18n, types, eslint, test:unit

Update init scripts to use new data refresh (#4962)
  .github/workflows/ci_cd.yml
  catalog/dags/common/sensors/single_run_external_dags_sensor.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/create_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/dags/data_refresh/queries.py
  catalog/dags/data_refresh/remap_table_indices.py
  catalog/justfile
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
  documentation/catalog/reference/DAGs.md
  load_sample_data.sh
Due: fix-console-code-block, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
