Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Turn on additional search views frontend (#4043)
  frontend/feat/feature-flags.json
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
  frontend/test/unit/test-utils/i18n.js
  frontend/test/unit/test-utils/pinia.js
Due: i18n, types, eslint, test:unit

Add `SEARCH_RESPONSE_TIME` event (#4044)
  frontend/src/data/media-service.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
  frontend/src/types/analytics.ts
  frontend/test/unit/specs/data/media-service.spec.ts
  frontend/test/unit/specs/stores/media-store.spec.js
Due: i18n, types, eslint, test:unit

Update print_ps() to use Docker Compose ps JSON output (#4069)
  utilities/ps.py
Due: none

Update dependency typescript to v5.4.4 (#4049)
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: none

Publish changelog for frontend-2024.04.09.03.50.12 (#4079)
  documentation/changelogs/frontend/2024.04.09.03.50.12.md
Due: none

Publish changelog for api-2024.04.09.03.50.11 (#4078)
  documentation/changelogs/api/2024.04.09.03.50.11.md
Due: none

Bugfix to ensure image type is correctly extracted from content type (#4062)
  api/api/utils/image_proxy/extension.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Update Node.js to v18.20.2 (#4057)
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Reduce visual footprint of DAG Alerts in Slack (#4071)
  catalog/dags/common/slack.py
Due: none

Implement media properties documentation for the API and frontend (#3966)
  .github/workflows/ci_cd.yml
  api/api/docs/media_properties/preamble.md
  api/api/management/commands/documentmedia.py
  api/api/models/audio.py
  api/api/models/media.py
  api/justfile
  documentation/meta/ci_cd/jobs/api.md
  documentation/meta/ci_cd/jobs/frontend.md
  documentation/meta/index.md
  documentation/meta/media_properties/api.md
  documentation/meta/media_properties/frontend.md
  documentation/meta/media_properties/index.md
  frontend/justfile
  frontend/package.json
  frontend/scripts/document-media.js
  frontend/scripts/preamble.md
  frontend/src/types/media.ts
Due: i18n, types, eslint, test:unit

Fix: Remove unwanted leading/trailing whitespaces in attributions (#4066)
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/utils/attribution-html.ts
Due: i18n, types, eslint, test:unit

Handle global audio play errors (#4011)
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/constants/audio.ts
  frontend/src/stores/active-media.ts
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: i18n, types, eslint, test:unit

Bump idna from 3.6 to 3.7 in /api (#4098)
  api/Pipfile.lock
Due: none

Bump idna from 3.6 to 3.7 in /utilities/project_planning (#4096)
  utilities/project_planning/Pipfile.lock
Due: none

Bump idna from 3.4 to 3.7 in /documentation (#4095)
  documentation/Pipfile.lock
Due: none

Bump idna from 3.4 to 3.7 in /automations/python (#4094)
  automations/python/Pipfile.lock
Due: none

Bump idna from 3.6 to 3.7 in /ingestion_server (#4097)
  ingestion_server/Pipfile.lock
Due: none

Add media properties generation (#3620)
  .github/workflows/ci_cd.yml
  .prettierignore
  catalog/justfile
  catalog/tests/utilities/media_props_gen/test_column_parser.py
  catalog/tests/utilities/media_props_gen/test_db.py
  catalog/tests/utilities/media_props_gen/test_generate_media_properties.py
  catalog/tests/utilities/media_props_gen/test_md.py
  catalog/utilities/media_props_gen/__init__.py
  catalog/utilities/media_props_gen/docs/media_props.md
  catalog/utilities/media_props_gen/docs/postamble.md
  catalog/utilities/media_props_gen/docs/preamble.md
  catalog/utilities/media_props_gen/generate_media_properties.py
  catalog/utilities/media_props_gen/helpers/__init__.py
  catalog/utilities/media_props_gen/helpers/column_parser.py
  catalog/utilities/media_props_gen/helpers/db.py
  catalog/utilities/media_props_gen/helpers/md.py
  documentation/catalog/guides/quickstart.md
  documentation/meta/ci_cd/jobs/catalog.md
  documentation/meta/media_properties/catalog.md
  documentation/meta/media_properties/index.md
Due: none

Add emojis to the project thread reminder bot acceptable statuses (#4090)
  automations/js/src/project_thread_updates.js
Due: eslint

Fix the feature flags in production on hydration (#4084)
  frontend/feat/feature-flags.json
  frontend/nuxt.config.ts
  frontend/src/pages/preferences.vue
  frontend/src/stores/feature-flag.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/test-utils/pinia.js
Due: i18n, types, eslint, test:unit

Show the unstable params and improve collection docs (#4085)
  api/api/constants/search.py
  api/api/docs/audio_docs.py
  api/api/docs/base_docs.py
  api/api/docs/image_docs.py
  api/api/serializers/docs.py
  api/api/serializers/media_serializers.py
Due: none

Set additional search views to enabled (#4117)
  frontend/feat/feature-flags.json
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
Due: i18n, types, eslint, test:unit

Add useful Log Insights query to Nuxt avg response time runbook (#4089)
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_above_threshold.md
Due: none

Content moderator user preferences admin view (#3914)
  api/api/admin/__init__.py
  api/api/admin/forms.py
  api/api/admin/site.py
  api/api/migrations/0059_userpreferences.py
  api/api/models/__init__.py
  api/api/models/moderation.py
  api/test/unit/admin/test_forms.py
  load_sample_data.sh
Due: none

Publish changelog for frontend-2024.04.13.16.19.50 (#4112)
  documentation/changelogs/frontend/2024.04.13.16.19.50.md
Due: none

Publish changelog for frontend-2024.04.15.15.20.23 (#4118)
  documentation/changelogs/frontend/2024.04.15.15.20.23.md
Due: none

Publish changelog for api-2024.04.15.17.18.29 (#4120)
  documentation/changelogs/api/2024.04.15.17.18.29.md
Due: none

Report reingestion errors in aggregate (#4074)
  catalog/dags/providers/provider_dag_factory.py
Due: none

Wait for iNaturalist load completion before compiling statistics (#4104)
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

Add (or update) robots.txt and ai.txt to block AI crawlers (#4077)
  api/api/templates/ai.txt
  api/conf/urls/__init__.py
  documentation/ai.txt
  documentation/conf.py
  documentation/robots.txt
  frontend/src/static/ai.txt
  frontend/src/static/robots.txt
Due: i18n, types, test:unit

Bump sqlparse from 0.4.4 to 0.5.0 in /api (#4123)
  api/Pipfile.lock
Due: none

Update dependency @playwright/test to v1.43.1 (#4133)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Break `docker-compose.yml` into smaller `compose.yml` files (#4114)
  .github/workflows/ci_cd.yml
  api/compose.yml
  catalog/compose.yml
  docker-compose.yml
  frontend/compose.yml
  frontend/docker-compose.playwright.yml
  ingestion_server/compose.yml
  ingestion_server/test/env.integration
  ingestion_server/test/gen_integration_compose.py
Due: i18n, types, test:unit

Fix the back to results button for pages opened from collection pages (#4116)
  frontend/src/middleware/single-result.ts
Due: i18n, types, eslint, test:unit

Update pnpm to v8.15.7 (#4131)
  package.json
Due: none

Update dependency @nuxtjs/composition-api to ^0.34.0 (#4132)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fill out query params for Stocksnap DAG, allow restarts (#4102)
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/tests/dags/providers/provider_api_scripts/test_stocksnap.py
Due: none

Add django-migration-git-conflict to prevent divergent migration merges (#4075)
  api/Pipfile
  api/Pipfile.lock
  api/conf/settings/base.py
  api/latest_migrations/README
  api/latest_migrations/api
  api/latest_migrations/corsheaders
  api/latest_migrations/django.contrib.admin
  api/latest_migrations/django.contrib.auth
  api/latest_migrations/django.contrib.contenttypes
  api/latest_migrations/django.contrib.messages
  api/latest_migrations/django.contrib.sessions
  api/latest_migrations/django.contrib.staticfiles
  api/latest_migrations/drf_spectacular
  api/latest_migrations/migrations_git_conflicts
  api/latest_migrations/oauth2_provider
  api/latest_migrations/rest_framework
Due: none

Update dependency rimraf to v5 (#4136)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Implementation plan: Ingestion server removal (#4026)
  documentation/projects/proposals/ingestion_server_removal/20240328-implementation_plan_ingestion_server_removal.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
