Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: pnpm run -r types
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: just eslint

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - pre-push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Update the analytics events for relevancy (#5108)
  frontend/shared/types/analytics.ts
  frontend/shared/types/collection-component-props.ts
  frontend/shared/utils/query-utils.ts
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VMediaInfo/VGetMediaButton.vue
  frontend/src/components/VMediaInfo/VLicenseTabPanel.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/composables/use-route-result-params.ts
  frontend/src/pages/image/[id]/index.vue
  frontend/src/stores/media/index.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
  frontend/test/playwright/e2e/all-results-keyboard.spec.ts
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/search-navigation.spec.ts
  frontend/test/playwright/utils/search-results.ts
Due: i18n, types, eslint, test:unit

Fix scrollbar visibility issue by using overflow-y: auto (#5285)
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/layouts/default.vue
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.12.17.14.37.03 (#5283)
  documentation/changelogs/frontend/2024.12.17.14.37.03.md
Due: fix-console-code-block, vale

Add sources cache to Nuxt app (#5288)
  frontend/server/api/sources.ts
  frontend/src/stores/provider.ts
  frontend/test/unit/specs/stores/provider.spec.ts
Due: i18n, types, eslint, test:unit

Add required variables for Nuxt Sentry setup (#5284)
  .github/workflows/ci_cd.yml
  frontend/Dockerfile
  frontend/nuxt.config.ts
  frontend/package.json
  justfile
Due: i18n, types, eslint, test:unit

Use .env.sentry-build-plugin for Sentry auth token (#5292)
  frontend/Dockerfile
Due: i18n, types, test:unit

Publish changelog for frontend-2024.12.19.03.36.42 (#5291)
  documentation/changelogs/frontend/2024.12.19.03.36.42.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2024.12.19.05.42.40 (#5294)
  documentation/changelogs/frontend/2024.12.19.05.42.40.md
Due: fix-console-code-block, vale

Fetch all add-on instances in one DB request (#5289)
  api/api/models/audio.py
  api/api/serializers/audio_serializers.py
  api/api/views/audio_views.py
  api/api/views/media_views.py
  api/test/integration/test_dead_link_filter.py
  api/test/unit/models/test_audio.py
  api/test/unit/views/test_audio_views.py
Due: none

Publish changelog for api-2024.12.20.09.55.14 (#5298)
  documentation/changelogs/api/2024.12.20.09.55.14.md
Due: fix-console-code-block, vale

Fix Sentry client setup (#5297)
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/sentry.client.config.ts
  frontend/sentry.server.config.ts
  frontend/server/api/sources.ts
  frontend/src/app.config.ts
  frontend/src/pages/preferences.vue
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Start the catalog service as part of `ov just init` (#5300)
  load_sample_data.sh
Due: none

Downgrade the API's python version back to 3.11 (#5295)
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Publish changelog for api-2024.12.27.21.22.28 (#5303)
  documentation/changelogs/api/2024.12.27.21.22.28.md
Due: fix-console-code-block, vale

Document how to log database queries (#5301)
  documentation/api/guides/index.md
  documentation/api/guides/logging.md
Due: fix-console-code-block, vale

Update dependency apache-airflow to v2.10.4 (#5309)
  catalog/requirements-prod.txt
Due: none

Update dependency pook to v2.1.3 (#5311)
  catalog/requirements-dev.txt
Due: none

Update workflows (#5312)
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update dependency @playwright/test to v1.49.1 (#5307)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pnpm to v9.15.3 (#5317)
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

Update Nuxt version (#5319)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency typescript to v5.7.2 (#5316)
  .github/renovate.json5
  frontend/package.json
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/test/playwright/utils/test.ts
  package.json
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/index.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.12.27.21.22.28 (#5304)
  documentation/changelogs/frontend/2024.12.27.21.22.28.md
Due: fix-console-code-block, vale

Remove dependency node-html-parser to v7 (#5318)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Use CSS for colors of VWordPress and VHomeLink (#5110)
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VHeader/meta/VHomeLink.stories.ts
  frontend/src/components/VImageResult/VImageResult.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VRadio/VRadio.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/components/meta/Focus.stories.js
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Update dependency nock to v14.0.0-beta.19 (#5310)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update i18n packages and group them in renovate config (#5320)
  .github/renovate.json5
  frontend/package.json
  package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pre-commit hook renovatebot/pre-commit-hooks to v39.91.3 (#5321)
  .pre-commit-config.yaml
Due: none

Update dependency @nuxtjs/storybook to v8.3.3 (#5306)
  frontend/.storybook/main.ts
  frontend/package.json
  frontend/shared/constants/banners.ts
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/meta/VNotificationBanner.stories.js
  frontend/src/components/VContentSwitcher/meta/VSearchTypes.stories.js
  frontend/src/components/VImageResult/meta/VImageResult.stories.js
  frontend/src/components/meta/VButton.stories.js
  frontend/test/storybook/visual-regression/v-button.spec.ts
  frontend/test/storybook/visual-regression/v-image-result.spec.ts
  frontend/test/storybook/visual-regression/v-notitication-banner.spec.ts
  frontend/test/storybook/visual-regression/v-search-types.spec.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Revert "Downgrade the API's python version back to 3.11 (#5295)" (#5327)
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Publish changelog for api-2025.01.11.11.22.59 (#5329)
  documentation/changelogs/api/2025.01.11.11.22.59.md
Due: fix-console-code-block, vale

Update aiohttp to v3.11.11 (#5328)
  api/pdm.lock
  api/pyproject.toml
Due: none

Publish changelog for api-2025.01.12.10.55.21 (#5331)
  documentation/changelogs/api/2025.01.12.10.55.21.md
Due: fix-console-code-block, vale

Update dependency uvicorn to >=0.34, <0.35 (#5333)
  api/pdm.lock
  api/pyproject.toml
Due: none

Close old db connections after getting thumbnails (#5335)
  api/api/utils/image_proxy/__init__.py
Due: none

Publish changelog for api-2025.01.14.14.57.35 (#5336)
  documentation/changelogs/api/2025.01.14.14.57.35.md
Due: fix-console-code-block, vale

Add Django connection pools feature (#5332)
  .github/workflows/ci_cd.yml
  api/api/templatetags/get_attr.py
  api/conf/settings/databases.py
  api/conf/settings/logging.py
  api/justfile
  api/pdm.lock
  api/pyproject.toml
  api/test/integration/test_auth.py
  api/test/unit/management/commands/test_generatewaveforms.py
  api/test/unit/models/test_media_report.py
  api/test/unit/utils/test_moderation.py
  catalog/dags/providers/provider_api_scripts/cleveland_museum.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/tests/dags/providers/provider_api_scripts/test_nappy.py
Due: none

Publish changelog for api-2025.01.15.17.59.21 (#5337)
  documentation/changelogs/api/2025.01.15.17.59.21.md
Due: fix-console-code-block, vale

Update workflows (#5339)
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
  api/api/management/commands/documentmedia.py
  api/api/management/commands/generatewaveforms.py
  api/api/models/audio.py
  api/api/utils/image_proxy/__init__.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/utils/test_help_text.py
  api/test/unit/utils/test_search_context.py
  catalog/dags/common/licenses/licenses.py
  catalog/dags/common/loader/reporting.py
  catalog/dags/common/loader/sql.py
  catalog/dags/common/log_cleanup.py
  catalog/dags/common/requester.py
  catalog/dags/common/slack.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/delete_records/delete_records_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/popularity/sql.py
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/tests/dags/common/loader/test_reporting.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/database/test_report_pending_reported_media.py
  catalog/tests/dags/providers/provider_api_scripts/resources/metropolitan_museum_of_art/read_met_csv.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_flickr.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
  catalog/tests/dags/test_dag_parsing.py
  catalog/tests/factories/github/__init__.py
  catalog/tests/utilities/media_props_gen/test_column_parser.py
  catalog/utilities/media_props_gen/generate_media_properties.py
  docker/dev_env/exec.py
  indexer_worker/indexer_worker/queries.py
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/ingestion_server/indexer.py
  ingestion_server/ingestion_server/queries.py
  ingestion_server/test/integration_test.py
  ingestion_server/test/unit_tests/test_distributed_reindex_scheduler.py
Due: none

Only show audio message when track ID matches active (#5305)
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/test/unit/specs/components/AudioTrack/v-audio-track.spec.js
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
