Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Bump renovatebot/github-action from 38.1.8 to 39.0.1 (#2751)
  .github/workflows/renovate.yml
Due: none

Bump boto3 from 1.26.165 to 1.28.16 in /ingestion_server (#2756)
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

bump django-cors-headers from 4.1.0 to 4.2.0 in /api (#2763)
  api/Pipfile
  api/Pipfile.lock
Due: none

Bump pyotp from 2.8.0 to 2.9.0 in /automations/python (#2749)
  automations/python/Pipfile.lock
Due: none

Bump pyyaml from 6.0 to 6.0.1 in /automations/python (#2750)
  automations/python/Pipfile.lock
Due: none

Bump pyyaml from 6.0 to 6.0.1 in /ingestion_server (#2753)
  ingestion_server/Pipfile.lock
Due: none

Bump furo from 2023.5.20 to 2023.7.26 in /documentation (#2760)
  documentation/Pipfile.lock
Due: none

Bump hvac from 1.1.0 to 1.1.1 in /api (#2758)
  api/Pipfile
  api/Pipfile.lock
Due: none

Bump sphinx from 6.2.1 to 7.1.1 in /documentation (#2759)
  documentation/Pipfile.lock
  documentation/general/contributing.md
Due: none

Bump gunicorn from 20.1.0 to 21.2.0 in /api (#2762)
  api/Pipfile
  api/Pipfile.lock
Due: none

Bump gevent from 22.10.2 to 23.7.0 in /api (#2757)
  api/Pipfile
  api/Pipfile.lock
Due: none

Bump gunicorn from 20.1.0 to 21.2.0 in /ingestion_server (#2755)
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Bump django-redis from 5.2.0 to 5.3.0 in /api (#2761)
  api/Pipfile
  api/Pipfile.lock
Due: none

Bump nunjucks from 3.2.3 to 3.2.4 (#2764)
  automations/js/package.json
  pnpm-lock.yaml
Due: eslint

Bump sentry-sdk from 1.26.0 to 1.29.0 in /ingestion_server (#2752)
  ingestion_server/Pipfile.lock
Due: none

Bump cryptography from 41.0.2 to 41.0.3 in /automations/python (#2770)
  automations/python/Pipfile.lock
Due: none

Bump cryptography from 41.0.2 to 41.0.3 in /api (#2771)
  api/Pipfile.lock
Due: none

Implementation Plan: Additional search views (#2676)
  documentation/projects/proposals/additional_search_views/20230719-implementation_plan_additional_search_views.md
Due: none

Rename `mature` to `includeSensitiveResults` (#2721)
  frontend/src/components/VErrorSection/VServerTimeout.vue
  frontend/src/components/VErrorSection/meta/VErrorSection.stories.mdx
  frontend/src/constants/content-safety.ts
  frontend/src/constants/filters.ts
  frontend/src/stores/search.ts
  frontend/src/utils/search-query-transform.ts
  frontend/test/unit/specs/stores/search-store.spec.js
  frontend/test/unit/specs/utils/search-query-transform.spec.js
Due: i18n, types, eslint, test:unit

Clean up Popularity Refresh notifications and adjust poke interval (#2740)
  catalog/dags/data_refresh/reporting.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/popularity/dag_factory.py
  catalog/dags/popularity/popularity_refresh_types.py
  catalog/tests/dags/database/test_batched_update.py
Due: none

Stop converting timeout error to an object in Nuxt API requests (#2778)
  frontend/src/data/api-service.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2023.08.08.21.19.44 (#2804)
  documentation/changelogs/frontend/2023.08.08.21.19.44.md
Due: none

Publish changelog for api-2023.08.08.22.22.02 (#2806)
  documentation/changelogs/api/2023.08.08.22.22.02.md
Due: none

Improve the docs (#2812)
  documentation/general/general_setup.md
Due: none

Remove unused WSGIBasicAuth and django-cron (#2809)
  api/Pipfile
  api/Pipfile.lock
  api/api/utils/scheduled_tasks.py
  api/conf/wsgi.py
Due: none

fix: adding mce-visual-caret-hidden pattern to ignored Sentry errors (#2781)
  frontend/src/utils/sentry-config.ts
Due: i18n, types, eslint, test:unit

Fix audio snackbar and box audio seeking (#2743)
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/composables/use-audio-snackbar.ts
  frontend/src/composables/use-seekable.ts
  frontend/src/stores/ui.ts
  frontend/src/types/events.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/unit/specs/stores/ui-store.spec.js
Due: i18n, types, eslint, test:unit

polyfill flatMap for Chrome < 69 (#2822)
  frontend/nuxt.config.ts
  frontend/src/plugins/polyfills.client.ts
Due: i18n, types, eslint, test:unit

JavaScript to TypeScript (#2490)
  .github/actions/build-docs/action.yml
  frontend/.gitignore
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/constants/z-indices.js
  frontend/src/constants/z-indices.ts
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: i18n, types, eslint, test:unit

Fix VImageCell storybook test (#2821)
  frontend/src/components/VImageCell/meta/VImageCell.stories.mdx
  frontend/test/unit/fixtures/base64Image.js
Due: i18n, types, eslint, test:unit

Remove reference to tailwind config viewer from docs (#2827)
  frontend/src/stories/Introduction.stories.mdx
Due: i18n, types, test:unit

Publish changelog for frontend-2023.08.14.16.26.44 (#2828)
  documentation/changelogs/frontend/2023.08.14.16.26.44.md
Due: none

Publish changelog for api-2023.08.14.16.35.15 (#2829)
  documentation/changelogs/api/2023.08.14.16.35.15.md
Due: none

Replace request mocks with pook in tests (#2783)
  api/test/unit/utils/test_image_proxy.py
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
  ingestion_server/test/unit_tests/test_slack.py
Due: none

Remove `body` from the index.update elasticsearch requests (#2777)
  .github/workflows/ci_cd.yml
  api/api/apps.py
  api/api/models/media.py
  api/test/unit/models/test_media_report.py
  docker-compose.yml
  ingestion_server/gunicorn.conf.py
Due: none

Bump tornado from 6.3.2 to 6.3.3 in /documentation (#2830)
  documentation/Pipfile.lock
Due: none

timestamp_created -> timestamp_update (#2817)
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Set API Dockerfile run to production config (#2808)
  api/Dockerfile
  docker-compose.yml
Due: none

Extract use-external-sources composable (#2826)
  frontend/src/components/VErrorSection/VNoResults.vue
  frontend/src/components/VErrorSection/meta/VErrorSection.stories.mdx
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VSearchGrid.vue
  frontend/src/composables/use-external-sources.ts
  frontend/test/unit/specs/components/ExternalSources/v-external-source-list.spec.js
Due: i18n, types, eslint, test:unit
