Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, test:unit, render-precommit, render-prettier, render-github, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-precommit: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-prettier: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-github: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Fix Storybook tests by waiting for URL instead of a port (#1137)
  frontend/test/storybook/playwright.config.ts
Due: i18n, types, test:unit

Use `add-to-project-and-label` action (#1138)
  .github/workflows/new_issues.yml
Due: none

Add an implementation plan template (#1150)
  docs/projects/templates/implementation-plan.md
Due: none

Delete unused VSearchTypeRadio.vue (#1143)
  frontend/src/components/VContentSwitcher/VSearchTypeRadio.vue
  frontend/tsconfig.json
Due: i18n, types, test:unit

Retire image expiration dag (#1093)
  DAGs.md
  openverse_catalog/dags/common/loader/sql.py
  openverse_catalog/dags/retired/common/loader/sql.py
  openverse_catalog/dags/retired/database/image_expiration_workflow.py
  tests/dags/common/loader/test_sql.py
Due: none

Extract VCloseButton and add descriptive labels (#988)
  frontend/src/components/VBanner/VMigrationNotice.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VButton.vue
  frontend/src/components/VCloseButton.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VGlobalAudioSection/VGlobalAudioSection.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VIconButton/VIconButton.vue
  frontend/src/components/VTabs/VTabs.vue
  frontend/src/components/meta/VCloseButton.stories.mdx
  frontend/src/locales/scripts/en.json5
  frontend/src/styles/tailwind.css
  frontend/src/types/button.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/migration-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-focused-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-hovered-linux.png
  frontend/test/storybook/visual-regression/v-button.spec.ts-snapshots/filled-transparent-resting-linux.png
  frontend/tsconfig.json
Due: i18n, types, test:unit

Update project plan PR template (#1155)
  .github/PULL_REQUEST_TEMPLATE/project_proposal.md
  documentation/reference/decision_making/additional_practices.md
Due: none

🔄 synced file(s) with WordPress/openverse (#1092)
  .github/workflows/new_issues.yml
  .pre-commit-config.yaml
  docker/airflow/entrypoint.sh
  openverse_catalog/dags/common/popularity/sql.py
  openverse_catalog/dags/common/slack.py
  openverse_catalog/dags/maintenance/check_silenced_dags.py
  openverse_catalog/dags/maintenance/flickr_audit_sub_provider_workflow.py
  openverse_catalog/dags/providers/provider_api_scripts/inaturalist.py
  openverse_catalog/dags/providers/provider_api_scripts/smithsonian.py
  openverse_catalog/dags/providers/provider_api_scripts/time_delineated_provider_data_ingester.py
  openverse_catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  tests/dags/common/popularity/test_sql.py
  tests/dags/providers/provider_api_scripts/resources/inaturalist/pull_sample_records.py
  tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
  tests/dags/providers/provider_api_scripts/test_time_delineated_provider_data_ingester.py
Due: none

Convert VModal story to MDX (#1091)
  frontend/src/components/VModal/meta/VModal.stories.js
  frontend/src/components/VModal/meta/VModal.stories.mdx
Due: i18n, types, test:unit

Implementation Plan: Managing A Sensitive Terms List (#911)
  rfcs/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
Due: none

Do not show a load completion message if all steps failed (#1055)
  .gitignore
  openverse_catalog/dags/common/loader/reporting.py
  tests/dags/common/loader/test_reporting.py
Due: none

Update deployment doc and add zero-downtime info about environment variables (#907)
  documentation/guides/deploy.md
  documentation/guides/deployment.md
  documentation/guides/index.md
  documentation/guides/zero-downtime-database-management.md
  frontend/meta_docs/DEPLOYMENT.md
Due: i18n, types, test:unit

Add a check for `statement`'s name to fix the failure (#1177)
  frontend/bin/get-custom-event-names.js
Due: i18n, types, test:unit

Change deployment workflow name from colon to dash (#1174)
  .github/workflows/ci_cd.yml
  .github/workflows/deploy-production-api.yml
  .github/workflows/deploy-production-nuxt.yml
  .github/workflows/deploy-staging-api.yml
  .github/workflows/deploy-staging-nuxt.yml
  .github/workflows/release-app.yml
Due: none

Update sources button (#1021)
  frontend/src/components/VLink.vue
  frontend/src/pages/sources.vue
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xs-linux.png
Due: i18n, types, test:unit

Pin renovate action to specific version (#1173)
  .github/workflows/renovate.yml
Due: none

Update the Copy button (#1140)
  frontend/src/components/VCopyButton.vue
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
Due: i18n, types, test:unit

Add content write permission to release app workflow (#1183)
  .github/workflows/release-app.yml
Due: none

Disable Plausible at init (#1182)
  frontend/src/composables/use-analytics.ts
  frontend/src/stores/feature-flag.ts
Due: i18n, types, test:unit

Handle empty string urls for Metropolitan (#1102)
  openverse_catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
Due: none

Add region to rotate_rds_snapshots DAG (#1099)
  openverse_catalog/dags/maintenance/rotate_db_snapshots.py
  tests/dags/maintenance/test_rotate_db_snapshots.py
Due: none

JSON retrieval function across all provider_api_scripts tests (#1059)
  tests/dags/providers/provider_api_scripts/resources/FakeSource.py
  tests/dags/providers/provider_api_scripts/resources/json_load.py
  tests/dags/providers/provider_api_scripts/test_brooklyn_museum.py
  tests/dags/providers/provider_api_scripts/test_cleveland_museum.py
  tests/dags/providers/provider_api_scripts/test_europeana.py
  tests/dags/providers/provider_api_scripts/test_finnish_museums.py
  tests/dags/providers/provider_api_scripts/test_flickr.py
  tests/dags/providers/provider_api_scripts/test_freesound.py
  tests/dags/providers/provider_api_scripts/test_jamendo.py
  tests/dags/providers/provider_api_scripts/test_make_resource_json_func.py
  tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
  tests/dags/providers/provider_api_scripts/test_museum_victoria.py
  tests/dags/providers/provider_api_scripts/test_nappy.py
  tests/dags/providers/provider_api_scripts/test_nypl.py
  tests/dags/providers/provider_api_scripts/test_phylopic.py
  tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
  tests/dags/providers/provider_api_scripts/test_rawpixel.py
  tests/dags/providers/provider_api_scripts/test_science_museum.py
  tests/dags/providers/provider_api_scripts/test_smithsonian.py
  tests/dags/providers/provider_api_scripts/test_smk.py
  tests/dags/providers/provider_api_scripts/test_stocksnap.py
  tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
  tests/dags/providers/provider_api_scripts/test_wordpress.py
Due: none

Fix linting (#1103)
  tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Due: none

Use the built-in Tailwind named groups (#1179)
  frontend/package.json
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/tailwind.config.js
  pnpm-lock.yaml
Due: i18n, types, test:unit

Convert `VContentLink` story to MDX (#1062)
  frontend/src/components/VContentLink/meta/VContentLink.stories.js
  frontend/src/components/VContentLink/meta/VContentLink.stories.mdx
Due: i18n, types, test:unit

Add project labels (#1167)
  automations/data/labels.yml
Due: none

Implementation Plan: Filtering and designating sensitive results in the API (#996)
  documentation/projects/proposals/detecting_sensitive_textual_content/20230308-implementation_plan_filtering_and_designating_results_with_sensitive_textual_content.md
  documentation/projects/proposals/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
  documentation/projects/proposals/detecting_sensitive_textual_content/20230309-project_proposal_detecting_sensitive_textual_content.md
Due: none

Replace usages of `local_postgres` with `upstream_db`
  catalog/README.md
  catalog/dags/common/popularity/README.md
  catalog/tests/dags/common/popularity/test_sql.py
  docker/local_postgres/0001_airflow_user_db.sql
  docker/local_postgres/0002_aws_s3_mock.sql
  docker/local_postgres/0003_openledger_image_schema.sql
  docker/local_postgres/0004_openledger_image_view.sql
  docker/local_postgres/0005_openledger_old_image_schema.sql
  docker/local_postgres/0006_openledger_audio_schema.sql
  docker/local_postgres/0007_openledger_audio_view.sql
  docker/local_postgres/Dockerfile
  docker/local_postgres/env.template
  documentation/projects/proposals/3d_model_support/20220221-project_proposal.md
  justfile
Due: none

Use env var `DC_USER` for `dj` recipe
  api/justfile
Due: none

Prevent repeated builds of the upstream DB
  .github/actions/load-img/action.yml
  .github/workflows/ci_cd.yml
  docker/upstream_db/Dockerfile
Due: none

Use bulk download for `nuxt-build` job
  .github/workflows/ci_cd.yml
Due: none

Project Proposal: Search Relevancy Sandbox (#1107)
  documentation/projects/proposals/search_relevancy_sandbox/20230331-project_proposal_search_relevancy_sandbox.md
  documentation/projects/proposals/search_relevancy_sandbox/index.md
Due: none

Remove empty implementation plan template (#1204)
  documentation/templates/implementation-plan.md
Due: none

Add `LABEL` to link repo with GHCR image (#1223)
  catalog/Dockerfile
Due: none

Bump peter-evans/create-pull-request from 4 to 5 (#1208)
  .github/workflows/release-app.yml
Due: none

Fix meta-file sync workflow (#1224)
  .github/sync.yml
  .pre-commit-config.yaml
  README.md
  templates/.pre-commit-config.local.yaml.jinja
  templates/.pre-commit-config.yaml.jinja
  templates/README.md
  templates/prettier.config.js.jinja
  templates/prettier.config.local.js.jinja
  templates/pull_request_template.md.jinja
Due: render-precommit, render-prettier, render-github, render-release-drafter
