Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Revert "Decrease thumbnail upstream timeout and add timing logs for thumbnail requests" (#4746)
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/extension.py
  api/compose.yml
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_aiohttp.py
Due: none

Publish changelog for api-2024.08.12.17.31.11 (#4745)
  documentation/changelogs/api/2024.08.12.17.31.11.md
Due: fix-console-code-block, vale

Always use only latest provider tags when reingesting (#4752)
  catalog/dags/common/storage/columns.py
  catalog/tests/dags/common/loader/test_sql.py
  documentation/meta/media_properties/catalog.md
Due: fix-console-code-block, vale

Switch to locally available prettier for pre-commit hook (#4749)
  .pre-commit-config.yaml
  justfile
Due: none

Correct response handling for checking dead links (#4748)
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/extension.py
  api/compose.yml
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_aiohttp.py
Due: none

Generate Wikimedia thumbnail URLs on the fly (#4736)
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/wikimedia.py
  api/api/views/image_views.py
  api/conf/settings/thumbnails.py
  api/test/factory/models/image.py
  api/test/factory/models/media.py
  api/test/unit/utils/test_image_proxy.py
  api/test/unit/views/test_image_views.py
Due: none

Add dependencies necessary for cffi installation to dev environment (#4754)
  docker/dev_env/Dockerfile
Due: none

Setup structlog Sentry integration (#4704)
  api/api/admin/media_report.py
  api/api/utils/aiohttp.py
  api/api/utils/image_proxy/extension.py
  api/api/utils/watermark.py
  api/api/utils/waveform.py
  api/api/views/oauth2_views.py
  api/conf/settings/logging.py
  api/conf/settings/sentry.py
  api/pdm.lock
  api/pyproject.toml
Due: none

Do not logger.error timeout errors in dead link checks (#4757)
  api/api/utils/check_dead_links/__init__.py
  api/test/unit/utils/test_check_dead_links.py
Due: none

Publish changelog for api-2024.08.14.16.29.10 (#4760)
  documentation/changelogs/api/2024.08.14.16.29.10.md
Due: fix-console-code-block, vale

Publish changelog for api-2024.08.14.10.34.40 (#4756)
  documentation/changelogs/api/2024.08.14.10.34.40.md
Due: fix-console-code-block, vale

Use default of 0 for SENTRY_SAMPLE_RATE (#4759)
  api/conf/settings/sentry.py
Due: none

Replace retry with backoff, add backoff to all Freesound requests (#4663)
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/requirements-prod.txt
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
Due: none

Add request retries for 5XX errors on Science Museum & Brooklyn Museum (#4715)
  catalog/dags/providers/provider_api_scripts/brooklyn_museum.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
Due: none

Publish changelog for ingestion_server-2024.08.15.17.06.40 (#4768)
  documentation/changelogs/ingestion_server/2024.08.15.17.06.40.md
Due: fix-console-code-block, vale

Publish changelog for catalog-2024.08.15.16.49.58 (#4767)
  documentation/changelogs/catalog/2024.08.15.16.49.58.md
Due: fix-console-code-block, vale

Fix the focus outline for buttons (#4761)
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Add a note about keeping the bucket to the Rekognition project proposal (#4769)
  documentation/projects/proposals/rekognition_data/20240320-project_proposal_rekognition_data.md
Due: fix-console-code-block, vale

Fix Wikimedia provider when verbose logging enabled (#4753)
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
Due: none

Filter `filetype` of Wikimedia's images (#4772)
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Due: none

Publish changelog for frontend-2024.08.16.21.27.06 (#4775)
  documentation/changelogs/frontend/2024.08.16.21.27.06.md
Due: fix-console-code-block, vale

Publish changelog for api-2024.08.16.21.27.09 (#4776)
  documentation/changelogs/api/2024.08.16.21.27.09.md
Due: fix-console-code-block, vale

Silence pnpm peer dependency version warnings (#4766)
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Increase Wikimedia reingestion pull_data timeout (#4744)
  catalog/dags/providers/provider_reingestion_workflows.py
Due: none

Update the filters snapshot to fix the CI (#4782)
  frontend/test/playwright/visual-regression/components/filters.spec.ts-snapshots/filters-modal-checked-rtl-xs-linux.png
Due: i18n, types, test:unit

Fix or ignore deprecation warnings in the catalog (#4773)
  catalog/dags/common/storage/columns.py
  catalog/pytest.ini
Due: none

Only cache branch protection within the scope of the function (#4747)
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
Due: none

Update dependency vue to v3.4.38 (#4771)
  frontend/package.json
  frontend/src/composables/use-collection.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update the display of sensitive audio display (#4780)
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
Due: i18n, types, eslint, test:unit

Fix DAG docstrings so they no longer produce improper HTML (#4770)
  catalog/dags/maintenance/airflow_log_cleanup_workflow.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  documentation/catalog/reference/DAGs.md
Due: fix-console-code-block, vale

Add alter data step to the data refresh DAG (#4684)
  catalog/dags/data_refresh/alter_data.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/env.template
  catalog/tests/dags/data_refresh/test_alter_data.py
Due: none

Fix Google Images external source link (#4792)
  frontend/src/utils/get-additional-sources.ts
Due: i18n, types, eslint, test:unit

Run `ov just install` as part of `ov init` (#4790)
  ov
Due: none

Fix recent searches test (#4789)
  frontend/src/components/VAudioTrack/VAudioControl.vue
  frontend/src/components/VAudioTrack/VAudioTrack.vue
  frontend/src/components/VAudioTrack/VGlobalAudioTrack.vue
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VAudioTrack/layouts/VBoxLayout.vue
  frontend/src/components/VAudioTrack/layouts/VFullLayout.vue
  frontend/src/components/VAudioTrack/layouts/VGlobalLayout.vue
  frontend/src/components/VAudioTrack/layouts/VRowLayout.vue
  frontend/src/components/VIcon/VIcon.vue
Due: i18n, types, eslint, test:unit

Convert header-related components to script setup (23) (#4763)
  frontend/src/components/VBanner/VAnalyticsNotice.vue
  frontend/src/components/VBanner/VBanners.vue
  frontend/src/components/VBanner/VNotificationBanner.vue
  frontend/src/components/VBanner/VTranslationStatusBanner.vue
  frontend/src/components/VHeader/VFilterButton.vue
  frontend/src/components/VHeader/VFilterIconOrCounter.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VFilterTab.vue
  frontend/src/components/VHeader/VHeaderMobile/VSearchBarButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VShowResultsButton.vue
  frontend/src/components/VHeader/VHomeLink.vue
  frontend/src/components/VHeader/VLogoButton.vue
  frontend/src/components/VHeader/VPageLinks.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VHeader/VSearchBar/VSearchButton.vue
  frontend/src/components/VHeader/VSearchBar/VStandaloneSearchBar.vue
  frontend/src/components/VHeader/VWordPressLink.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/test/playwright/visual-regression/pages/errors.spec.ts
  frontend/test/tapes/search/images/q=galah&license_type=modification_keep-alive.json5
  frontend/test/tapes/search/images/q=galah_close.json5
  frontend/test/tapes/search/images/q=galah_keep-alive.json5
Due: i18n, types, eslint, test:unit

Convert single result page components (#4781)
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VMediaInfo/VByLine/VScroller.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
  frontend/src/components/VMediaInfo/VCollapsibleTagSection.vue
  frontend/src/components/VMediaInfo/VCopyLicense.vue
  frontend/src/components/VMediaInfo/VGetMediaButton.vue
  frontend/src/components/VMediaInfo/VLicenseTabPanel.vue
  frontend/src/components/VMediaInfo/VMediaInfo.vue
  frontend/src/components/VMediaInfo/VMediaLicense.vue
  frontend/src/components/VMediaInfo/VMediaReuse.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VMediaInfo/VSourceProviderTooltip.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/components/VScrollableLine.vue
Due: i18n, types, eslint, test:unit

Convert the report content popover to a modal (#4701)
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VContentReport/VContentReportModal.vue
  frontend/src/components/VContentReport/VContentReportPopover.vue
  frontend/src/components/VContentReport/VDmcaNotice.vue
  frontend/src/components/VContentReport/VReportDescForm.vue
  frontend/src/components/VContentReport/meta/VContentReportModal.stories.js
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VExternalSearch/VExternalSourceList.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/composables/use-content-report.ts
  frontend/src/composables/use-dialog-content.ts
  frontend/src/pages/image/[id]/report.vue
  frontend/tailwind.config.ts
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-md-linux.png
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
Due: i18n, types, eslint, test:unit

Update documentation to recommend OrbStack for mac users (#4793)
  documentation/general/general_setup.md
Due: fix-console-code-block, vale

Extract `VHeader` as a wrapper for header and banners (#4765)
  frontend/src/components/VHeader/VHeader.vue
  frontend/src/layouts/content-layout.vue
  frontend/src/layouts/default.vue
  frontend/src/layouts/search-layout.vue
Due: i18n, types, eslint, test:unit
