Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Publish changelog for frontend-2024.09.05.07.51.39 (#4868)
  documentation/changelogs/frontend/2024.09.05.07.51.39.md
Due: fix-console-code-block, vale

Add the UI toggle for changing theme (#4840)
  frontend/feat/feature-flags.json
  frontend/src/assets/svg/raw/moon.svg
  frontend/src/assets/svg/raw/sun.svg
  frontend/src/assets/svg/sprite/icons.svg
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/composables/use-dark-mode.ts
  frontend/src/locales/scripts/en.json5
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Due: i18n, types, eslint, test:unit

Update Nuxt to v3.13.1 (#4869)
  frontend/package.json
  frontend/typings/extend.d.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Make `additional_where` optional for batched update (#4872)
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/tests/dags/database/test_batched_update.py
Due: none

Remove retired DAGs from the codebase (#4867)
  .github/ISSUE_TEMPLATE/new_source_suggestion.yml
  .pre-commit-config.yaml
  catalog/dags/.airflowignore
  catalog/dags/retired/README.md
  catalog/dags/retired/__init__.py
  catalog/dags/retired/cleaner_workflow.py
  catalog/dags/retired/common/etl/__init__.py
  catalog/dags/retired/common/etl/bootstrap/config-py27.sh
  catalog/dags/retired/common/etl/scripts/ExtractCCLinks.py
  catalog/dags/retired/common/etl/scripts/__init__.py
  catalog/dags/retired/common/ingestion_column.py
  catalog/dags/retired/common/loader/sql.py
  catalog/dags/retired/common/pg_cleaner.py
  catalog/dags/retired/common_api_workflows.py
  catalog/dags/retired/commoncrawl/commoncrawl_etl.py
  catalog/dags/retired/commoncrawl/commoncrawl_scripts/commoncrawl_s3_syncer/SyncImageProviders.py
  catalog/dags/retired/commoncrawl/commoncrawl_scripts/scripts/merge_cc_tags.py
  catalog/dags/retired/commoncrawl/commoncrawl_utils.py
  catalog/dags/retired/commoncrawl/sync_commoncrawl_workflow.py
  catalog/dags/retired/database/image_expiration_workflow.py
  catalog/dags/retired/database/loader_workflow.py
  catalog/dags/retired/database/terminate_long_queries_workflow.py
  catalog/dags/retired/fix_phylopic_foreign_identifier.py
  catalog/dags/retired/providers/provider_api_scripts/modules/__init__.py
  catalog/dags/retired/providers/provider_api_scripts/modules/etlMods.py
  catalog/dags/retired/providers/provider_api_scripts/thingiverse.py
  catalog/dags/retired/providers/provider_api_scripts/walters.py
  catalog/dags/retired/update_workflows/__init__.py
  catalog/dags/retired/update_workflows/europeana_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/flickr_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/smithsonian_sub_provider_update_workflow.py
  catalog/dags/retired/update_workflows/update_sql.py
  catalog/utilities/media_props_gen/docs/media_props.md
  documentation/catalog/guides/quickstart.md
  documentation/catalog/reference/index.md
  documentation/catalog/reference/retired.md
  documentation/meta/media_properties/catalog.md
  pyproject.toml
Due: fix-console-code-block, vale

Update `ContentSource` to match `MediaMixin` (#4854)
  api/api/migrations/0069_alter_contentsource_source_identifier.py
  api/api/models/models.py
  api/latest_migrations/api
Due: none

Fix handful of networking issues including silence errors (#4875)
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/extension.py
  api/api/views/image_views.py
  api/test/unit/utils/test_check_dead_links.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Update appearance of sensitive image thumbnails (#4831)
  frontend/src/assets/svg/raw/eye-closed.svg
  frontend/src/assets/svg/raw/eye-open.svg
  frontend/src/assets/svg/sprite/icons.svg
  frontend/src/components/VAudioThumbnail/VAudioThumbnail.vue
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/styles/tailwind.css
  frontend/tailwind.config.ts
  frontend/test/unit/specs/components/v-image-cell.spec.js
Due: i18n, types, eslint, test:unit

Publish changelog for api-2024.09.06.08.57.05 (#4877)
  documentation/changelogs/api/2024.09.06.08.57.05.md
Due: fix-console-code-block, vale

Revert "Only specify major version for post-v1 actions (#4848)" (#4871)
  .github/workflows/renovate.yml
Due: none

Fix unbound access of `log` (when the captured exception is a timeout) (#4889)
  api/api/utils/image_proxy/extension.py
  api/test/unit/utils/test_image_proxy.py
Due: none

Ensure correct API usage for frontend related media requests (#4891)
  api/nginx/nginx.conf.template
  frontend/src/stores/media/related-media.ts
Due: i18n, types, eslint, test:unit

Update dependency apache-airflow to v2.10.1 [SECURITY] (#4897)
  catalog/requirements-prod.txt
Due: none

Update to Vale 3 and refactor setup in light of ov (#4866)
  .github/workflows/ci_cd.yml
  .vale/.gitignore
  .vale/.vale.ini
  .vale/Dockerfile
  .vale/README.md
  .vale/justfile
  .vale/pdm.lock
  .vale/pyproject.toml
  .vale/styles/Vocab/Openverse/accept.txt
  .vale/styles/config/vocabularies/Openverse/accept.txt
  documentation/meta/decision_making/index.md
Due: fix-console-code-block, vale

Make PDM available when linting in release app (#4899)
  .github/workflows/tag_docker_image_and_trigger_deployment.yml
Due: none

Publish changelog for frontend-2024.09.09.05.40.19 (#4896)
  documentation/changelogs/frontend/2024.09.09.05.40.19.md
Due: fix-console-code-block, vale

Add low-level TS API client with generated types (#4538)
  .pre-commit-config.yaml
  .vale/styles/Openverse/TermCasing.yml
  documentation/conf.py
  documentation/packages/index.md
  documentation/packages/js/api_client/index.md
  documentation/packages/js/eslint_plugin/analytics_configuration.md
  documentation/packages/js/eslint_plugin/index.md
  documentation/packages/js/eslint_plugin/no-unexplained-disabled-test.md
  documentation/packages/python/openverse_attribution/index.md
  frontend/package.json
  justfile
  package.json
  packages/js/api-client/.gitignore
  packages/js/api-client/.npmignore
  packages/js/api-client/README.md
  packages/js/api-client/bin/generate.mjs
  packages/js/api-client/package.json
  packages/js/api-client/rollup.config.ts
  packages/js/api-client/src/auth.ts
  packages/js/api-client/src/client.ts
  packages/js/api-client/src/generated/openverse.ts
  packages/js/api-client/src/index.ts
  packages/js/api-client/src/types.ts
  packages/js/api-client/tests/client.test.ts
  packages/js/api-client/tests/mock-thumbnail.bin
  packages/js/api-client/tsconfig.json
  packages/js/api-client/tsconfig.prod.json
  packages/js/api-client/vitest.config.mjs
  packages/js/api-client/vitest.config.mts
  packages/js/eslint-plugin/README.md
  packages/js/eslint-plugin/package.json
  packages/python/openverse-attribution/README.md
  pnpm-lock.yaml
Due: i18n, fix-console-code-block, types, eslint, test:unit, vale

Log when API client apps authorize (#4892)
  api/api/views/oauth2_views.py
Due: none

Add catalog changelog (#4900)
  documentation/changelogs/catalog/2024.09.09.23.00.57.md
Due: fix-console-code-block, vale

Publish changelog for api-2024.09.09.05.40.22 (#4898)
  documentation/changelogs/api/2024.09.09.05.40.22.md
Due: fix-console-code-block, vale

Publish changelog for ingestion_server-2024.09.09.05.40.20 (#4895)
  documentation/changelogs/ingestion_server/2024.09.09.05.40.20.md
Due: fix-console-code-block, vale

Update i18n packages (#4876)
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/locales/scripts/get-validated-locales.js
  frontend/src/locales/scripts/types.d.ts
  frontend/test/locales/valid-locales.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Refactor k6 development environment to prepare for regular runs in CD (#4903)
  docker/dev_env/Dockerfile
  frontend/package.json
  justfile
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/k6/README.md
  packages/js/k6/justfile
  packages/js/k6/package.json
  packages/js/k6/rollup.config.ts
  packages/js/k6/src/frontend/all.test.ts
  packages/js/k6/src/frontend/constants.ts
  packages/js/k6/src/frontend/scenarios.ts
  packages/js/k6/src/frontend/search-en.test.ts
  packages/js/k6/src/frontend/search-locales.test.ts
  packages/js/k6/src/frontend/static-en.test.ts
  packages/js/k6/src/frontend/static-locales.test.ts
  packages/js/k6/src/utils.ts
  packages/js/k6/tsconfig.json
  pnpm-lock.yaml
  utilities/load_testing/.env.sh.template
  utilities/load_testing/.gitignore
  utilities/load_testing/Dockerfile
  utilities/load_testing/README.md
  utilities/load_testing/api.sh
  utilities/load_testing/get_word.sh
  utilities/load_testing/justfile
  utilities/load_testing/k6/frontend.js
  utilities/load_testing/k6/main.js
  utilities/load_testing/k6/observation.js
  utilities/load_testing/k6/search.js
  utilities/load_testing/k6/utils.js
Due: i18n, types, eslint, test:unit, vale

Create S3 client for smart_open from session (#4886)
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels.py
Due: none

Raise exception for misclassified items in MediaStore and get filetype from Wikimedia's API (#4785)
  catalog/dags/common/extensions.py
  catalog/dags/common/storage/media.py
  catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  catalog/tests/dags/common/storage/test_audio.py
  catalog/tests/dags/common/storage/test_media.py
  catalog/tests/dags/common/test_extensions.py
  catalog/tests/dags/providers/provider_api_scripts/resources/provider_data_ingester/mock_provider_data_ingester.py
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/image_data_example.json
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/image_info_from_example_data.json
  catalog/tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Due: none

Implement inverted CC icons for dark mode (#4921)
  frontend/src/assets/svg/raw/licenses/by-dark.svg
  frontend/src/assets/svg/raw/licenses/by-light.svg
  frontend/src/assets/svg/raw/licenses/by.svg
  frontend/src/assets/svg/raw/licenses/cc-dark.svg
  frontend/src/assets/svg/raw/licenses/cc-light.svg
  frontend/src/assets/svg/raw/licenses/cc.svg
  frontend/src/assets/svg/raw/licenses/nc-dark.svg
  frontend/src/assets/svg/raw/licenses/nc-light.svg
  frontend/src/assets/svg/raw/licenses/nc.svg
  frontend/src/assets/svg/raw/licenses/nd-dark.svg
  frontend/src/assets/svg/raw/licenses/nd-light.svg
  frontend/src/assets/svg/raw/licenses/nd.svg
  frontend/src/assets/svg/raw/licenses/pd-dark.svg
  frontend/src/assets/svg/raw/licenses/pd-light.svg
  frontend/src/assets/svg/raw/licenses/pd.svg
  frontend/src/assets/svg/raw/licenses/remix-dark.svg
  frontend/src/assets/svg/raw/licenses/remix-light.svg
  frontend/src/assets/svg/raw/licenses/remix.svg
  frontend/src/assets/svg/raw/licenses/sa-dark.svg
  frontend/src/assets/svg/raw/licenses/sa-light.svg
  frontend/src/assets/svg/raw/licenses/sa.svg
  frontend/src/assets/svg/raw/licenses/sampling-dark.svg
  frontend/src/assets/svg/raw/licenses/sampling-light.svg
  frontend/src/assets/svg/raw/licenses/sampling-plus-dark.svg
  frontend/src/assets/svg/raw/licenses/sampling-plus-light.svg
  frontend/src/assets/svg/raw/licenses/sampling.plus.svg
  frontend/src/assets/svg/raw/licenses/sampling.svg
  frontend/src/assets/svg/raw/licenses/share-dark.svg
  frontend/src/assets/svg/raw/licenses/share-light.svg
  frontend/src/assets/svg/raw/licenses/share.svg
  frontend/src/assets/svg/raw/licenses/zero-dark.svg
  frontend/src/assets/svg/raw/licenses/zero-light.svg
  frontend/src/assets/svg/raw/licenses/zero.svg
  frontend/src/assets/svg/sprite/licenses.svg
  frontend/src/components/VLicense/VLicense.vue
  frontend/src/components/VLicense/VLicenseElements.vue
Due: i18n, types, eslint, test:unit

Fix search type popover (#4933)
  frontend/src/components/VHeader/VHeaderDesktop.vue
Due: i18n, types, eslint, test:unit

Specify `amd64` platform to fix `ov` builds on macOS (#4932)
  docker/dev_env/run.sh
  ov
Due: none

Publish changelog for api-2024.09.16.09.52.36 (#4937)
  documentation/changelogs/api/2024.09.16.09.52.36.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2024.09.16.09.52.36 (#4935)
  documentation/changelogs/frontend/2024.09.16.09.52.36.md
Due: fix-console-code-block, vale

Add filtered index and promotion steps to data refresh (#4833)
  catalog/dags/common/sql.py
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/create_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/dags/data_refresh/es_mapping.py
  catalog/dags/data_refresh/promote_table.py
  catalog/dags/data_refresh/queries.py
  catalog/dags/data_refresh/remap_table_constraints.py
  catalog/dags/data_refresh/remap_table_indices.py
  catalog/entrypoint.sh
  catalog/env.template
  catalog/tests/dags/data_refresh/test_remap_table_constraints.py
  catalog/tests/dags/data_refresh/test_remap_table_indices.py
  indexer_worker/indexer_worker/api.py
  indexer_worker/indexer_worker/static/mock_sensitive_terms.txt
Due: none

Fix `add_license_url` DAG for last items (#4839)
  catalog/dags/maintenance/add_license_url.py
Due: none

Remove the gradient background from the VSafetyWall (#4938)
  frontend/src/assets/safety-bg.png
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-2xl-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-lg-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-md-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-sm-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xl-light-linux.png
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts-snapshots/v-safetywall-default-xs-light-linux.png
Due: i18n, types, eslint, test:unit

Fix `VSelectField` focus ring (#4939)
  frontend/src/components/VSelectField/VSelectField.vue
  frontend/src/styles/tailwind.css
Due: i18n, types, eslint, test:unit

Simplify audiowaveform installation in API Dockerfile (#4942)
  api/Dockerfile
Due: none

Update django-oauth-toolkit to major version 3 (#4941)
  api/api/migrations/0070_throttledapplication_allowed_origins_and_more.py
  api/latest_migrations/api
  api/latest_migrations/oauth2_provider
  api/pdm.lock
  api/pyproject.toml
Due: none

Remove 'Testing Nuxt 3' text (#4945)
  frontend/src/components/VHomepageContent.vue
Due: i18n, types, eslint, test:unit

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
