Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Add a redirect on 503 to frontend nginx (#4099)
  frontend/nginx.conf.template
Due: i18n, types, test:unit

Update dependency typescript to v5.4.5 (#4130)
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: none

Bump gunicorn from 21.2.0 to 22.0.0 in /ingestion_server (#4140)
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency prettier-plugin-tailwindcss to v0.5.14 (#4129)
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: none

Update Science Museum ingester with API changes (#4105)
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/large_image.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/measurements.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/medium_image.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/metadata.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/object_attr.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/object_data.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/response_success.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/thumbnail_large.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/thumbnail_medium.json
  catalog/tests/dags/providers/provider_api_scripts/resources/sciencemuseum/thumbnail_small.json
  catalog/tests/dags/providers/provider_api_scripts/test_science_museum.py
Due: none

Get change in record counts during data refresh from Elasticsearch (#4067)
  catalog/dags/common/elasticsearch.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Due: none

Fix date range sent to Slack from reingestion workflows (#4093)
  catalog/dags/common/loader/reporting.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/tests/dags/providers/test_provider_dag_factory.py
Due: none

Publish changelog for ingestion_server-2024.04.18.16.49.08 (#4160)
  documentation/changelogs/ingestion_server/2024.04.18.16.49.08.md
Due: none

Update dependency apache-airflow to v2.9.0, Python to 3.12 (#4159)
  catalog/Dockerfile
  catalog/requirements-prod.txt
  catalog/tests/dags/maintenance/test_check_silenced_dags.py
  catalog/tests/dags/providers/provider_api_scripts/test_time_delineated_provider_data_ingester.py
Due: none

Update catalog to non-legacy environment names and point to new airflow.openverse.org (#4053)
  api/api/templates/admin/base_site.html
  catalog/dags/common/slack.py
  catalog/dags/database/staging_database_restore/constants.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders_dag.py
  catalog/env.template
  catalog/pytest.ini
  catalog/tests/dags/common/test_slack.py
  catalog/utilities/README.md
  documentation/catalog/guides/deploy.md
  documentation/catalog/guides/deployment.md
  documentation/catalog/guides/quickstart.md
  documentation/ingestion_server/guides/deploy.md
Due: none

Publish changelog for catalog-2024.04.18.23.30.21 (#4161)
  documentation/changelogs/catalog/2024.04.18.23.30.21.md
Due: none

Do not reproduce reingestion workflow documentation (#4072)
  catalog/tests/utilities/dag_doc_gen/test_dag_doc_generation.py
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
  documentation/catalog/reference/DAGs.md
  documentation/projects/proposals/data_normalization/20240227-implementation_plan_catalog_data_cleaning.md
Due: none

Add implementation plan for new Python package manager PDM (#4128)
  documentation/projects/proposals/python_packaging/20240412-implementation_plan_switching_to_a_new_python_package_manager.md
  documentation/projects/proposals/python_packaging/index.md
  documentation/projects/proposals/python_packaging/star_history.png
Due: none

Add instructions how to run ingestion script from command line (#4083)
  catalog/justfile
  documentation/catalog/guides/adding_a_new_provider.md
Due: none

Add horizontal lines to DAG doc for better visual separation (#4162)
  .prettierignore
  catalog/justfile
  catalog/utilities/dag_doc_gen/dag_doc_generation.py
  documentation/catalog/reference/DAGs.md
Due: none

Remove unnecessary params from healthcheck (#4170)
  docker-compose.yml
Due: none

Always remove containers when using `just run` (#4171)
  catalog/justfile
  justfile
Due: none

Bump aiohttp from 3.9.3 to 3.9.4 in /api (#4158)
  api/Pipfile.lock
Due: none

Publish changelog for frontend-2024.04.22.15.11.07 (#4178)
  documentation/changelogs/frontend/2024.04.22.15.11.07.md
Due: none

Publish changelog for api-2024.04.22.15.11.09 (#4179)
  documentation/changelogs/api/2024.04.22.15.11.09.md
Due: none

Add more cases for "On Hold" project state (#4175)
  documentation/projects/planning.md
Due: none

Move ESLint plugin inside `packages/js` (#4174)
  .codespell/ignore_lines.txt
  .github/CODEOWNERS
  .github/filters.yml
  .github/renovate.json
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  documentation/meta/ci_cd/jobs/packages.md
  documentation/packages/index.md
  package.json
  packages/js/eslint-plugin/.swcrc
  packages/js/eslint-plugin/README.md
  packages/js/eslint-plugin/jest.config.js
  packages/js/eslint-plugin/package.json
  packages/js/eslint-plugin/src/configs/custom.ts
  packages/js/eslint-plugin/src/configs/import.ts
  packages/js/eslint-plugin/src/configs/index.ts
  packages/js/eslint-plugin/src/configs/typescript.ts
  packages/js/eslint-plugin/src/configs/vue.ts
  packages/js/eslint-plugin/src/index.ts
  packages/js/eslint-plugin/src/rules/analytics-configuration.ts
  packages/js/eslint-plugin/src/rules/index.ts
  packages/js/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/js/eslint-plugin/src/rules/translation-strings.ts
  packages/js/eslint-plugin/src/utils/rule-creator.ts
  packages/js/eslint-plugin/test/rules/analytics-configuration.spec.ts
  packages/js/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
  packages/js/eslint-plugin/test/rules/translation-strings.spec.ts
  packages/js/eslint-plugin/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: types, eslint, test:unit

Switch API package management from Pipenv to PDM (#4107)
  .github/CODEOWNERS
  .github/filters.yml
  .github/renovate.json
  .gitignore
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/api/utils/attribution.py
  api/api/utils/licenses.py
  api/api/utils/watermark.py
  api/compose.yml
  api/justfile
  api/pdm.lock
  api/pyproject.toml
  api/run.py
  api/test/factory/sample-audio-info.json
  api/test/factory/sample-image-info.json
  api/test/unit/serializers/test_audio_serializers.py
  api/test/unit/utils/test_attribution.py
  automations/python/workflows/set_matrix_images.py
  documentation/packages/index.md
  documentation/packages/openverse_attribution/index.md
  packages/README.md
  packages/python/openverse-attribution/.dockerignore
  packages/python/openverse-attribution/README.md
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
  packages/python/openverse-attribution/src/openverse_attribution/__init__.py
  packages/python/openverse-attribution/src/openverse_attribution/attribution.py
  packages/python/openverse-attribution/src/openverse_attribution/license.py
  packages/python/openverse-attribution/tests/test_attribution.py
  packages/python/openverse-attribution/tests/test_license.py
Due: types, test:unit

Refine Python package names and versions (#4184)
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pyproject.toml
Due: types, test:unit

Add DAG run link, explanation of missing failures to agg failure report (#4180)
  catalog/dags/providers/provider_dag_factory.py
Due: none

Install `setuptools` needed by `pgcli` (#4191)
  api/pdm.lock
  api/pyproject.toml
Due: none

Fix frontend robots.txt (#4186)
  frontend/.gitignore
  frontend/src/server-middleware/robots.js
  frontend/src/static/robots.txt
Due: i18n, types, eslint, test:unit

Fix bug (#4193)
  frontend/src/server-middleware/robots.js
Due: i18n, types, eslint, test:unit

Fix string decoding in the frontend (#4144)
  frontend/src/utils/decode-data.ts
  frontend/test/unit/specs/utils/decode-data.spec.js
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.04.24.12.19.32 (#4194)
  documentation/changelogs/frontend/2024.04.24.12.19.32.md
Due: none

Don't show sources if their count has not changed (#4176)
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Due: none

Make links in docstring display as hyperlinks in docs site (#4195)
  catalog/dags/common/cloudwatch.py
  catalog/dags/common/sensors/utils.py
  catalog/dags/common/slack.py
  catalog/dags/common/storage/media.py
  catalog/dags/database/batched_update/batched_update_dag.py
  catalog/dags/database/staging_database_restore/staging_database_restore.py
  catalog/dags/database/staging_database_restore/staging_database_restore_dag.py
  catalog/dags/maintenance/pr_review_reminders/pr_review_reminders.py
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_api_scripts/finnish_museums.py
  catalog/dags/providers/provider_api_scripts/flickr.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/dags/providers/provider_api_scripts/jamendo.py
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  catalog/dags/providers/provider_api_scripts/nappy.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/dags/providers/provider_api_scripts/rawpixel.py
  catalog/dags/providers/provider_api_scripts/science_museum.py
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/dags/providers/provider_api_scripts/smk.py
  catalog/dags/providers/provider_api_scripts/stocksnap.py
  catalog/dags/providers/provider_api_scripts/time_delineated_provider_data_ingester.py
  catalog/dags/providers/provider_api_scripts/wordpress.py
  catalog/dags/retired/providers/provider_api_scripts/thingiverse.py
  catalog/dags/retired/providers/provider_api_scripts/walters.py
  documentation/catalog/reference/DAGs.md
Due: none

Modify `add_license_url` DAG for more specific null check (#4124)
  catalog/dags/maintenance/add_license_url.py
  documentation/catalog/reference/DAGs.md
Due: none

Add translated routes to block to robots.txt (#4205)
  frontend/src/server-middleware/robots.js
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.04.25.15.32.08 (#4206)
  documentation/changelogs/frontend/2024.04.25.15.32.08.md
Due: none

Round decimal record difference percentages to three decimals after zeros. (#4065)
  catalog/dags/data_refresh/reporting.py
  catalog/tests/dags/data_refresh/test_reporting.py
Due: none

Remove obsolete field from docker-compose.yml (#4200)
  api/conf/urls/__init__.py
  docker-compose.yml
Due: none

Extend `update_license_url` tasks timeout to a day and a half (#4209)
  catalog/dags/maintenance/add_license_url.py
Due: none

Delete base indices before recreation of sample data (#4213)
  docker/es/justfile
  load_sample_data.sh
Due: none
