Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|\.snap

Add bodyserializer/accept header to openverse api client to correctly authenticate with the API (#5330)
  packages/js/api-client/src/auth.ts
  packages/js/api-client/tests/client.test.ts
Due: types, eslint, test:unit

Update instructions for Elasticsearch node replacements (#5338)
  documentation/meta/maintenance/elasticsearch_cluster.md
Due: fix-console-code-block, vale

Clean repeated static string interpolation (#5261)
  frontend/i18n/data/en.json5
  frontend/i18n/scripts/translations.mjs
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VSafetyWall/VSafetyWall.vue
  frontend/src/pages/about.vue
  frontend/src/pages/feedback.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/sensitive-content.vue
  frontend/src/pages/sources.vue
  frontend/test/locales/ar.json
  frontend/test/locales/es.json
  frontend/test/playwright/utils/i18n.ts
Due: i18n, types, eslint, test:unit

Simplify media `FetchState` and fix fetching errors (#5323)
  frontend/nuxt.config.ts
  frontend/shared/types/fetch-state.ts
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.ts
  frontend/src/components/VContentLink/VContentLink.vue
  frontend/src/components/VHeader/VHeaderDesktop.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VLoadMore.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/components/VSearchResultsGrid/VSearchResults.vue
  frontend/src/components/meta/CustomButtonComponents.stories.ts
  frontend/src/composables/use-collection.ts
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/composables/use-search.ts
  frontend/src/middleware/search.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/search.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/test/unit/specs/components/v-content-link.spec.js
  frontend/test/unit/specs/composables/use-i18n-utilities.spec.js
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
  frontend/test/unit/specs/stores/media-store.spec.ts
  frontend/test/unit/specs/stores/provider.spec.ts
  frontend/test/unit/specs/stores/single-result-store.spec.ts
Due: i18n, types, eslint, test:unit

Updated notify_slack method (#5136)
  catalog/dags/common/slack.py
  catalog/dags/data_augmentation/rekognition/add_rekognition_labels_dag.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  catalog/dags/elasticsearch_cluster/recreate_staging_index/recreate_full_staging_index_dag.py
  catalog/dags/maintenance/rotate_envfiles.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
Due: none

Publish changelog for catalog-2025.01.07.04.34.46 (#5324)
  documentation/changelogs/catalog/2025.01.07.04.34.46.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2025.01.16.15.54.08 (#5340)
  documentation/changelogs/frontend/2025.01.16.15.54.08.md
Due: fix-console-code-block, vale

Fix i18n placeholder replacement and make tests robust (#5343)
  .github/workflows/ci_cd.yml
  documentation/frontend/reference/i18n.md
  frontend/Dockerfile.playwright
  frontend/i18n/data/en.json5
  frontend/i18n/scripts/po/po-helpers.mjs
  frontend/i18n/scripts/translations.mjs
  frontend/i18n/scripts/utils.mjs
  frontend/src/components/VContentLink/meta/VContentLink.stories.ts
  frontend/src/components/VThemeSelect/VThemeSelect.vue
  frontend/src/composables/use-analytics.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/plugins/02.init.server.ts
  frontend/src/plugins/03.analytics.ts
  frontend/src/plugins/04.errors.ts
  frontend/src/plugins/05.init-stores.server.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/provider.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/playwright/utils/expect-snapshot.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/proxy.js
  frontend/test/storybook/functional/smoke-test.spec.ts
  frontend/test/storybook/playwright.config.ts
Due: i18n, fix-console-code-block, types, eslint, test:unit, vale

Update dependency vite to v6.0.9 [SECURITY] (#5342)
  frontend/test/playwright/playwright.config.ts
  package.json
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix missing `dag` parameter in Slack notification (#5341)
  catalog/dags/maintenance/rotate_envfiles.py
Due: none

Update vitest monorepo to v3 (#5350)
  frontend/package.json
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pnpm to v9.15.4 (#5346)
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

Update dependency jsdom to v26 (#5349)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update workflows (#5347)
  .codespell/ignore_words.txt
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
  documentation/projects/proposals/visual_regression_testing/20220217-implementation_plan.md
  frontend/i18n/scripts/setup.mjs
Due: i18n, fix-console-code-block, types, eslint, test:unit, vale

Skip posting of update if there is no update to post about (#5344)
  automations/js/src/last_week_tonight.mjs
Due: eslint

Remove the watermarking code and endpoint (#5353)
  api/Dockerfile
  api/api/docs/image_docs.py
  api/api/serializers/image_serializers.py
  api/api/utils/ccrel.py
  api/api/utils/watermark.py
  api/api/views/image_views.py
  api/conf/settings/misc.py
  api/env.docker
  api/env.template
  api/pdm.lock
  api/pyproject.toml
  api/test/unit/utils/test_watermark.py
  api/test/unit/views/test_image_views.py
Due: none

Exclude health checks from Sentry profiles sampling (#5345)
  api/conf/settings/sentry.py
Due: none

Publish changelog for api-2025.01.24.17.16.29 (#5354)
  documentation/changelogs/api/2025.01.24.17.16.29.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2025.01.24.17.16.28 (#5355)
  documentation/changelogs/frontend/2025.01.24.17.16.28.md
Due: fix-console-code-block, vale

Revert "Close old db connections after getting thumbnails (#5335)" (#5356)
  api/api/utils/image_proxy/__init__.py
Due: none

Publish changelog for ingestion_server-2025.01.29.17.31.09 (#5359)
  documentation/changelogs/ingestion_server/2025.01.29.17.31.09.md
Due: fix-console-code-block, vale

Update dependency @sentry/nuxt to v8.49.0 [SECURITY] (#5357)
  .devcontainer/post_create.sh
  .github/actions/setup-env/action.yml
  docker/dev_env/Dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @octokit/rest to v21.1.0 (#5365)
  automations/js/package.json
  pnpm-lock.yaml
Due: eslint

Update dependency nock to v14.0.0 (#5360)
  packages/js/api-client/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update workflows (#5363)
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update parameters value (#5370)
  catalog/dags/providers/provider_reingestion_workflows.py
Due: none

Update dependency prettier-plugin-tailwindcss to v0.6.11 (#5361)
  package.json
  pnpm-lock.yaml
Due: none

Update dependency typescript to v5.7.3 (#5362)
  frontend/package.json
  package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update @openverse/eslint-plugin (#5364)
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update @openverse/eslint-plugin (major) (#5348)
  frontend/package.json
  packages/js/api-client/package.json
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pre-commit hook renovatebot/pre-commit-hooks to v39.158.2 (#5372)
  .pre-commit-config.yaml
Due: none

Update dependency vitest to v3.0.5 [SECURITY] (#5374)
  pnpm-lock.yaml
Due: none

Replace Plausible 502 errors with 424 (#5373)
  frontend/nginx/nginx.conf.template
Due: i18n, types, test:unit

Remove dependency axios-mock-adapter and fix the token unit tests (#5369)
  frontend/package.json
  frontend/src/plugins/01.api-token.server.ts
  frontend/test/unit/specs/utils/api-token.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-unsuccessful.spec.js
  frontend/test/unit/specs/utils/api-token/setup.js
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update pnpm to v10.2.0 (#5371)
  frontend/package.json
  package.json
Due: i18n, types, eslint, test:unit

Publish changelog for api-2025.02.05.11.12.38 (#5375)
  documentation/changelogs/api/2025.02.05.11.12.38.md
Due: fix-console-code-block, vale

Publish changelog for frontend-2025.02.05.11.32.04 (#5376)
  documentation/changelogs/frontend/2025.02.05.11.32.04.md
Due: fix-console-code-block, vale

UseHead instead of components (#5378)
  frontend/src/app.vue
  frontend/src/error.vue
Due: i18n, types, eslint, test:unit

Update docker.io/nginx Docker tag to v1.27.4 (#5383)
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit
