Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

types:
  name: types
  entry: bash -c 'pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

Update dependency pook to v1.4.3 (#3856)
  catalog/requirements-dev.txt
Due: none

Update dependency apache-airflow to v2.8.2 [SECURITY] (#3853)
  catalog/requirements-prod.txt
Due: none

Update dependency prettier-plugin-tailwindcss to v0.5.11 (#3862)
  .pre-commit-config.yaml
  frontend/.remake/story/remake-name.stories.mdx
  frontend/src/app.html
  frontend/src/assets/fonts.css
  frontend/src/components/VCheckbox/VCheckbox.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/composables/use-i18n-utilities.ts
  frontend/src/data/media-service.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/search.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/unit/specs/plugins/api-token.server.spec.ts
  package.json
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/test/rules/analytics-configuration.spec.ts
  pnpm-lock.yaml
  prettier.config.js
Due: i18n, types, eslint, test:unit

Update docker.io/nginx Docker tag to v1.25.4 (#3857)
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Fix pr_ping typo (#3867)
  .github/workflows/pr_ping.yml
Due: none

Publish changelog for frontend-2024.03.04.15.15.07 (#3873)
  documentation/changelogs/frontend/2024.03.04.15.15.07.md
Due: none

Publish changelog for api-2024.03.04.15.15.13 (#3872)
  documentation/changelogs/api/2024.03.04.15.15.13.md
Due: none

Combine related media component using `VMediaCollection.vue` (#3831)
  frontend/src/components/VAudioDetails/VRelatedAudio.vue
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VImageDetails/VRelatedImages.vue
  frontend/src/components/VMediaInfo/VRelatedMedia.vue
  frontend/src/components/VSearchResultsGrid/VAllResultsGrid.vue
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
  frontend/src/components/VSearchResultsGrid/VAudioInstructions.vue
  frontend/src/components/VSearchResultsGrid/VAudioList.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/components/VSearchResultsGrid/VImageCollection.vue
  frontend/src/components/VSearchResultsGrid/VMediaCollection.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/search/audio.vue
  frontend/src/types/result.ts
  frontend/test/playwright/e2e/audio-detail.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/tapes/related/audio/1cb1af19-7232-40c2-b9ea-8d6c47e677f9_keep-alive.json5
Due: i18n, types, eslint, test:unit

Fix prettier errors (#3879)
  frontend/src/components/VSearchResultsGrid/VAudioCollection.vue
Due: i18n, types, eslint, test:unit

Publish changelog for catalog-2024.03.06.16.40.36 (#3881)
  documentation/changelogs/catalog/2024.03.06.16.40.36.md
Due: none

Publish changelog for ingestion_server-2024.03.06.16.40.36 (#3882)
  documentation/changelogs/ingestion_server/2024.03.06.16.40.36.md
Due: none

Fix flaky content report form test (#3880)
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
Due: i18n, types, eslint, test:unit

Preemptively fail unparsable/unusable Europeana URLs (#3845)
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Update recent searches to match updated mockups (#3796)
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHeader/VSearchBar/VSearchBar.vue
  frontend/src/components/VModal/VInputModal.vue
  frontend/src/components/VRecentSearches/VRecentSearches.vue
  frontend/src/components/VRecentSearches/meta/VRecentSearches.stories.mdx
  frontend/src/locales/scripts/en.json5
  frontend/src/stores/search.ts
  frontend/tailwind.config.ts
Due: i18n, types, eslint, test:unit

Use query parameters for additional search views in Nuxt (#3866)
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMediaTags.vue
  frontend/src/components/VSourcesTable.vue
  frontend/src/data/api-service.ts
  frontend/src/data/media-service.ts
  frontend/src/middleware/collection.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/audio/tag/_tag.vue
  frontend/src/pages/image/collection.vue
  frontend/src/pages/image/source/_.vue
  frontend/src/stores/media/index.ts
  frontend/src/stores/search.ts
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/playwright/e2e/sources.spec.ts
  frontend/test/tapes/detail/images/f9384235-b72e-4f1e-9b05-e1b116262a29_close.json5
  frontend/test/tapes/detail/images/f9384235-b72e-4f1e-9b05-e1b116262a29_keep-alive.json5
  frontend/test/tapes/response-1.json5
  frontend/test/tapes/response-20.json5
  frontend/test/tapes/response-21.json5
  frontend/test/tapes/response-23.json5
  frontend/test/tapes/response-287.json5
  frontend/test/tapes/response-3.json5
  frontend/test/tapes/response-5.json5
  frontend/test/tapes/response-6.json5
  frontend/test/tapes/response-7.json5
  frontend/test/tapes/search/images/creator=strogoscope&source=flickr&unstable__collection=creator_keep-alive.json5
  frontend/test/tapes/search/images/creator=strogoscope_keep-alive.json5
  frontend/test/tapes/search/images/source=flickr&unstable__collection=source_keep-alive.json5
  frontend/test/tapes/search/images/unstable__collection=tag&tags=cat_keep-alive.json5
  frontend/test/tapes/stats-audio-close.json5
  frontend/test/tapes/stats-audio-keep-alive.json5
  frontend/test/tapes/stats-audio-options.json5
  frontend/test/tapes/stats-images-keep-alive.json5
  frontend/test/unit/specs/stores/search-store.spec.js
Due: i18n, types, eslint, test:unit

Various iNaturalist updates (#3846)
  catalog/dags/providers/provider_api_scripts/inaturalist.py
  catalog/dags/providers/provider_csv_load_scripts/inaturalist/create_schema.sql
  catalog/tests/dags/providers/provider_api_scripts/test_inaturalist.py
Due: none

Fix Vale by passing files to process instead of a glob to ignore (#3871)
  .vale/Dockerfile
  .vale/justfile
  .vale/styles/Openverse/TermCasing.yml
Due: none

Extend timeout on iNaturalist table loads (#3888)
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

Update documentation for how to perform rollbacks (#3878)
  documentation/api/guides/deploy.md
  documentation/catalog/guides/deploy.md
  documentation/frontend/guides/deploy.md
  documentation/general/deployment.md
  documentation/ingestion_server/guides/deploy.md
Due: none

Introduce and use new API domain environment variables (#3822)
  api/Dockerfile
  api/api/docs/base_docs.py
  api/api/examples/audio_requests.py
  api/api/examples/audio_responses.py
  api/api/examples/environment.py
  api/api/examples/image_requests.py
  api/api/examples/image_responses.py
  api/api/examples/oauth2_requests.py
  api/api/examples/oauth2_responses.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
  api/conf/settings/security.py
  api/env.docker
  api/env.template
  api/run.py
  api/test/__init__.py
  api/test/constants.py
  api/test/integration/test_auth.py
  api/test/test_examples.py
  api/test/test_schema.py
  api/test/utils.py
  docker-compose.yml
Due: none

Correct `ADDITIONAL_DOMAINS` to `ALTERNATIVE_DOMAINS` (#3892)
  api/conf/settings/security.py
Due: none

Publish changelog for api-2024.03.11.15.26.16 (#3898)
  documentation/changelogs/api/2024.03.11.15.26.16.md
Due: none

Publish changelog for frontend-2024.03.11.15.25.54 (#3897)
  documentation/changelogs/frontend/2024.03.11.15.25.54.md
Due: none

Implementation plan: Catalog Data Cleaning (#3848)
  documentation/projects/proposals/data_normalization/20240227-implementation_plan_catalog_data_cleaning.md
  documentation/projects/proposals/data_normalization/index.md
Due: none

ES healthcheck: skip message composition task when cluster is green (#3903)
  catalog/dags/elasticsearch_cluster/healthcheck_dag.py
  catalog/tests/dags/elasticsearch_cluster/test_healthcheck_dag.py
Due: none

ccMixter: Handle bad numbers with a decimal point (#3905)
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/test_cc_mixter.py
Due: none

Recover from updated build_param in Phylopic DAG (#3874)
  catalog/dags/common/requester.py
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/dags/providers/provider_api_scripts/phylopic.py
  catalog/tests/dags/common/test_requester.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_phylopic.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Due: none

ccMixter: Handle spaces in URLs (#3907)
  catalog/dags/providers/provider_api_scripts/cc_mixter.py
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/expected_single_record.json
  catalog/tests/dags/providers/provider_api_scripts/resources/cc_mixter/single_item.json
Due: none

Enable Users and Groups in the Django Admin UI (#3899)
  api/api/admin/__init__.py
Due: none

Update the Additional search views IP (#3868)
  documentation/projects/proposals/additional_search_views/20230424-project_proposal_additional_search_views.md
  documentation/projects/proposals/additional_search_views/20230719-implementation_plan_additional_search_views.md
  documentation/projects/proposals/additional_search_views/SUPERSEDED-20230719-implementation_plan_additional_search_views.md
Due: none

Publish changelog for api-2024.03.13.17.10.22 (#3911)
  documentation/changelogs/api/2024.03.13.17.10.22.md
Due: none

Add source links to creator pages (#3780)
  frontend/src/components/VCollectionHeader/VCollectionHeader.vue
  frontend/src/components/VCollectionHeader/meta/VCollectionHeader.stories.mdx
  frontend/src/components/VCollectionPage.vue
  frontend/src/components/VMediaInfo/VByLine/VByLine.vue
  frontend/src/components/VScrollableLine.vue
  frontend/src/components/VSearchResultsGrid/VImageGrid.vue
  frontend/src/locales/scripts/en.json5
  frontend/test/locales/ar.json
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-2xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-lg-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-md-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-sm-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xl-linux.png
  frontend/test/storybook/visual-regression/v-collection-header.spec.ts-snapshots/VCollectionHeaders-rtl-xs-linux.png
Due: i18n, types, eslint, test:unit

Remove leftover files from catalog (#3915)
  catalog/dags/flickr_thumbs_removal.py
  catalog/tests/dags/providers/provider_api_scripts/resources/wikimedia/prettify.sh
  documentation/catalog/reference/DAGs.md
Due: none

Add point_alias DAG and add alias params to create_new_es_index DAGs (#3890)
  catalog/dags/common/elasticsearch.py
  catalog/dags/elasticsearch_cluster/create_new_es_index/create_new_es_index_dag.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
  catalog/dags/elasticsearch_cluster/point_es_alias/point_es_alias_dag.py
  documentation/catalog/reference/DAGs.md
Due: none

Remove unused API variables from environment template (#3929)
  api/env.template
Due: none

Freesound: handle space in creator name when making URL (#3909)
  catalog/dags/providers/provider_api_scripts/freesound.py
  catalog/tests/dags/providers/provider_api_scripts/test_freesound.py
Due: none

Publish changelog for frontend-2024.03.18.15.51.41 (#3933)
  documentation/changelogs/frontend/2024.03.18.15.51.41.md
Due: none

Publish changelog for api-2024.03.18.15.51.25 (#3932)
  documentation/changelogs/api/2024.03.18.15.51.25.md
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
