Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

i18n:
  name: i18n
  entry: bash -c 'if [ ! -f "$(dirname "$dir")"/frontend/src/locales/ar.json ]; then just frontend/run i18n; fi'
  language: system
  pass_filenames: false

fix-console-code-block:
  name: Ensure "bash" code block is used over "console"
  entry: python3 -c 'import fileinput; [print(line.replace("```console", "```bash"), end="") for line in fileinput.input(inplace=True)]'
  language: system

types:
  name: types
  entry: bash -c 'pnpm run prepare:nuxt && pnpm run -r types'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  language: system
  pass_filenames: false
  entry: bash -c 'pnpm run eslint --fix'

test:unit:
  name: test:unit
  entry: bash -c 'pnpm run -r test:unit'
  language: system
  pass_filenames: false
  stages:
  - push

render-release-drafter:
  name: render-release-drafter
  entry: bash -c 'just automations/js/render-release-drafter'
  language: system
  pass_filenames: false

vale:
  name: vale
  language: system
  entry: bash -c 'just .vale/run'
  pass_filenames: false

Remove nonexistent directory from `just` recipe display list (#4669)
  justfile
Due: none

Set site indexability at runtime (#4671)
  frontend/server/plugins/indexable.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.07.30.16.33.18 (#4672)
  documentation/changelogs/frontend/2024.07.30.16.33.18.md
Due: fix-console-code-block, vale

Publish changelog for api-2024.07.30.17.36.41 (#4674)
  documentation/changelogs/api/2024.07.30.17.36.41.md
Due: fix-console-code-block, vale

Ensure CODEOWNERS matches from top level rather than anywhere in path (#4675)
  .github/CODEOWNERS
Due: none

Update Django admin views for bulk moderation ergonomics (#4673)
  api/api/admin/media_report.py
  api/api/templates/admin/api/filters/media_decision.html
  api/api/templates/admin/api/media_decision/change_form.html
Due: none

Update Vue and remove modal hotfix (#4682)
  frontend/package.json
  frontend/src/components/VExternalSearch/VExternalSearchForm.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency typescript to v5.5.4 (#4688)
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency vue-tsc to v2.0.29 (#4691)
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency uvicorn to >=0.30, <0.31 (#4694)
  api/pdm.lock
  api/pyproject.toml
Due: none

Drop Elasticsearch throttling on Ingestion Server (#4683)
  ingestion_server/ingestion_server/indexer.py
Due: none

Bump the minimum required PDM version for the API (#4697)
  api/Dockerfile
Due: none

Update dependency prettier to v3.3.3 (#4686)
  .pre-commit-config.yaml
  frontend/src/components/VAudioTrack/VWaveform.vue
  frontend/src/components/VHomeGallery/VHomeGallery.vue
  frontend/src/composables/use-single-result-page-meta.ts
  frontend/src/utils/decode-media-data.ts
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update workflows (#4692)
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
  catalog/dags/providers/provider_api_scripts/smithsonian.py
  catalog/tests/dags/conftest.py
Due: none

Fix the flaky pages test (#4702)
  frontend/test/playwright/utils/components.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.45.3 (#4685)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Init dark mode with feature flag and body class (#4687)
  frontend/feat/feature-flags.json
  frontend/src/app.vue
  frontend/src/composables/use-dark-mode.ts
  frontend/test/unit/specs/composables/use-dark-mode.spec.ts
Due: i18n, types, eslint, test:unit

Increase PR count for PR limit bot reminder to 5 (#4698)
  .github/workflows/pr_limit_reminders.yml
Due: none

Fix test flake in pages.spec.ts (#4709)
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
Due: i18n, types, eslint, test:unit

Convert iNaturalist vernacular VARCHAR columns to TEXT (#4711)
  catalog/dags/providers/provider_csv_load_scripts/inaturalist/create_schema.sql
Due: none

Fix waveform generation for short tracks (#4677)
  api/api/utils/waveform.py
  api/test/factory/sample-short-audio.mp3
  api/test/unit/utils/test_waveform.py
Due: none

Publish changelog for api-2024.08.05.16.42.20 (#4718)
  documentation/changelogs/api/2024.08.05.16.42.20.md
Due: fix-console-code-block, vale

Reorganise release and deployment process documentation (#4528)
  .codespell/ignore_lines.txt
  .github/workflows/draft_releases.yml
  .github/workflows/tag_docker_image_and_trigger_deployment.yml
  documentation/api/guides/deploy.md
  documentation/api/guides/index.md
  documentation/catalog/guides/deployment.md
  documentation/catalog/guides/index.md
  documentation/conf.py
  documentation/frontend/guides/index.md
  documentation/general/deployment.md
  documentation/general/index.md
  documentation/ingestion_server/guides/index.md
  documentation/ingestion_server/guides/migrate.md
  documentation/ingestion_server/guides/upgrade.md
  documentation/meta/incidents/runbooks/incident_response_runbook.md
  documentation/meta/index.md
  documentation/meta/monitoring/runbooks/nuxt_avg_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/nuxt_p99_response_time_anomaly.md
  documentation/meta/monitoring/runbooks/unhealthy_ecs_hosts.md
  documentation/meta/release_and_deployment/index.md
  documentation/meta/release_and_deployment/manually-trigger-workflow.png
  documentation/meta/release_and_deployment/runbooks/api.md
  documentation/meta/release_and_deployment/runbooks/catalog.md
  documentation/meta/release_and_deployment/runbooks/frontend.md
  documentation/meta/release_and_deployment/runbooks/ingestion_server.md
Due: fix-console-code-block, vale

Fix collections SSR (#4722)
  frontend/src/components/VSearchResultsGrid/VCollectionResults.vue
  frontend/src/composables/use-collection.ts
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/collection.vue
Due: i18n, types, eslint, test:unit

Convert modal-related components to script setup (#4700)
  frontend/src/components/VContentReport/VContentReportForm.vue
  frontend/src/components/VFilters/VFilterChecklist.vue
  frontend/src/components/VFilters/VLicenseExplanation.vue
  frontend/src/components/VHeader/VHeaderInternal.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VModal/VModal.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VPopover/VPopover.vue
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.08.06.13.48.44 (#4723)
  documentation/changelogs/frontend/2024.08.06.13.48.44.md
Due: fix-console-code-block, vale

Update dependency vue to v3.4.36 (#4689)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Fix the sources table crash (#4725)
  frontend/src/components/VSourcesTable.vue
  frontend/src/pages/sources.vue
  frontend/test/playwright/e2e/sources.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/about-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/privacy-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-ltr-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/search-help-rtl-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-ltr-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages.spec.ts-snapshots/sources-rtl-xl-linux.png
  frontend/test/unit/specs/components/v-sources-table.spec.js
Due: i18n, types, eslint, test:unit

Remove the url cleanup steps (#4727)
  ingestion_server/ingestion_server/cleanup.py
Due: none

Decrease thumbnail upstream timeout and add timing logs for thumbnail requests (#4695)
  api/api/utils/aiohttp.py
  api/api/utils/check_dead_links/__init__.py
  api/api/utils/image_proxy/__init__.py
  api/api/utils/image_proxy/dataclasses.py
  api/api/utils/image_proxy/extension.py
  api/compose.yml
  api/conf/settings/thumbnails.py
  api/test/unit/utils/test_aiohttp.py
Due: none

Remove the use of `import.meta.env` (#4705)
  frontend/.env.template
  frontend/Dockerfile
  frontend/nuxt.config.ts
  frontend/server/plugins/indexable.ts
  frontend/server/plugins/sentry.ts
  frontend/src/app.config.ts
  frontend/src/app.vue
  frontend/src/constants/disallowed-bots.ts
  frontend/src/plugins/01.sentry.client.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/search.ts
  frontend/src/types/cookies.ts
  frontend/src/utils/console.ts
  frontend/src/utils/focus-management.ts
  frontend/test/playwright/e2e/preferences.spec.ts
  frontend/test/playwright/playwright.config.ts
  frontend/test/unit/specs/stores/feature-flag-store.spec.js
  frontend/test/unit/specs/stores/provider.spec.js
  frontend/test/unit/specs/stores/ui-store.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-missing-credentials.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-parallel.spec.js
  frontend/test/unit/specs/utils/api-token/api-token-successful.spec.js
  frontend/typings/nuxt__types/index.d.ts
Due: i18n, types, eslint, test:unit

Adds `postgresql` and `postgresql-devel` to image `ov` (#4664)
  docker/dev_env/Dockerfile
  documentation/general/general_setup.md
Due: fix-console-code-block, vale

Fix Playwright test failures when Nuxt context is not available (#4731)
  frontend/src/composables/use-api-client.ts
  frontend/src/data/api-service.ts
  frontend/src/plugins/02. init-stores.ts
  frontend/src/plugins/03. analytics.ts
  frontend/src/stores/feature-flag.ts
  frontend/src/stores/media/index.ts
  frontend/src/stores/media/related-media.ts
  frontend/src/stores/media/single-result.ts
  frontend/src/stores/provider.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
  frontend/test/playwright/utils/page.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts
  frontend/test/unit/specs/stores/media-store-fetching.spec.js
Due: i18n, types, eslint, test:unit

Fix mobile recent searches modal with banners (#4730)
  frontend/src/app.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/layouts/search-layout.vue
  frontend/src/stores/ui.ts
  frontend/test/playwright/e2e/recent-searches.spec.ts
Due: i18n, types, eslint, test:unit

Update nuxtjs/plausible (#4716)
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/src/plugins/03. analytics.ts
  frontend/src/plugins/errors.ts
  frontend/src/types/analytics.ts
  frontend/test/playwright/playwright.config.ts
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Disallow crawlers from high cardinality collection pages (#4735)
  .pre-commit-config.yaml
  frontend/nuxt.config.ts
  frontend/src/composables/use-page-robots-rule.ts
  frontend/src/constants/deploy-env.ts
  frontend/src/middleware/single-result.ts
  frontend/src/pages/audio/[id]/index.vue
  frontend/src/pages/audio/collection.vue
  frontend/src/pages/image/[id]/index.vue
  frontend/src/pages/image/collection.vue
  frontend/test/playwright/e2e/seo.spec.ts
  frontend/test/playwright/e2e/seo.spec.ts-snapshots/robots-linux.txt
  frontend/test/playwright/playwright.config.ts
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.08.12.10.29.09 (#4742)
  documentation/changelogs/frontend/2024.08.12.10.29.09.md
Due: fix-console-code-block, vale

Preemptively filter out Rekognition tags (#4667)
  ingestion_server/ingestion_server/cleanup.py
  ingestion_server/test/unit_tests/test_cleanup.py
Due: none

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
