Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Fix package build and refactor tsconfig to be less complex and breakable (#2972)
  .dockerignore
  .eslintrc.js
  .github/filters.yml
  .pre-commit-config.yaml
  frontend/Dockerfile
  frontend/docker-compose.playwright.yml
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/tsconfig.json
  package.json
  packages/eslint-plugin/.swcrc
  packages/eslint-plugin/babel.config.js
  packages/eslint-plugin/jest.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/analytics-configuration.ts
  packages/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/eslint-plugin/test/rules/analytics-configuration.spec.ts
  packages/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
  packages/eslint-plugin/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: i18n, types, eslint, test:unit

Check flag 'sensitive_content' with 'fetch_sensitive' (#2995)
  frontend/src/stores/search.ts
Due: i18n, types, eslint, test:unit

Bump deepdiff from 6.3.1 to 6.4.1 in /api (#2960)
  api/Pipfile
  api/Pipfile.lock
Due: none

Silo ESLint configuration into plugin package (#2973)
  .codespell/ignore_lines.txt
  .eslintrc.js
  documentation/packages/eslint_plugin/index.md
  package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/jest.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/custom.ts
  packages/eslint-plugin/src/configs/import.ts
  packages/eslint-plugin/src/configs/index.ts
  packages/eslint-plugin/src/configs/vue.ts
  pnpm-lock.yaml
Due: types, eslint, test:unit

Fix meta tags on pages (#2997)
  frontend/src/composables/use-single-result-page-meta.ts
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/pages/index.vue
  frontend/src/pages/preferences.vue
  frontend/src/pages/privacy.vue
  frontend/src/pages/search.vue
  frontend/src/utils/og.ts
  frontend/test/playwright/e2e/seo.spec.ts
Due: i18n, types, eslint, test:unit

Collect image dimensions from Europeana (#2782)
  catalog/DAGs.md
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/dags/providers/provider_reingestion_workflows.py
  catalog/dags/providers/provider_workflows.py
  catalog/tests/dags/providers/provider_api_scripts/resources/europeana/item_full.json
  catalog/tests/dags/providers/provider_api_scripts/resources/europeana/item_not_first_webresource.json
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

remove hvac from Pipfile and run pipenv install (#3003)
  api/Pipfile
  api/Pipfile.lock
Due: none

remove python3-openid from pipfile (#3005)
  api/Pipfile
  api/Pipfile.lock
Due: none

remove redlock-py from pipfile & pipenv install (#3004)
  api/Pipfile
  api/Pipfile.lock
Due: none

Skip flaky global audio visual regression test (#3010)
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  packages/eslint-plugin/src/rules/no-unexplained-disabled-test.ts
  packages/eslint-plugin/test/rules/no-unexplained-disabled-test.spec.ts
Due: i18n, types, eslint, test:unit

Publish changelog for api-2023.09.11.16.56.52 (#3014)
  documentation/changelogs/api/2023.09.11.16.56.52.md
Due: none

Publish changelog for frontend-2023.09.11.17.34.23 (#3015)
  documentation/changelogs/frontend/2023.09.11.17.34.23.md
Due: none

Provider: justtakeitfree.com (#2793)
  catalog/DAGs.md
  catalog/dags/common/loader/provider_details.py
  catalog/dags/providers/provider_api_scripts/justtakeitfree.py
  catalog/dags/providers/provider_workflows.py
  catalog/env.template
  catalog/tests/dags/providers/provider_api_scripts/resources/justtakeitfree/single_item.json
  catalog/tests/dags/providers/provider_api_scripts/test_justtakeitfree.py
Due: none

`mature` -> `sensitive` frontend copy and code (#3006)
  api/api/serializers/media_serializers.py
  api/test/unit/conftest.py
  api/test/unit/serializers/test_media_serializers.py
  frontend/feat/feature-flags.json
  frontend/src/constants/content-report.ts
  frontend/src/locales/scripts/en.json5
  frontend/src/types/media.ts
  frontend/src/utils/content-safety.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/locales/ar.json
  frontend/test/locales/ru.json
  frontend/test/playwright/e2e/report-media.spec.ts
  frontend/test/playwright/e2e/search-query-client.spec.ts
  frontend/test/playwright/e2e/search-query-server.spec.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-focused-md-linux.png
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts-snapshots/content-report-unfocused-md-linux.png
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/ltr-full-page-report-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/rtl-full-page-report-xl-linux.png
  frontend/test/unit/fixtures/audio.js
  frontend/test/unit/fixtures/image.js
  frontend/test/unit/specs/components/v-content-report-form.spec.js
Due: i18n, types, eslint, test:unit

Media results null check (#3016)
  frontend/src/data/media-service.ts
Due: i18n, types, eslint, test:unit

Filter languages by presence of ISO (#3017)
  frontend/nuxt.config.ts
Due: i18n, types, eslint, test:unit

Remove django-sslserver (#3002)
  api/Pipfile
  api/Pipfile.lock
  api/conf/settings/base.py
Due: none

remove `requests-oauthlib` from Pipfile (#3018)
  api/Pipfile
  api/Pipfile.lock
Due: none

Refactor popularity SQL (#2964)
  catalog/DAGs.md
  catalog/dags/common/constants.py
  catalog/dags/common/loader/sql.py
  catalog/dags/common/popularity/README.md
  catalog/dags/common/popularity/constants.py
  catalog/dags/common/popularity/sql.py
  catalog/dags/common/sql.py
  catalog/dags/common/storage/db_columns.py
  catalog/dags/common/storage/tsv_columns.py
  catalog/dags/common/utils.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/recreate_view_data_task_factory.py
  catalog/dags/database/batched_update/batched_update.py
  catalog/dags/database/recreate_popularity_calculation_dag_factory.py
  catalog/dags/popularity/popularity_refresh_dag_factory.py
  catalog/dags/popularity/popularity_refresh_types.py
  catalog/dags/popularity/recreate_popularity_calculation_dag_factory.py
  catalog/dags/popularity/refresh_popularity_metrics_task_factory.py
  catalog/dags/popularity/sql.py
  catalog/tests/dags/common/conftest.py
  catalog/tests/dags/common/loader/test_sql.py
  catalog/tests/dags/common/popularity/__init__.py
  catalog/tests/dags/common/popularity/test_dag_factory.py
  catalog/tests/dags/common/popularity/test_resources/mock_popularity_dump.tsv
  catalog/tests/dags/common/test_utils.py
  catalog/tests/dags/conftest.py
  catalog/tests/dags/popularity/__init__.py
  catalog/tests/dags/popularity/test_popularity_refresh_types.py
  catalog/tests/dags/popularity/test_sql.py
  catalog/tests/dags/test_dag_parsing.py
  catalog/tests/test_utils/sql.py
  docker/upstream_db/0004_openledger_image_view.sql
  docker/upstream_db/0007_openledger_audio_view.sql
  ingestion_server/test/integration_test.py
  ingestion_server/test/mock_schemas/audio_view.sql
  ingestion_server/test/mock_schemas/image_view.sql
  load_sample_data.sh
Due: none

Add content safety info to `SELECT_SEARCH_RESULT` event (#2983)
  frontend/src/components/VImageCell/VImageCell.vue
  frontend/src/components/VSearchResultsGrid/VAudioResult.vue
  frontend/src/types/analytics.ts
  frontend/src/utils/decode-media-data.ts
  frontend/test/playwright/e2e/all-results-analytics.spec.ts
Due: i18n, types, eslint, test:unit

Initialise runbooks for Nuxt 2XX/5XX alarms (#2974)
  documentation/meta/monitoring/runbooks/index.md
  documentation/meta/monitoring/runbooks/nuxt_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/nuxt_request_count.md
Due: none

Update links in metadata section on single result page (#2851)
  frontend/src/components/VMediaInfo/VMediaDetails.vue
  frontend/src/components/VMediaInfo/VMetadata.vue
  frontend/src/components/VMediaInfo/VMetadataValue.vue
  frontend/src/pages/audio/_id/index.vue
  frontend/src/pages/image/_id/index.vue
  frontend/src/stores/provider.ts
  frontend/src/utils/metadata.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/audio-rtl-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-ltr-from-search-results-xs-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-2xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-lg-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-md-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-sm-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xl-linux.png
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts-snapshots/image-rtl-from-search-results-xs-linux.png
  frontend/test/unit/specs/components/VMediaInfo/v-media-details.spec.js
Due: i18n, types, eslint, test:unit

Resolve flakiness in global audio player VR tests (#3021)
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts-snapshots/global-audio-player-on-search-rtl-png-xs-linux.png
Due: i18n, types, eslint, test:unit

Populate sensitivities for single result view (#3013)
  api/api/controllers/search_controller.py
  api/api/utils/search_context.py
  api/api/views/media_views.py
  api/test/media_integration.py
  api/test/test_audio_integration.py
  api/test/test_image_integration.py
  api/test/unit/utils/test_search_context.py
Due: none

Add runbooks for first API alarms (#2738)
  documentation/meta/monitoring/runbooks/api_http_2xx_under_threshold.md
  documentation/meta/monitoring/runbooks/api_http_5xx_above_threshold.md
  documentation/meta/monitoring/runbooks/api_request_count_above_threshold.md
  documentation/meta/monitoring/runbooks/index.md
Due: none

Update dependency Pillow to v10.0.1 (#3030)
  api/Pipfile
  api/Pipfile.lock
Due: none

Publish changelog for api-2023.09.15.19.15.58 (#3031)
  documentation/changelogs/api/2023.09.15.19.15.58.md
Due: none

Deduplicate checks between ESLint and TypeScript (#3008)
  frontend/src/modules/prometheus.ts
  frontend/src/plugins/ua-parse.ts
  packages/eslint-plugin/src/configs/import.ts
  packages/eslint-plugin/src/configs/index.ts
  packages/eslint-plugin/src/configs/typescript.ts
  tsconfig.base.json
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2023.09.18.10.25.25 (#3033)
  documentation/changelogs/frontend/2023.09.18.10.25.25.md
Due: none

Upgrade ES dependencies to match cluster version (#3029)
  api/Pipfile
  api/Pipfile.lock
  api/api/models/media.py
  api/conf/settings/elasticsearch.py
  api/test/factory/models/__init__.py
  api/test/factory/models/audio.py
  api/test/factory/models/image.py
  api/test/factory/models/media.py
  api/test/unit/conftest.py
  api/test/unit/controllers/test_search_controller.py
  api/test/unit/models/test_media_report.py
  api/test/unit/utils/test_search_context.py
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
  ingestion_server/ingestion_server/es_helpers.py
  ingestion_server/test/integration_test.py
Due: none

"mature" -> "sensitive" in api help strings (#3022)
  api/api/migrations/0052_relational_fields.py
  api/api/models/audio.py
  api/api/models/media.py
  api/api/serializers/media_serializers.py
Due: none

Publish changelog for api-2023.09.19.08.13.24 (#3040)
  documentation/changelogs/api/2023.09.19.08.13.24.md
Due: none

Remove mentions of tcv from docs (#3041)
  documentation/index.md
  documentation/meta/ci_cd/actions.md
  documentation/meta/ci_cd/artifacts.md
  documentation/meta/ci_cd/jobs/documentation.md
Due: none

Remove `django-storages` and associated conf (#3036)
  api/Pipfile
  api/Pipfile.lock
  api/conf/settings/__init__.py
  api/conf/settings/s3.py
  api/env.template
Due: none

Reference WordPress CoC and etiquette in Openverse CoC (#3038)
  CODE_OF_CONDUCT.md
Due: none

Re-add gevent monkey-patching (#3047)
  api/Pipfile
  api/Pipfile.lock
  api/conf/wsgi.py
  api/manage.py
Due: none

Add uvloop (#3048)
  api/Pipfile
  api/Pipfile.lock
  api/conf/wsgi.py
  api/manage.py
  pyproject.toml
Due: none

Correctly set up constant fields in API responses (#3035)
  api/api/serializers/image_serializers.py
  api/api/serializers/provider_serializers.py
Due: none

Add pagination examples to fix DRF spectacular warnings (#3039)
  api/api/utils/pagination.py
Due: none

Publish changelog for api-2023.09.20.07.37.52 (#3049)
  documentation/changelogs/api/2023.09.20.07.37.52.md
Due: none
