Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, types, eslint, test:unit, render-release-drafter

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  types: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  eslint: any of: (frontend|automations|packages).*?\.(js|ts|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  test:unit: any of: ^(frontend|packages)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|archive|retired

Unify Vue components (#3593)
  frontend/src/components/VButton.vue
  frontend/src/components/VHeader/VHeaderMobile/VContentSettingsModalContent.vue
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VHomepageContent.vue
  frontend/src/components/VItemGroup/VItem.vue
  frontend/src/components/VLogoLoader/VLogoLoader.vue
  frontend/src/components/VMediaInfo/VByLine/VSourceCreatorButton.vue
  frontend/src/components/VModal/VModalContent.vue
  frontend/src/components/VSnackbar.vue
  frontend/src/components/VTabs/VTab.vue
  frontend/src/types/button.ts
Due: i18n, types, eslint, test:unit

Bump jwcrypto from 1.5.0 to 1.5.1 in /api (#3600)
  api/Pipfile.lock
Due: none

Update pnpm from 7.17.1 to 8.12.1 (#3556)
  .github/workflows/bundle_size.yml
  frontend/Dockerfile
  package.json
  pnpm-lock.yaml
Due: i18n, types, test:unit

Publish changelog for api-2024.01.01.19.52.14 (#3612)
  documentation/changelogs/api/2024.01.01.19.52.14.md
Due: none

Publish changelog for frontend-2024.01.01.19.52.49 (#3610)
  documentation/changelogs/frontend/2024.01.01.19.52.49.md
Due: none

Update workflows (#3604)
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Update dependency elasticsearch to v8.11.1 (#3608)
  api/Pipfile
  api/Pipfile.lock
  ingestion_server/Pipfile
  ingestion_server/Pipfile.lock
Due: none

Update dependency babel-loader to v8.3.0 (#3607)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency vue-tsc to v1.8.27 (#3603)
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency async-mutex to ^0.4.0 (#3606)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Remove step to deploy production thumbnails (#3611)
  .github/workflows/release-app.yml
Due: none

Silence the gunicorn access log (#3617)
  api/run.py
Due: none

Update Airflow filtered warnings, address deprecations (#3591)
  catalog/dags/common/ingestion_server.py
  catalog/env.template
  catalog/pytest.ini
Due: none

Delete unused VOldIconButton (#3613)
  frontend/src/components/VIconButton/VOldIconButton.vue
  frontend/src/components/VIconButton/meta/VOldIconButton.stories.mdx
  frontend/test/storybook/visual-regression/v-old-icon-button.spec.ts
  frontend/test/storybook/visual-regression/v-old-icon-button.spec.ts-snapshots/v-old-icon-button-sizes-linux.png
Due: i18n, types, eslint, test:unit

Refactor Playwright tests (#3614)
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/collections.spec.ts
  frontend/test/playwright/e2e/external-sources.spec.ts
  frontend/test/playwright/e2e/filters-sidebar-keyboard.spec.ts
  frontend/test/playwright/e2e/filters.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/e2e/header-internal.spec.ts
  frontend/test/playwright/e2e/image-detail.spec.ts
  frontend/test/playwright/e2e/skip-to-content.spec.ts
  frontend/test/playwright/e2e/translation-banner.spec.ts
  frontend/test/playwright/utils/navigation.ts
  frontend/test/playwright/visual-regression/components/content-report-form.spec.ts
  frontend/test/playwright/visual-regression/components/external-sources-section.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/components/global-audio-player.spec.ts
  frontend/test/playwright/visual-regression/components/header.spec.ts
  frontend/test/playwright/visual-regression/pages/homepage.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/playwright/visual-regression/pages/search-with-banners.spec.ts
Due: i18n, types, eslint, test:unit

Update dependency @types/node to v18.19.4 (#3602)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @playwright/test to v1.40.1 (#3615)
  frontend/package.json
  frontend/test/playwright/e2e/attribution.spec.ts
  frontend/test/playwright/e2e/global-audio.spec.ts
  frontend/test/playwright/visual-regression/components/filters.spec.ts
  frontend/test/playwright/visual-regression/pages/pages-single-result.spec.ts
  frontend/test/playwright/visual-regression/pages/pages.spec.ts
  frontend/test/storybook/visual-regression/v-header-internal.spec.ts-snapshots/mobile-header-internal-closed-ltr-xs-linux.png
  frontend/test/storybook/visual-regression/v-image-cell.spec.ts
  frontend/test/storybook/visual-regression/v-media-reuse.spec.ts
  frontend/test/storybook/visual-regression/v-safety-wall.spec.ts
  frontend/test/tapes/detail/audio/7e063ee6-343f-48e4-a4a5-f436393730f6_keep-alive.json5
  frontend/test/tapes/detail/images/e9d97a98-621b-4ec2-bf70-f47a74380452_keep-alive.json5
  frontend/test/tapes/response-625.json5
  frontend/test/tapes/response-626.json5
  frontend/test/tapes/search/audio/q=birds&source=freesound&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=birds&source=freesound_close.json5
  frontend/test/tapes/search/audio/q=cat&license_type=commercial&license=cc0&peaks=true_close.json5
  frontend/test/tapes/search/audio/q=cat&license_type=commercial&license=cc0&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=honey&length=shortest&peaks=true_close.json5
  frontend/test/tapes/search/audio/q=honey&length=shortest&peaks=true_keep-alive.json5
  frontend/test/tapes/search/audio/q=querywithnoresults&peaks=true_keep-alive.json5
  frontend/test/tapes/search/images/q=birds&source=flickr_close.json5
  frontend/test/tapes/search/images/q=birds&source=flickr_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&aspect_ratio=tall_close.json5
  frontend/test/tapes/search/images/q=cat&aspect_ratio=tall_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&category=photograph_close.json5
  frontend/test/tapes/search/images/q=cat&category=photograph_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&extension=jpg_close.json5
  frontend/test/tapes/search/images/q=cat&extension=jpg_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&license=by&extension=jpg_close.json5
  frontend/test/tapes/search/images/q=cat&license=by&extension=jpg_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&license=cc0&aspect_ratio=tall_close.json5
  frontend/test/tapes/search/images/q=cat&license=cc0&aspect_ratio=tall_keep-alive.json5
  frontend/test/tapes/search/images/q=cat&license_type=commercial&license=cc0_keep-alive.json5
  frontend/test/tapes/search/images/q=querywithnoresults_keep-alive.json5
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

HOTFIX: Convert encoded HTTP connection variables to http type not https (#3624)
  catalog/entrypoint.sh
Due: none

Publish changelog for catalog-2024.01.04.20.39.50 (#3625)
  documentation/changelogs/catalog/2024.01.04.20.39.50.md
Due: none

Update dependency eslint-plugin-playwright to ^0.21.0 (#3609)
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/index.ts
  pnpm-lock.yaml
Due: types, eslint, test:unit

Implementation Plan: Django admin moderator access control and base improvements (#3494)
  documentation/projects/proposals/trust_and_safety/content_report_moderation/20231208-implementation_plan_django_admin_moderator_access.md
Due: none

pgcli version is extracted into a docker argument (#3628)
  .github/workflows/ci_cd.yml
  api/justfile
  docker-compose.yml
  docker/upstream_db/Dockerfile
  justfile
Due: none

Remove unused AWS variables (#3627)
  api/conf/settings/__init__.py
  api/conf/settings/aws.py
  api/env.template
Due: none

Publish changelog for api-2024.01.08.20.06.53 (#3645)
  documentation/changelogs/api/2024.01.08.20.06.53.md
Due: none

Publish changelog for frontend-2024.01.08.19.12.18 (#3643)
  documentation/changelogs/frontend/2024.01.08.19.12.18.md
Due: none

Add secret-key check (#3623)
  api/conf/settings/security.py
Due: none

Replaced `cURL` slack workflows with `slackapi` (#3577)
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
Due: none

Fix slack ping action version reference (#3651)
  .github/workflows/discussion_ping.yml
  .github/workflows/pr_limit_reminders.yml
  .github/workflows/pr_ping.yml
Due: none

Documentation for becoming a committer, reorganize contributing pages (#3594)
  documentation/conf.py
  documentation/general/contributing.md
  documentation/meta/contribution/becoming_a_committer.md
  documentation/meta/contribution/codespell.md
  documentation/meta/contribution/communication_aliases.md
  documentation/meta/contribution/current_maintainers.md
  documentation/meta/contribution/dev_flow.md
  documentation/meta/contribution/github_contribution_practices.md
  documentation/meta/contribution/index.md
  documentation/meta/contribution/maintainer_tasks.md
  documentation/meta/index.md
Due: none

Add additional_query_params to provider DAG configuration (#3648)
  catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  catalog/dags/providers/provider_dag_factory.py
  catalog/tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Due: none

Convert unittest to pytest (#3622)
  catalog/tests/dags/common/sensors/test_single_run_external_dags_sensor.py
  ingestion_server/test/integration_test.py
Due: none

Bump jinja2 from 3.1.2 to 3.1.3 in /documentation (#3654)
  documentation/Pipfile.lock
Due: none

Fix PR limit reminders (#3657)
  .github/workflows/pr_limit_reminders.yml
Due: none

Retrieve Auckland Museum Image Data (#3258)
  catalog/dags/common/loader/provider_details.py
  catalog/dags/common/requester.py
  catalog/dags/providers/provider_api_scripts/auckland_museum.py
  catalog/dags/providers/provider_workflows.py
  catalog/tests/dags/providers/provider_api_scripts/resources/aucklandmuseum/single_item.json
  catalog/tests/dags/providers/provider_api_scripts/test_auckland_museum.py
Due: none

Increase ES throttling rate in Ingestion Server (#3644)
  ingestion_server/ingestion_server/indexer.py
Due: none

Fix formatting of PR ping Slack messages (#3653)
  .github/workflows/pr_ping.yml
Due: none

Prevent iNaturalist from running alongside any other DAGs (#3025)
  catalog/dags/providers/provider_api_scripts/inaturalist.py
Due: none

Fix broken pipenv install link in general quickstart guide (#3662)
  documentation/general/general_setup.md
Due: none

Bump jinja2 from 3.1.2 to 3.1.3 in /utilities/project_planning (#3655)
  utilities/project_planning/Pipfile.lock
Due: none

Add codeowners pre-commit check (#3570)
  .github/CODEOWNERS
  .pre-commit-config.yaml
Due: none
