Repository rocktec57/wp_openverse: changes, and which pre-commit hooks are due for each by the changed paths.
All: i18n, fix-console-code-block, types, eslint, test:unit, render-release-drafter, vale

Path conditions:
  i18n: any of: ^frontend/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  fix-console-code-block: any of: ^documentation/.*\.md$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  types: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  eslint: any of: (frontend|automations|packages/js).*?\.(js|ts|mjs|vue|json5|json)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  test:unit: any of: ^(frontend|packages/js)/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  render-release-drafter: any of: ^templates/.*$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap
  vale: any of: (.vale/.*|.mdx?)$, but not: Pipfile\.lock|migrations|\.idea|node_modules|retired|\.snap

Update dependency vite to v5.4.6 [SECURITY] (#5068)
  frontend/package.json
  packages/js/api-client/package.json
  packages/js/api-client/vitest.config.mts
  packages/js/eslint-plugin/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Publish changelog for frontend-2024.10.24.04.16.14 (#5073)
  documentation/changelogs/frontend/2024.10.24.04.16.14.md
Due: fix-console-code-block, vale

Add missing warning arg in `rotate_envfiles` DAG (#5074)
  catalog/dags/maintenance/rotate_envfiles.py
Due: none

Use the correct environment DB for getting the record count of media to reindex (#5077)
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Fix parameter type for fetching launch template number (#5078)
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Use port 8002 for indexer worker in non-local environment (#5080)
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Wait for worker to initialize before trying to trigger reindexing task (#5079)
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Log instance status, pass if empty (#5081)
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Update node and pnpm (#5084)
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency npm-run-all2 to v7 (#5088)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update python dev dependencies (major) (#5086)
  api/pdm.lock
  api/pyproject.toml
  documentation/pdm.lock
  documentation/projects/proposals/monitoring/20220307-project_proposal.md
  documentation/projects/proposals/trust_and_safety/detecting_sensitive_textual_content/20230309-implementation_plan_sensitive_terms_list.md
  documentation/pyproject.toml
  indexer_worker/pdm.lock
  indexer_worker/pyproject.toml
Due: fix-console-code-block, vale

Migrate renovate config (#5091)
  .github/renovate.json5
Due: none

Update workflows (#5090)
  .github/workflows/ci_cd.yml
  .github/workflows/tag_docker_image_and_trigger_deployment.yml
  .pre-commit-config.yaml
Due: none

Update dependency postcss-focus-visible to v10 (#5089)
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update dependency @rollup/plugin-commonjs to v28 (#5093)
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update node to v.22 (#5096)
  package.json
Due: none

Drop bespoke time-freezing fixture and adopt FreezeGun (#5097)
  catalog/requirements-dev.txt
  catalog/tests/dags/conftest.py
  catalog/tests/dags/maintenance/test_pr_review_reminders.py
Due: none

Update workflows (#5098)
  .github/workflows/pr_label_check.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
Due: none

Publish changelog for frontend-2024.10.28.15.42.58 (#5100)
  documentation/changelogs/frontend/2024.10.28.15.42.58.md
Due: fix-console-code-block, vale

Update dependency @rollup/plugin-typescript to v12 (#5094)
  packages/js/api-client/package.json
  packages/js/k6/package.json
  pnpm-lock.yaml
Due: types, eslint, test:unit

Update wait_for_worker checks to check instance is running and reachable (#5101)
  catalog/dags/data_refresh/distributed_reindex.py
  catalog/tests/dags/data_refresh/test_distributed_reindex.py
Due: none

Update dependency vue-tsc to v2.1.8 (#5092)
  frontend/package.json
  frontend/src/components/VHeader/VHeaderMobile/VHeaderMobile.vue
  frontend/src/components/VSafeBrowsing/VSafeBrowsing.vue
  package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Update docker.io/nginx Docker tag to v1.27.2 (#5102)
  api/Dockerfile
  frontend/Dockerfile.nginx
Due: i18n, types, test:unit

Add Collect creator data from Europeana API (#5057)
  catalog/dags/providers/provider_api_scripts/europeana.py
  catalog/tests/dags/providers/provider_api_scripts/test_europeana.py
Due: none

Remove logic to change port to 8002 for prod data refresh. We'll instead change the port in prod to match local (#5111)
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Fix param name (#5112)
  catalog/dags/data_refresh/distributed_reindex.py
Due: none

Log response in wait_for_reindex (#5113)
  catalog/dags/common/elasticsearch.py
Due: none

Increase the timeout before taking a dark snapshot (#5106)
  frontend/test/playwright/utils/expect-snapshot.ts
Due: i18n, types, eslint, test:unit

Update python version in API and attribution (#5095)
  api/Dockerfile
  api/pdm.lock
  api/pyproject.toml
  packages/python/openverse-attribution/pdm.lock
  packages/python/openverse-attribution/pyproject.toml
Due: none

Prevent layout shift by removing `<ClientOnly>` on the theme selector (#5116)
  frontend/src/components/VFooter/VFooter.vue
  frontend/src/components/VThemeSelect/VThemeSelect.vue
Due: i18n, types, eslint, test:unit

Create env files from templates in a change-preserving way (#5099)
  .gitignore
  justfile
Due: none

Manually set option's selected prop (#5118)
  frontend/src/components/VSelectField/VSelectField.vue
Due: i18n, types, eslint, test:unit

Update Storybook and pin Nuxt Storybook module version (#5025)
  frontend/docker-compose.playwright.yml
  frontend/package.json
  pnpm-lock.yaml
Due: i18n, types, eslint, test:unit

Add env in data refresh notifications (#5115)
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/reporting.py
Due: none

Adjust timeouts for image data refresh (#5123)
  catalog/dags/data_refresh/copy_data.py
  catalog/dags/data_refresh/data_refresh_types.py
Due: none

Configure poke interval for the filtered index creation by environment (#5114)
  catalog/dags/common/elasticsearch.py
  catalog/dags/data_refresh/create_and_populate_filtered_index.py
  catalog/dags/data_refresh/dag_factory.py
  catalog/dags/data_refresh/data_refresh_types.py
  catalog/dags/elasticsearch_cluster/create_proportional_by_source_staging_index/create_proportional_by_source_staging_index_dag.py
Due: none

Make alter data batch size configurable by media type (#5124)
  catalog/dags/common/constants.py
  catalog/dags/data_refresh/alter_data.py
  catalog/dags/data_refresh/data_refresh_types.py
Due: none
